In [1]:
import os
import datetime
import json
import tweepy as tw
import pandas as pd  
import numpy as np
from urllib.request import urlopen
import requests
from neo4j import __version__ as neo4j_version
from neo4j import GraphDatabase
import spacy
from spacy.tokens import DocBin
from bcr_api.bwproject import BWProject, BWUser
from bcr_api.bwresources import BWQueries, BWGroups, BWAuthorLists, BWSiteLists, BWLocationLists, BWTags, BWCategories, BWRules, BWMentions, BWSignals
from random import randint
import json

In [2]:
# Function to create an entity dictionary from spaCy's NER
def get_ent_list(doc):
    
    entList = []
    
    for ent in doc.ents:
        if ent.label_ == 'PERSON' or ent.label_ == 'ORG' or ent.label_ == 'EVENT' or ent.label_ == 'FAC':
            entList.append(ent.text)
        else:
            pass

    return entList

# Function to input language code from Twitter and return appropriate Spacy model
def getModelName(langCode):
    switcher = {
        'da': "da_core_news_md",
        'de': "de_core_news_md",
        'en': "en_core_web_md",
        'es': "es_core_news_md",
        'fr': "fr_core_news_md",
        'it': "it_core_news_md",
        'no': "nb_core_news_md",
        'nl': "nl_core_news_md",
        'pl': "pl_core_news_md",
        'pt': "pt_core_news_md",
        'ro': "ro_core_news_md",
        'ru': "ru_core_news_md",
        'zh': "zh_core_web_md"
    }
    return switcher.get(langCode, "unknown")

# Function to get entities based on inputting language and text
def getEntities(language, text):
    model = getModelName(language)
    
    if model != 'unknown':
        nlp = spacy.load(model)
        doc = nlp(text)
        entList = get_ent_list(doc)
        return entList
    else:
        entList = []
        return entList

In [3]:
#Define the Neo4j connection class

class Neo4jConnection:
    
    def __init__(self, uri, user, pwd):
        self.__uri = uri
        self.__user = user
        self.__pwd = pwd
        self.__driver = None
        try:
            self.__driver = GraphDatabase.driver(self.__uri, auth=(self.__user, self.__pwd))
        except Exception as e:
            print("Failed to create the driver:", e)
        
    def close(self):
        if self.__driver is not None:
            self.__driver.close()
        
    def query(self, query, db=None):
        assert self.__driver is not None, "Driver not initialized!"
        session = None
        response = None
        try: 
            session = self.__driver.session(database=db) if db is not None else self.__driver.session() 
            response = list(session.run(query))
        except Exception as e:
            print("Query failed:", e)
        finally: 
            if session is not None:
                session.close()
        return response

In [4]:
# Function to identify tweet type
def getTweetType(tweet):
    try:
        if ((tweet.in_reply_to_status_id is None) and (tweet.retweeted_status is None) and (tweet.is_quote_status == False)):
            typeT = "Regular"
        elif tweet.is_quote_status == True:
            typeT = "Quote tweet"    
        elif tweet.in_reply_to_status_id is not None:
            typeT = "Reply"
        elif tweet.retweeted_status is not None:
            typeT = "Retweeted"        
        else:
            typeT = "Unknown"
    except:
        if ((tweet.in_reply_to_status_id is None) and (tweet.is_quote_status == False)):
            typeT = "Regular"
        elif tweet.is_quote_status == True:
            typeT = "Quote tweet"    
        elif tweet.in_reply_to_status_id is not None:
            typeT = "Reply"        
        else:
            typeT = "Unknown"        
    return(typeT)

In [5]:
### CONNECTING TO BRANDWATCH API ###

# Get login and password from file 
f=open("login.txt","r")
lines=f.readlines()

BWusername=lines[0]
BWusername=BWusername.rstrip()
BWpassword=lines[1]
f.close()

# Direct Brandwatch to a separate tokens file that's required
BWUser(username=BWusername, password=BWpassword, token_path="tokens.txt")

# Connect to the API
YOUR_ACCOUNT = BWusername
YOUR_PROJECT = "Cargill"
project = BWProject(username=YOUR_ACCOUNT, project=YOUR_PROJECT)

09:12:56 INFO: Overwriting access token for james_warden@cargill.com in tokens.txt
09:12:57 DEBUG: https://api.brandwatch.com/projects

In [6]:
### CONNECTING TO TWITTER API ###

# Get keys from file
f=open("twitter-keys.txt","r")
lines=f.readlines()
consumer_key=lines[0].rstrip()
consumer_secret = lines[1].rstrip()
access_token = lines[2].rstrip()
access_token_secret = lines[3].rstrip() 
f.close()

# Connect to the API
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

In [7]:
### CONNECTING TO NEO4J SERVER ###

# Note that this is running locally on my laptop
# Server must be running for any Neo4j interactions to work

# Get uri, login and password from file 
f=open("neo4j.txt","r")
lines=f.readlines()
uri = lines[0].rstrip()
NEOusername=lines[1].rstrip()
NEOpassword=lines[2].rstrip()
f.close()

# Connect to Neo4j
conn = Neo4jConnection(uri="bolt://localhost:7687", user=NEOusername, pwd=NEOpassword)

In [ ]:
today = '2021-11-22'
start = '2021-10-22'

queries = BWQueries(project)
filtered = queries.get_mentions(name = "Cargill Main",
                                startDate = start, 
                                endDate = today)

In [ ]:
# Putting this in there in case I messed up in some way
with open('brandwatch_save.json', 'w') as saving:
    json.dump(filtered , saving)

In [8]:
f = open('brandwatch_save.json',)
filtered = json.load(f)

In [9]:
counter = 0 

# Parent categories that are the only ones I'll pull tags from
relevantCats = ['Activists', 'Cargill Brands', 'Cargill Leaders', 'Competitors', 'Customers', 'Customer & Competitor Executives', 
                'Events', 'Financial Institutions', 'Labor', 'Metals Competitors', 'Other Companies', 'Other Organizations', 
                'Parties', 'Partners', 'Politicians', 'Trade Orgs']

for f in filtered:
    print(counter)
    irrelevant = False # set irrelevant to false for use later
    
    categoriesDict = f['categoryDetails']
    categoriesList = [] # Categories captured through boolean tags in the platform
    
    for c in categoriesDict:
        if c['parentName'] == 'Irrelevant':
            irrelevant = True # change irrelevant to true so we don't use this post
            break # Get out of the interior for loop because it's no longer necessary if there's an irrelevant tag
            
        if c['parentName'] in relevantCats:
            categoriesList.append(c['name'])
    
    if irrelevant is False: # This says skip process if it's an irrelevant item
        pageType = f['pageType']
        url = f['url']
        date = f['date']

        try:
        
            # We need authors for some of our nodes but some are blank or unknown
            # We're creating a random name for them
            author = f['author']
            if author is None or len(author) == 0:
                authID = randint(1, 999999999) 
                authID = str(authID)
                author = "unknown"+authID

            country = str(f['country'])
            text = f['fullText']
            text = str(text) # converts none type to a string for CQL
            text = text.replace('"',"")
            
            language = f['language']
            domain = f['domain']


            if pageType == 'twitter': # Twitter doesn't come through with text, so we'll process it differently

                tweetID = f['guid'] # Grab ID that will be used for Twitter API pull
                tweet = api.get_status(tweetID, tweet_mode = "extended") # Grab the tweet object via Tweepy
                tweetType = getTweetType(tweet) # Determine tweet type
                print(tweetType)

                # Get user information
                screen_name = tweet.user.screen_name
                name = tweet.user.name
                userID = str(tweet.user.id_str)
                userDescript = str(tweet.user.description)
                followers = str(tweet.user.followers_count)
                location = str(tweet.user.location)
                verified = str(tweet.user.verified)

                ### Merge author node ###
                query_string = "MERGE (e:Entity {ID:\""+userID+"\", Type:\"TwitterAccount\", Name:\'"+screen_name+"\'})"
                conn.query(query_string, db='neo4j')
                query_string = "MATCH (e:Entity {ID:\""+userID+"\", Type:\"TwitterAccount\", Name:\'"+screen_name+"\'}) SET e.Description = \"" + userDescript +"\", e.Followers ="+followers+", e.Location = \""+location+"\", e.Verified = "+verified
                conn.query(query_string, db='neo4j')

                ### Merge tweet node placeholder ###
                query_string = "MERGE (p:Post {ID:\""+tweetID+"\", Type:\"Tweet\"})"
                conn.query(query_string, db='neo4j')

                if tweetType == 'Retweeted':

                    # Because retweets are just sharing standalone tweets, we're not doing further processing
                    # Instead, we're just going to create the relationship to the node that was merged above.                 
                    # If the tweet data hasn't been set, the above will remain a placeholder node that will be processed when the original comes through
                    # If the tweet did exist, there's no further data to provide.
                    # This cuts processing time.

                    # Create retweet edge
                    query_string = "MATCH (e:Entity), (p:Post) WHERE e.ID = \""+userID+"\" AND p.ID = \""+tweetID+"\" AND p.Type = \"Tweet\" CREATE (e)-[r:RETWEETED]->(p)"
                    conn.query(query_string, db='neo4j')

                else:



                    # Gathering information for special edges for @mentions 
                    mentionsDict = tweet.entities['user_mentions'] # Grab data on all accounts @mentioned
                    mentionsList = [] # Only being used for checks to avoid NER causing duplicates

                    for m in mentionsDict:
                        mentionsList.append(m['screen_name']) # Build out the list

                        if m['screen_name'] in categoriesList:
                            categoriesList.remove(m['screen_name']) # Remove copies in categoriesList to avoid duplicates

                    text = tweet.full_text # Get the full text from the tweet object
                    text = str(text)
                    text = text.replace('"',"")
                    
                    TWdate = tweet.created_at 

                    # NER Extraction
                    extractedEntities = getEntities(language, text) # Get additional entities through NER
                    if extractedEntities != 'noModel' or len(extractedEntities) > 0: # If NER found entities ...
                        for e in extractedEntities: # Loop through the entities ...
                            if e not in categoriesList:
                                categoriesList.append(e) # and add them to the categories list if they're not already there                

                    # Add date and text
                    query_string = "MATCH (p:Post {ID:\""+tweetID+"\", Type:\"Tweet\"}) SET p.Date = \""+TWdate.isoformat()+"\", p.Text = \""+text+"\""
                    conn.query(query_string, db='neo4j')

                    # Create mentions relationship
                    for m in mentionsDict:
                        M_screen_name = m['screen_name']
                        M_id = str(m['id'])

                        # Merge nodes
                        query_string = "MERGE (e:Entity {ID:\""+M_id+"\", Type:\"TwitterAccount\", Name:\'"+M_screen_name+"\'})"
                        conn.query(query_string, db='neo4j')

                        # Create relationships
                        query_string = "MATCH (p:Post), (e:Entity) WHERE p.ID = \""+tweetID+"\" AND e.ID = \""+M_id+"\" CREATE (p)-[r:AT_MENTIONED]->(e)"
                        conn.query(query_string, db='neo4j')

                    # Create categories list nodes
                    for c in categoriesList:

                        # Merge nodes
                        query_string = "MERGE (e:Entity {Type:\"autoID\", Name:\'"+c+"\'})"
                        conn.query(query_string, db='neo4j')

                        # Create relationship
                        query_string = "MATCH (p:Post), (e:Entity) WHERE p.ID = \""+tweetID+"\" AND e.Name = \""+c+"\" AND e.Type = \"autoID\" CREATE (p)-[r:MENTIONED]->(e)"
                        conn.query(query_string, db='neo4j')                    

                    if tweetType == 'Quote tweet':

                        originalID = tweet.quoted_status_id_str

                        # Create placeholder node for original tweet
                        query_string = "MERGE (p:Post {ID:\""+originalID+"\", Type:\"Tweet\"})"
                        conn.query(query_string, db='neo4j')

                        # Create quote-original relationship
                        query_string = "MATCH (p:Post), (o:Post) WHERE p.ID = \""+tweetID+"\" AND o.ID = \""+originalID+"\" AND p.Type = \"Tweet\" AND o.Type = \"Tweet\" CREATE (p)-[r:QUOTE_TWEETED]->(o)"
                        conn.query(query_string, db='neo4j') 

                        # Create entity-tweet relationship
                        query_string = "MATCH (e:Entity), (p:Post) WHERE e.ID = \""+userID+"\" AND p.ID = \""+tweetID+"\" AND p.Type = \"Tweet\" CREATE (e)-[r:TWEETED]->(p)"
                        conn.query(query_string, db='neo4j')

                    elif tweetType == 'Reply':

                        originalID = tweet.in_reply_to_status_id_str

                        # Create placeholder node for original tweet
                        query_string = "MERGE (p:Post {ID:\""+originalID+"\", Type:\"Tweet\"})"
                        conn.query(query_string, db='neo4j')

                        # Create reply-original relationship
                        query_string = "MATCH (p:Post), (o:Post) WHERE p.ID = \""+tweetID+"\" AND p.ID = \""+originalID+"\" AND p.Type = \"Tweet\" CREATE (p)-[r:REPLIED_TO]->(o)"
                        conn.query(query_string, db='neo4j')

                        # Create account-tweet relationship
                        query_string = "MATCH (e:Entity), (p:Post) WHERE e.ID = \""+userID+"\" AND p.ID = \""+tweetID+"\" AND p.Type = \"Tweet\" CREATE (e)-[r:TWEETED]->(p)"
                        conn.query(query_string, db='neo4j')

                    elif tweetType == 'Regular':

                        # Create account-tweet relationship
                        query_string = "MATCH (e:Entity), (p:Post) WHERE e.ID = \""+userID+"\" AND p.ID = \""+tweetID+"\" AND p.Type = \"Tweet\" CREATE (e)-[r:TWEETED]->(p)"
                        conn.query(query_string, db='neo4j')


                    else:

                        # We already took care of simple retweets 
                        # We've also already taken care of all connections for regular tweets
                        # So there's nothing left to do 

                        pass

            else:

                # Get additional entities through NER
                # Even with types that don't provide full text, maybe we'll get lucky
                extractedEntities = getEntities(language, text) 

                # If additional entities were found, add them into the categories list
                if extractedEntities != 'noModel' or len(extractedEntities) > 0: 
                    for e in extractedEntities:
                        if e not in categoriesList:
                            categoriesList.append(e)

                if pageType == 'news' or pageType == 'blog':
                    domain = str(f['domain'])
                    UVs = str(f['monthlyVisitors'])
                    title = str(f['title'])

                    # Merge publication node
                    query_string = "MERGE (e:Entity {Name:\'"+domain+"\', Type:\""+pageType+"\"})"                
                    conn.query(query_string, db='neo4j')

                    query_string = "MATCH (e:Entity {Name:\'"+domain+"\', Type:\""+pageType+"\"}) SET e.Visitors = "+UVs+", e.Location =\""+country+"\""
                    conn.query(query_string, db='neo4j')

                    # Merge post node
                    query_string = "MERGE (p:Post {Type:\""+pageType+"\", Name:\""+title+"\", Date:\""+date+"\", Link:\""+url+"\", Language:\""+language+"\", Text:\""+text+"\"})"
                    conn.query(query_string, db='neo4j')

                    # Create relationship
                    query_string = "MATCH (e:Entity), (p:Post) WHERE e.Name = \""+domain+"\" AND e.Type = \""+pageType+"\" AND p.Link = \""+url+"\" CREATE (e)-[r:PUBLISHED]->(p)"
                    conn.query(query_string, db='neo4j')

                    # Create categories list nodes
                    for c in categoriesList:

                        # Merge nodes
                        query_string = "MERGE (e:Entity {Type:\"autoID\", Name:\'"+c+"\'})"
                        conn.query(query_string, db='neo4j')

                        # Create relationship
                        query_string = "MATCH (p:Post), (e:Entity) WHERE p.Link = \""+url+"\" AND p.Name = \""+title+"\" AND e.Type = \"autoID\" AND e.Name =\""+c+"\" CREATE (p)-[r:MENTIONED]->(e)"
                        conn.query(query_string, db='neo4j')

                elif pageType == 'instagram':
                    followers = str(f['instagramFollowerCount'])

                    # Brandwatch API does not provide Instagram authors for some reason, and ID is only for the post
                    # So we're just going to do post and mentions

                    # Merge post node
                    query_string = "MERGE (p:Post {Type:\""+pageType+"\", Date:\""+date+"\", Link:\""+url+"\", Language:\""+language+"\", Text:\""+text+"\"})"
                    conn.query(query_string, db='neo4j')

                    # Create categories list nodes
                    for c in categoriesList:

                        # Merge nodes
                        query_string = "MERGE (e:Entity {Type:\"autoID\", Name:\'"+c+"\'})"
                        conn.query(query_string, db='neo4j')

                        # Create relationship
                        query_string = "MATCH (p:Post), (e:Entity) WHERE p.Link = \""+url+"\" AND p.Date = \""+date+"\" AND e.Type = \"autoID\" AND e.Name =\""+c+"\" CREATE (p)-[r:MENTIONED]->(e)"
                        conn.query(query_string, db='neo4j')

                elif pageType == 'reddit':
                    subreddit = f['subreddit']
                    subSubscribers =f['subredditSubscribers']
                    title = str(f['title'])
                    thread = f['threadURL']

                    # Merge subreddit node
                    query_string = "MERGE (e:Entity {Name:\'"+subreddit+"\', Type:\"Subreddit\"})"                
                    conn.query(query_string, db='neo4j')                

                    # Merge subreddit thread
                    query_string = "MERGE (p:Post {Name:\'"+thread+"\', Type:\"SubredditThread\"})"                
                    conn.query(query_string, db='neo4j')               

                    # Merge author node
                    query_string = "MERGE (e:Entity {Name:\""+author+"\", Type:\"RedditAuthor\"})"       
                    conn.query(query_string, db='neo4j')

                    # Merge post node
                    query_string = "MERGE (p:Post {Type:\""+pageType+"Post\", Name:\""+title+"\", Date:\""+date+"\", Link:\""+url+"\", Language:\""+language+"\", Text:\""+text+"\"})"
                    conn.query(query_string, db='neo4j')

                    # Merge subreddit-thread relationship
                    query_string = "MATCH (e:Entity), (p:Post) WHERE e.Name = \""+subreddit+"\" AND e.Type = \"Subreddit\" AND p.Name = \""+thread+"\" AND p.Type = \"SubredditThread\" MERGE (e)-[r:PUBLISHED]->(p)"                
                    conn.query(query_string, db='neo4j')

                    # Merge thread-post relationship
                    query_string = "MATCH (p:Post), (t:Post) WHERE p.Name = \""+title+"\" AND p.Link = \""+url+"\" AND p.Type = \""+pageType+"Post\" AND t.Name = \""+thread+"\" AND t.Type = \"SubredditThread\" CREATE (p)-[r:REPLIED_TO]->(t)"                
                    conn.query(query_string, db='neo4j')

                    # Create author-post relationship
                    query_string = "MATCH (e:Entity), (p:Post) WHERE e.Name = \""+author+"\" AND e.Type = \"RedditAuthor\" AND p.Link = \""+url+"\" CREATE (e)-[r:AUTHORED]->(p)"
                    conn.query(query_string, db='neo4j')

                    # Create categories list nodes
                    for c in categoriesList:

                        # Merge nodes
                        query_string = "MERGE (e:Entity {Type:\"autoID\", Name:\'"+c+"\'})"
                        conn.query(query_string, db='neo4j')

                        # Create relationship
                        query_string = "MATCH (p:Post), (e:Entity) WHERE p.Link = \""+url+"\" AND p.Date = \""+date+"\" AND e.Type = \"autoID\" AND e.Name =\""+c+"\" CREATE (p)-[r:MENTIONED]->(e)"
                        conn.query(query_string, db='neo4j')

                elif pageType == 'youtube':

                    # Merge author node
                    query_string = "MERGE (e:Entity {Name:\'"+author+"\', Type:\"YouTubeAuthor\"})"                
                    conn.query(query_string, db='neo4j')

                    if f['threadEntryType'] == 'reply':

                        # Brandwatch doesn't provide the original video url as its own field for replies
                        # But the title field has it. We just have to remove part of the string
                        originalURL = filtered[597]['title']
                        originalURL = originalURL.replace('Comment on video ','')

                        # Merge original video
                        # Brandwatch doesn't provide many details on the original post with replies
                        # So there's not much more we can add
                        query_string = "MERGE (p:Post {Link:\""+originalURL+"\", Type:\""+pageType+"Original\"})"
                        conn.query(query_string, db='neo4j')

                        # Merge comment post
                        query_string = "MERGE (p:Post {Type:\""+pageType+"Reply\", Date:\""+date+"\", Link:\""+url+"\", Language:\""+language+"\", Text:\""+text+"\"})"
                        conn.query(query_string, db='neo4j')

                        # Create comment-original relationship
                        query_string = "MATCH (c:Post), (o:Post) WHERE c.Link = \""+url+"\" AND c.Type = \""+pageType+"Reply\" AND o.Link = \""+originalURL+"\" AND o.Type = \""+pageType+"Original\" CREATE (c)-[r:REPLIED_TO]->(o)" 
                        conn.query(query_string, db='neo4j')

                        # Create author-comment relationship
                        query_string = "MATCH (e:Entity), (c:Post) WHERE e.Name = \""+author+"\" AND e.Type = \"YouTubeAuthor\" AND c.Link = \""+url+"\" AND c.Type = \""+pageType+"\"Reply\" CREATE (e)-[r:AUTHORED]->(c)"
                        conn.query(query_string, db='neo4j')

                        # Create categories list nodes
                        for c in categoriesList:

                            # Merge nodes
                            query_string = "MERGE (e:Entity {Type:\"autoID\", Name:\'"+c+"\'})"
                            conn.query(query_string, db='neo4j')

                            # Create relationship
                            query_string = "MATCH (p:Post), (e:Entity) WHERE p.Link = \""+url+"\" AND p.Date =\""+date+"\" AND p.Type = \""+pageType+"Reply\" AND e.Type = \"autoID\" AND e.Name =\""+c+"\" CREATE (p)-[r:MENTIONED]->(e)"
                            conn.query(query_string, db='neo4j')

                    else:

                        # Merge original video
                        query_string = "MERGE (p:Post {Link:\""+url+"\", Type:\""+pageType+"Original\"})"
                        conn.query(query_string, db='neo4j')

                        query_string = "MATCH (P:Post {Link:\""+url+"\", Type:\""+pageType+"Original\"}) SET P.Date = \"" + date +"\", P.Text = \""
                        conn.query(query_string, db='neo4j')

                        # Create author-post relationship
                        query_string = "MATCH (e:Entity), (o:Post) WHERE e.Name = \""+author+"\" AND e.Type = \"YouTubeAuthor\" AND o.Link = \""+url+"\" AND o.Type = \""+pageType+"\"Original\" CREATE (e)-[r:AUTHORED]->(o)"
                        conn.query(query_string, db='neo4j')

                        # Create categories list nodes
                        for c in categoriesList:

                            # Merge nodes
                            query_string = "MERGE (e:Entity {Type:\"autoID\", Name:\'"+c+"\'})"
                            conn.query(query_string, db='neo4j')

                            # Create relationship
                            query_string = "MATCH (p:Post), (e:Entity) WHERE p.Link = \""+url+"\" AND p.Type = \""+pageType+"Original\" AND e.Type = \"autoID\" AND e.Name =\""+c+"\" CREATE (p)-[r:MENTIONED]->(e)"
                            conn.query(query_string, db='neo4j')

                elif pageType == 'qq':

                    # Brandwatch API does not provide QQ authors for some reason, and ID is only for the post
                    # So we're just going to do post and mentions

                    # Merge post node
                    query_string = "MERGE (p:Post {Type:\""+pageType+"\", Date:\""+date+"\", Link:\""+url+"\", Language:\""+language+"\", Text:\""+text+"\"})"
                    conn.query(query_string, db='neo4j')

                    # Create categories list nodes
                    for c in categoriesList:

                        # Merge nodes
                        query_string = "MERGE (e:Entity {Type:\"autoID\", Name:\'"+c+"\'})"
                        conn.query(query_string, db='neo4j')

                        # Create relationship
                        query_string = "MATCH (p:Post), (e:Entity) WHERE p.Link = \""+url+"\" AND p.Type = \""+pageType+"\" AND e.Type = \"autoID\" AND e.Name =\""+c+"\" CREATE (p)-[r:MENTIONED]->(e)"
                        conn.query(query_string, db='neo4j')

                elif pageType == 'tumblr':
                    title = str(f['title']) 
                    blogName = str(f['blogName'])

                    # Merge author node
                    query_string = "MERGE (e:Entity {Name:\'"+author+"\', Type:\"TumblrAuthor\"})"                
                    conn.query(query_string, db='neo4j')                          

                    # Merge tumblr blog
                    query_string = "MERGE (e:Entity {Name:\'"+blogName+"\', Type:\""+pageType+"Blog\", Location:\""+country+"\"})"                
                    conn.query(query_string, db='neo4j')                           

                    # Merge post
                    query_string = "MERGE (p:Post {Type:\""+pageType+"Post\", Name:\""+title+"\", Date:\""+date+"\", Link:\""+url+"\", Language:\""+language+"\", Text:\""+text+"\"})"
                    conn.query(query_string, db='neo4j') 

                    # Create author-post relationship           
                    query_string = "MATCH (e:Entity), (p:Post) WHERE e.Name = \""+author+"\" AND e.Type = \"TumblrAuthor\" AND p.Link = \""+url+"\" CREATE (e)-[r:AUTHORED]->(p)"
                    conn.query(query_string, db='neo4j')                

                    # Create blog-post relationship
                    query_string = "MATCH (e:Entity), (p:Post) WHERE e.Name = \""+blogName+"\" AND e.Type = \""+pageType+"Blog\" AND p.Link = \""+url+"\" CREATE (e)-[r:PUBLISHED]->(p)"
                    conn.query(query_string, db='neo4j')

                    # Create categories list nodes
                    for c in categoriesList:

                        # Merge nodes
                        query_string = "MERGE (e:Entity {Type:\"autoID\", Name:\'"+c+"\'})"
                        conn.query(query_string, db='neo4j')

                        # Create relationship
                        query_string = "MATCH (p:Post), (e:Entity) WHERE p.Link = \""+url+"\" AND p.Type = \""+pageType+"Post\" AND e.Type = \"autoID\" AND e.Name =\""+c+"\" CREATE (p)-[r:MENTIONED]->(e)"
                        conn.query(query_string, db='neo4j')

                elif pageType == 'forum':

                    title = str(f['title'])

                    # Merge forum node
                    query_string = "MERGE (e:Entity {Name:\'"+domain+"\', Type:\""+pageType+"\", Location:\""+country+"\"})"                
                    conn.query(query_string, db='neo4j')

                    # Merge post node
                    query_string = "MERGE (p:Post {Type:\""+pageType+"\", Name:\""+title+"\", Date:\""+date+"\", Link:\""+url+"\", Language:\""+language+"\", Text:\""+text+"\"})"
                    conn.query(query_string, db='neo4j')                

                    # Merge author node
                    query_string = "MERGE (e:Entity {Name:\'"+author+"\', Type:\"ForumAuthor\"})"                
                    conn.query(query_string, db='neo4j')                

                    # Create forum-post relationship
                    query_string = "MATCH (e:Entity), (p:Post) WHERE e.Name = \""+domain+"\" AND e.Type = \""+pageType+"\" AND p.Link = \""+url+"\" CREATE (e)-[r:PUBLISHED]->(p)"
                    conn.query(query_string, db='neo4j')

                    # Create author-post relationship
                    query_string = "MATCH (e:Entity), (p:Post) WHERE e.Name = \""+author+"\" AND e.Type = \"ForumAuthor\" AND p.Link = \""+url+"\" CREATE (e)-[r:AUTHORED]->(p)"
                    conn.query(query_string, db='neo4j')

                    # Create categories list nodes
                    for c in categoriesList:

                        # Merge nodes
                        query_string = "MERGE (e:Entity {Type:\"autoID\", Name:\'"+c+"\'})"
                        conn.query(query_string, db='neo4j')

                        # Create relationship
                        query_string = "MATCH (p:Post), (e:Entity) WHERE p.Link = \""+url+"\" AND p.Type = \""+pageType+"\" AND p.Date = \""+date+"\" AND e.Type = \"autoID\" AND e.Name =\""+c+"\" CREATE (p)-[r:MENTIONED]->(e)"
                        conn.query(query_string, db='neo4j')

                elif pageType == 'facebook':
                    threadID = f['threadId']
                    threadURL = f['threadURL']
                    threadAuthor = f['threadAuthor']
                    threadTitle = f['title'] # Yes, this is duplication, but it keeps my CQL easier to understand
                    threadDate = f['threadCreated']

                    if f['threadEntryType'] == 'reply':

                        # Merge original post node
                        # Note that original thread text doesn't come through on replies, so we're leaving that out
                        query_string = "MERGE (p:Post {ID:\""+threadID+"\", Type:\""+pageType+"Original\"})"
                        conn.query(query_string, db='neo4j')

                        query_string = "MATCH (p:Post {ID:\""+threadID+"\, Type:\""+pageType+"Original\"}) SET p.Name = \""+threadTitle+"\", p.Date = \""+threadDate+"\", p.Link = \""+threadURL+"\""
                        conn.query(query_string, db='neo4j')

                        # Merge reply post node
                        query_string = "MERGE (p:Post {Type:\""+pageType+"Reply\", Date:\""+date+"\", Link:\""+url+"\", Language:\""+language+"\", Text:\""+text+"\"})"
                        conn.query(query_string, db='neo4j')   

                        # Merge author node
                        query_string = "MERGE (e:Entity {Name:\'"+author+"\', Type:\"FacebookAuthor\"})"                
                        conn.query(query_string, db='neo4j') 
                        query_string = "MATCH (e:Entity {Name:\""+author+"\", Type:\"FacebookAuthor\"}) SET e.Country = \"" + country +"\""                   
                        conn.query(query_string, db='neo4j')

                        # Create reply-original relationship
                        query_string = "MATCH (c:Post), (o:Post) WHERE c.Link = \""+url+"\" AND c.Type = \""+pageType+"\"Reply\" AND o.ID = \""+threadID+"\" AND o.Type = \""+pageType+"Original\" CREATE (c)-[r:REPLIED_TO]->(o)" 
                        conn.query(query_string, db='neo4j')

                        # Create author-reply relationship
                        query_string = "MATCH (e:Entity), (c:Post) WHERE e.Name = \""+author+"\" AND e.Type = \"FacebookAuthor\" AND c.Link = \""+url+"\" AND c.Type = \""+pageType+"\"Reply\" CREATE (e)-[r:AUTHORED]->(c)"
                        conn.query(query_string, db='neo4j')

                        # Create categories list nodes
                        for c in categoriesList:

                            # Merge nodes
                            query_string = "MERGE (e:Entity {Type:\"autoID\", Name:\'"+c+"\'})"
                            conn.query(query_string, db='neo4j')

                            # Create relationship
                            query_string = "MATCH (p:Post), (e:Entity) WHERE p.Link = \""+url+"\" AND p.Type = \""+pageType+"Reply\" AND p.Date = \""+date+"\" AND e.Type = \"autoID\" AND e.Name =\""+c+"\" CREATE (p)-[r:MENTIONED]->(e)"
                            conn.query(query_string, db='neo4j')

                    elif f['threadEntryType'] == 'post':
                        # Merge original post node
                        # The original thread text does come through on original posts, so we can include it this time

                        query_string = "MERGE (p:Post {ID:\""+threadID+"\", Type:\""+pageType+"Original\"})"
                        conn.query(query_string, db='neo4j')

                        query_string = "MATCH (p:Post {ID:\""+threadID+"\, Type:\""+pageType+"Original\"}) SET p.Name = \""+threadTitle+"\", p.Date = \""+threadDate+"\", p.Link = \""+threadURL+"\", p.Text = \""+text+"\""
                        conn.query(query_string, db='neo4j')                    

                        # Merge author node
                        query_string = "MERGE (e:Entity {Name:\'"+author+"\', Type:\"FacebookAuthor\"})"                
                        conn.query(query_string, db='neo4j') 

                        query_string = "MATCH (e:Entity {Name:\""+author+"\", Type:\"FacebookAuthor\"}) SET e.Country = \"" + country +"\""                   
                        conn.query(query_string, db='neo4j')

                        # Create author-post relationship
                        query_string = "MATCH (e:Entity), (o:Post) WHERE e.Name = \""+author+"\" AND e.Type = \"FacebookAuthor\" AND o.ID = \""+threadID+"\" AND o.Type = \""+pageType+"Original\" CREATE (e)-[r:AUTHORED]->(o)"
                        conn.query(query_string, db='neo4j')                    

                        # Create categories list nodes
                        for c in categoriesList:

                            # Merge nodes
                            query_string = "MERGE (e:Entity {Type:\"autoID\", Name:\'"+c+"\'})"
                            conn.query(query_string, db='neo4j')

                            # Create relationship
                            query_string = "MATCH (p:Post), (e:Entity) WHERE p.Link = \""+url+"\" AND p.Type = \""+pageType+"Original\" AND p.Date = \""+threadDate+"\" AND e.Type = \"autoID\" AND e.Name =\""+c+"\" CREATE (p)-[r:MENTIONED]->(e)"
                            conn.query(query_string, db='neo4j')

                    else:
                        # My test data for Facebook is low
                        # So I'm putting this in here to handle anything unexpected

                        pass

                elif pageType == 'review':

                    # Reviews are funky and inconsistent across sites
                    # So we're going to handle this in a generalizable way that unfortunately leaves out thread relations
                    fullText = f['itemReview'] + ' ' +text # Putting the extra review text in the same field with rest of the text

                    # Generate an id for the post since Brandwatch doesn't provide fields guaranteed to be unique
                    # Although this theoretically could result in duplicates, the odds are small enough for this project
                    # For production, we may want to do a CQL query to confirm
                    randID = randint(1, 999999999) 
                    randID = str(randID)

                    # Merge review node
                    query_string = "MERGE (p:Post {Type:\""+pageType+"\", ID:\""+randID+"\", Date:\""+date+"\", Link:\""+url+"\", Language:\""+language+"\", Text:\""+fullText+"\"})"
                    conn.query(query_string, db='neo4j')

                    # Merge review site node
                    query_string = "MERGE (e:Entity {Name:\'"+domain+"\', Type:\""+pageType+"\", Location:\""+country+"\"})"                
                    conn.query(query_string, db='neo4j')

                    # Merge author node
                    query_string = "MERGE (e:Entity {Name:\'"+author+"\', Type:\"ReviewAuthor\"})"                
                    conn.query(query_string, db='neo4j')

                    # Create forum-post relationship
                    query_string = "MATCH (e:Entity), (p:Post) WHERE e.Name = \""+domain+"\" AND e.Type = \""+pageType+"\" AND p.ID = \""+randID+"\" CREATE (e)-[r:PUBLISHED]->(p)"
                    conn.query(query_string, db='neo4j')

                    # Create author-post relationship
                    query_string = "MATCH (e:Entity), (p:Post) WHERE e.Name = \""+author+"\" AND e.Type = \"ReviewAuthor\" AND p.ID = \""+randID+"\" CREATE (e)-[r:AUTHORED]->(p)"
                    conn.query(query_string, db='neo4j')

                    # Create categories list nodes
                    for c in categoriesList:

                        # Merge nodes
                        query_string = "MERGE (e:Entity {Type:\"autoID\", Name:\'"+c+"\'})"
                        conn.query(query_string, db='neo4j')

                        # Create relationship
                        query_string = "MATCH (p:Post), (e:Entity) WHERE p.ID = \""+randID+"\" AND p.Type = \""+pageType+"\" AND e.Type = \"autoID\" AND e.Name =\""+c+"\" CREATE (p)-[r:MENTIONED]->(e)"
                        conn.query(query_string, db='neo4j')

                else:
                    # There are several other item types, but they're extremely rare 
                    # So we're just going to ignore them

                    pass
        except Exception as e:
            print(e)
            print(pageType)
            print("failed")
            pass
            
    counter += 1

0
1
Retweeted
2
3
Retweeted
4
5
Retweeted
6
Retweeted
7
8
Retweeted
9
Regular
10
11
Retweeted
12
Regular
13
Quote tweet
14
Query failed: {code: Neo.DatabaseError.General.UnknownError} {message: Lexical error at line 1, column 43.  Encountered: <EOF> after : ""}
15
16
17
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'С': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 43 (offset: 42))
"MERGE (p:Post {Type:"news", Name:"Звезда "Сумерек" Кристен Стюарт обручилась со своей девушкой", Date:"2021-11-02T16:44:41.000+0000", Link:"https://focus.ua/lifestyle/496885-zvezda-sumerek-kristen-styuart-obruchilas-so-svoey-devushkoy", Language:"ru", Text:"...фильму Сумерки Робертом Паттинсоном. Однако ему она изменила с режиссером фильма Белоснежка и охотник Рупертом Сандерсом. Кристен Стюарт и Роберт Паттинсон в фильме Сумерки Потом у нее были отношения с моделями Стеллой Максвелл, Сарой Динкин и Алисией Каргил. Алисия и стала ее первой девушкой. Эти отношения длились с 2014 по 2016 гг. Также она..."})"
                                           ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'С': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 162 (offset: 161))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://focus.ua/lifestyle/496885-zvezda-sumerek-kristen-styuart-obruchilas-so-svoey-devushkoy" AND p.Name = "Звезда "Сумерек" Кристен Стюарт обручилась со своей девушкой" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                  ^}
18
Retweeted
19
Retweeted
20
21
Retweeted
22
23
24
Retweeted
25
Regular
26
Reply
27
Regular
28
29
30
31
32
33
34
Retweeted
35
36
Quote tweet
37
Retweeted
38
39
40
Retweeted
41
Reply
42
Reply
43
Retweeted
44
Reply
45
Quote tweet
46
47
48
49
Reply
50
51
Retweeted
52
Retweeted
53
Regular
54
55
Retweeted
56
57
58
Retweeted
59
Retweeted
60
61
Retweeted
62
63
64
65
Retweeted
66
Retweeted
67
Regular
68
Reply
69
Quote tweet
70
Reply
71
72
Retweeted
73
Retweeted
74
75
Retweeted
76
Regular
77
Regular
78
Retweeted
79
80
Regular
81
Retweeted
82
83
84
85
Retweeted
86
87
88
89
Retweeted
90
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 48 (offset: 47))
"MERGE (e:Entity {Type:"autoID", Name:'Cargill's Cocoa & Chocolate'})"
                                                ^}
91
92
Regular
93
Reply
94
Retweeted
95
Retweeted
96
Retweeted
97
Retweeted
98
Retweeted
99
Retweeted
100
Reply
101
102
Reply
103
Retweeted
104
105
106
Retweeted
107
Retweeted
108
Reply
109
110
111
112
113
114
Quote tweet
115
Retweeted
116
Retweeted
117
Retweeted
118
119
Regular
120
Retweeted
121
Retweeted
122
Retweeted
123
Regular
124
Retweeted
125
126
127
128
129
130
131
132
133
Regular
134
Retweeted
135
136
137
Quote tweet
138
139
Retweeted
140
Retweeted
141
142
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 50 (offset: 49))
"MERGE (e:Entity {Type:"autoID", Name:'Sainsbury's'})"
                                                  ^}
143
144
Retweeted
145
146
147
148
149
150
Retweeted
151
152
153
Regular
154
155
Retweeted
156
Retweeted
157
158
159
Retweeted
160
Retweeted
161
162
Retweeted
163
164
Regular
165
166
167
Reply
168
169
170
171
172
Retweeted
173
174
175
176
177
178
179
180
181
182
183
Reply
184
185
186
187
188
189
190
191
192
193
194
195
196
197
Retweeted
198
Regular
199
200
201
202
Quote tweet
203
Retweeted
204
205
Reply
206
207
208
Retweeted
209
210
211
212
Retweeted
213
Retweeted
214
Reply
215
Regular
216
Retweeted
217
218
219
Reply
220
221
222
Reply
223
224
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 48 (offset: 47))
"MERGE (e:Entity {Type:"autoID", Name:'Cargill's Cocoa & Chocolate'})"
                                                ^}
225
226
227
228
Regular
229
230
Regular
231
232
233
234
235
236
237
238
239
240
241
242
Retweeted
243
Quote tweet
244
245
246
247
248
Quote tweet
249
250
251
252
253
254
255
256
Retweeted
257
258
259
260
261
262
263
Retweeted
264
265
266
267
268
269
270
Retweeted
271
Regular
272
Regular
273
Regular
274
275
276
Quote tweet
277
Retweeted
278
Retweeted
279
Retweeted
280
Reply
281
Retweeted
282
283
Retweeted
284
Retweeted
285
Retweeted
286
Retweeted
287
Retweeted
288
289
Retweeted
290
291
292
293
Regular
294
295
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 60 (offset: 59))
"MERGE (e:Entity {Type:"autoID", Name:'International Women's'})"
                                                            ^}
296
Retweeted
297
Retweeted
298
Retweeted
299
Quote tweet
300
Regular
301
Quote tweet
302
303
Retweeted
304
305
306
Retweeted
307
308
309
310
Regular
311
312
313
314
315
316
317
318
319
320
321
Regular
322
323
Regular
324
325
326
327
Regular
328
329
330
Retweeted
331
Regular
332
Retweeted
333
Retweeted
334
Regular
335
Reply
336
337
Retweeted
338
Retweeted
339
Retweeted
340
Retweeted
341
Regular
342
Retweeted
343
Retweeted
344
Quote tweet
345
346
347
348
Retweeted
349
350
351
Quote tweet
352
353
354
Retweeted
355
Retweeted
356
Retweeted
357
358
Retweeted
359
Retweeted
360
361
362
363
364
365
366
367
Regular
368
Regular
369
370
371
372
373
374
375
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ',': expected '\', ''', '"', 'b', 'f', 'n', 'r', 't', UTF16 or UTF32 (line 1, column 37 (offset: 36))
"MATCH (p:Post {ID:"2374410682690320\, Type:"facebookOriginal"}) SET p.Name = "Bliss Fly Overseas Grand brand which lives up to the elegance of virtue. (manufacturers-traders-supplier-exporters- procurement) Dear ones On behalf of our company, I am glad to introduce our company and provide some information about one of the leading", p.Date = "2021-11-02T09:44:21.000+0000", p.Link = "https://www.facebook.com/958164574314945/posts/2374410682690320#channels", p.Text = "Bliss Fly Overseas Grand brand which lives up to the elegance of virtue. (manufacturers-traders-supplier-exporters- procurement) Dear ones On behalf of our company, I am glad to introduce our company and provide some information about one of the leading cornerstone manufacturers, supplier and exporter of various items majorly includes miscellaneous handicraft products and specialized at hand embroidered entities, leather whips, jute decor items. We are mastered at numerous hand embroidery products, illustration--> Badges, Crests, Family crests, Emblems, Pocket/cap badges, Coat-of-arms, Heraldry, Epaulettes, Wings, Banners, Insignias, Ranks, Motifs, Logos, Flags, Century flags, Ceremonial flags, Uniform accessories, Masonic regalia, Religious regalia, Belts, Pennants, Peaks, Sashes, Clan-badges, Wall hangings, Carpets, Cushions Alphabets, Numeric, Hand Embroidery on/ for ethnic shoes/ Punjabi jutti Hand Embroidery on/ for dresses ( Indian styled dresses like lehenga) Etc. For all kinds of purposes, categories and departments including the army, navy, air force, marines, police, fire department, colleges, schools, scouts, universities, hospitals, clubs, associations, individuals too, etc. All these hand embroidery patches can be applied on multiple products like caps, dresses, sword covers, garments, uniforms, wallets, frames, foot wears, wall hangings, carpets, rugs, flags, cushions, key chains, bags, kids wear and on any product you think of. Jute products: Jute wall hangings/ Floor décor, Pots hangings/ Plant hanger, Light shades/ Lamp shades, Jute bags, Jute footwear, Jute jewelleries Leather Whips/ hunters Handicrafts and Hand Embroidery items/ patches can be applied to many products like: on key chains, foot wear( Punjabi Jutti or jhutti is a form of footwear mostly comes from North Indian regions. They have extensive embroidery on them. Moreover, Rajput's of the northwest used to wear juttis also known as ethnic shoes.) and dresses( Lehenga, lehnga is a type of an ankle-length skirt from India. Different styles and patterns of embroidery, mostly traditional, are used to decorate the lehenga. Gota-patti embroidery is one of the types used for festivals and weddings), etc. The quality of the finished product depends entirely on the original artwork and that’s where we have the excellence. Quality check is maintained with proper detailed work.. As you and I are in the same market/ industry and offer almost similar products, I felt it reasonable to extend salutations and suggest we meet to discuss working together to better serve our core customer. We mostly deal in standard size. Although, size, pattern, material, style, and all other making factors depend upon sample/ drawing & as per order and client’s requirement. We already delivered various size items with a 100% success rate. We work on specific patterns or art-works that are provided by our customers. We gather the informative detailed drawings and accomplish the product as per client's requirements. Quality check has the prime importance in our work cycle and fairly flexible standards are followed to ensure the customer's satisfaction. By using selected fine material and monitoring the highly skilled workers to care at every stage of the manufacturing process. We have mastered the value of an end-to-end process and we make sure to work for betterment and to deliver the utmost outcomes. We fairly work on each factor of the process on the dedicated project/ order with maintaining the Turn-Around-Time factor efficiently. We have prominent experience of this industry as this established path has been inherited from our ancestors. Companies named 'Spancrafts' by Mr. Sudesh Mehta, Ajanta arts and handicrafts and Dastkar International by RK Mehta are some of our past roots. You can trust our company for your requirements to have excellent quality, competitive prices and timely deliveries. Moreover, we assure you, our best cooperation at all the stages and maintaining the long lasting business relations and even more. Please send us your requirements/ designs on accounts of getting the best quotations of the prices. Prices may deviate on many factors including quantity. Please feel free to contact me at your ease and earliest convenience for further discussion. Please honour us with a chance to live up to your expectations. Thank you, and I am looking forward to hearing from you. Kindest Regards, Yours faithfully, Chetan Mehta BLISS FLY OVERSEAS blissflyoverseas@gmail.com https://blissflyoverseas.blogspot.com/ https://sites.google.com/view/blissflyoverseas BLISS FLY OVERSEAS- YouTube Channel link Enter for the website: BLISS FLY OVERSEAS""
                                     ^}

376
377
378
379
380
381
382
383
Regular
384
385
386
387
388
389
390
391
392
393
Regular
394
395
396
397
398
Reply
399
Retweeted
400
401
Regular
402
403
404
Retweeted
405
Regular
406
Retweeted
407
408
409
Reply
410
411
Regular
412
413
414
Regular
415
Quote tweet
416
Regular
417
418
419
420
421
422
Regular
423
Quote tweet
424
425
Retweeted
426
Retweeted
427
428
429
Regular
430
431
432
433
434
435
436
437
Regular
438
439
440
441
442
443
444
Quote tweet
445
Retweeted
446
447
448
449
450
451
452
453
Retweeted
454
455
456
457
Quote tweet
458
459
460
461
462
463
Retweeted
464
465
466
Retweeted
467
468
469
470
Quote tweet
471
Regular
472
Quote tweet
473
474
Regular
475
476
477
478
479
480
481
482
483
484
Retweeted
485
486
487
488
489
490
491
492
Regular
493
494
Reply
495
496
497
Regular
498
Regular
499
Retweeted
500
501
502
503
504
505
506
507
Quote tweet
508
509
Regular
510
511
Reply
512
513
Reply
514
515
516
Regular
517
518
Retweeted
519
Retweeted
520
521
522
Retweeted
523
Retweeted
524
Regular
525
526
527
Retweeted
528
Retweeted
529
Retweeted
530
Retweeted
531
Retweeted
532
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'l': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 41 (offset: 40))
"MERGE (e:Entity {Type:"autoID", Name:'O'lakes'})"
                                         ^}
533
534
535
536
537
538
539
540
Regular
541
Reply
542
543
544
545
Retweeted
546
Retweeted
547
Regular
548
Retweeted
549
Regular
550
551
Quote tweet
552
553
554
Reply
555
Reply
556
557
Retweeted
558
Regular
559
560
Retweeted
561
562
563
564
Retweeted
565
Regular
566
567
568
569
Quote tweet
570
571
Quote tweet
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 't/T' or 'e/E' (line 1, column 207 (offset: 206))
"MATCH (e:Entity {ID:"1587277334", Type:"TwitterAccount", Name:'bobittyboop'}) SET e.Description = "#FundABPublicSchools. Little RED dot swimming in sea of blue. Severely abnormal Albertan, Looney Lefter, "Special Interest Group" as per Kenney, parent", e.Followers =2362, e.Location = "", e.Verified = False"
                                                                                                                                                                                                               ^}
572
Quote tweet
573
574
575
576
577
578
579
Regular
580
581
582
583
584
585
586
587
588
Reply
589
590
591
592
Retweeted
593
594
595
596
597
Retweeted
598
599
600
Reply
601
Regular
602
603
604
605
606
607
Regular
608
609
610
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 65 (offset: 64))
"MERGE (e:Entity {Type:"autoID", Name:'the World Economic Forum's'})"
                                                                 ^}
611
Regular
612
613
614
615
616
Regular
617
618
619
620
Regular
621
Reply
622
623
624
Retweeted
625
Quote tweet
626
627
628
Quote tweet
629
Retweeted
630
631
632
633
Retweeted
634
635
636
637
638
Reply
639
640
641
Regular
642
643
Retweeted
644
645
646
647
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 121 (offset: 120))
"MERGE (p:Post {Type:"redditPost", Name:"Ricky Starks responds to Jade Carghill's tweet about being a full time parent: "Tell me about it. It’s tough being everybody daddy."", Date:"2021-11-02T00:01:52.000+0000", Link:"https://www.reddit.com/r/SquaredCircle/comments/qkk17l/ricky_starks_responds_to_jade_carghills_tweet/hiy7imm/", Language:"en", Text:"Had a friend in high school with Cargill for a last name. It's surprising how many ways people find to mangle it."})"
                                                                                                                         ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 122 (offset: 121))
"MATCH (p:Post), (t:Post) WHERE p.Name = "Ricky Starks responds to Jade Carghill's tweet about being a full time parent: "Tell me about it. It’s tough being everybody daddy."" AND p.Link = "https://www.reddit.com/r/SquaredCircle/comments/qkk17l/ricky_starks_responds_to_jade_carghills_tweet/hiy7imm/" AND p.Type = "redditPost" AND t.Name = "https://www.reddit.com/r/SquaredCircle/comments/qkk17l/ricky_starks_responds_to_jade_carghills_tweet/" AND t.Type = "SubredditThread" CREATE (p)-[r:REPLIED_TO]->(t)"
                                                                                                                          ^}
648
649
650
651
652
653
654
655
656
657
658
Quote tweet
659
660
Quote tweet
661
662
663
664
665
666
667
668
669
670
Quote tweet
671
Retweeted
672
673
674
675
676
677
678
679
680
681
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 48 (offset: 47))
"MERGE (e:Entity {Type:"autoID", Name:'Pilgrim's Pride'})"
                                                ^}
682
683
684
685
686
687
688
689
Retweeted
690
691
692
Reply
693
694
695
696
697
Reply
698
699
700
Retweeted
701
702
Retweeted
703
704
Retweeted
705
706
707
708
709
710
Reply
711
Retweeted
712
Reply
713
Retweeted
714
Retweeted
715
Regular
716
Retweeted
717
Retweeted
718
719
Regular
720
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
721
Quote tweet
722
Quote tweet
723
Quote tweet
724
725
726
727
728
729
Retweeted
730
731
Regular
732
733
Retweeted
734
Retweeted
735
736
Retweeted
737
738
739
740
Retweeted
741
Retweeted
742
Regular
743
Quote tweet
744
745
Regular
746
747
748
749
Quote tweet
750
751
Regular
752
Quote tweet
753
Quote tweet
754
755
756
Regular
757
758
759
Quote tweet
760
Reply
761
Quote tweet
762
763
Quote tweet
764
Retweeted
765
Quote tweet
766
Retweeted
767
768
Reply
769
Quote tweet
770
771
772
773
774
775
776
Reply
777
778
779
780
781
782
783
Regular
784
Reply
785
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 45 (offset: 44))
"MERGE (e:Entity {Type:"autoID", Name:'Sear's Auto Center'})"
                                             ^}
786
Reply
787
788
Regular
789
Regular
790
791
Retweeted
792
793
794
795
Retweeted
796
797
798
799
Reply
800
801
802
803
804
805
806
807
808
809
810
811
812
Regular
813
Retweeted
814
815
816
Retweeted
817
Regular
818
819
820
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 50 (offset: 49))
"MERGE (e:Entity {Type:"autoID", Name:'Sainsbury's'})"
                                                  ^}
821
Reply
822
Retweeted
823
824
825
826
Reply
827
Reply
828
829
Reply
830
831
832
833
834

Reply
835
Regular
836
837
838
Regular
839
840
841
842
843
844
845
846
847
848
849
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 36 (offset: 35))
"MERGE (p:Post {Type:"blog", Name:""Gen: Lock" on HBO Max", Date:"2021-11-01T18:35:00.000+0000", Link:"http://www.sneakpeek.ca/2021/11/gen-lock-on-hbo-max.html", Language:"en", Text:"Season Two of the science fiction anime TV series Gen:Lock, created by Gray Haddock, starring the voices of Michael B. Jordan, Dakota Fanning, Golshifteh Farahani, Maisie Williams, Kōichi Yamadera, Asia Kate Dillon, Blaine Gibson, Gray Haddock, Miles Luna, Chad James, Monica Rial and David Tennant, streams November 4, 2021 on HBO Max: ...'Gen:Lock' is set in a dystopian future Earth where an international coalition known as 'The Polity' fights a hostile, autocratic invading force known as 'The Union'. Members of the  gen:LOCK' program participate in the development and testing of an experimental technology which allows for individuals with unique mental make ups to have their minds uploaded to giant suits of mecha armor called 'Holons'.  In the new Season, a war leaves behind only a handful of highly skilled soldiers fighting for the future of humanity as a deteriorating Earth, due to an unstoppable climate collapse, has two distinct visions for the future of the human race: The Polity and the Union.  The Polity and the Union remained locked in a brutal and unforgiving war, when, after sustaining devastating injuries, pilot 'Julian Chase' (Jordan) returns from the dead in the form of a Holon warrior, one of a select few whose mind is compatible with the mech-suit GEN:LOCK program.   As 'Dr. Weller' (Tennant) works to crack the gen:LOCK code, it's up to Chase, 'Miranda' (Fanning), 'Cammie' (Williams) and their team of intrepid Polity fighters to fend off the authoritarian Union. But as the war rages on, Chase must decide if he's willing to sacrifice everything - including friends, family, and his own humanity - to save an increasingly hostile world...  Click the images to enlarge.... "})"
                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 117 (offset: 116))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.sneakpeek.ca/2021/11/gen-lock-on-hbo-max.html" AND p.Name = ""Gen: Lock" on HBO Max" AND e.Type = "autoID" AND e.Name ="HBO" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 117 (offset: 116))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.sneakpeek.ca/2021/11/gen-lock-on-hbo-max.html" AND p.Name = ""Gen: Lock" on HBO Max" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 117 (offset: 116))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.sneakpeek.ca/2021/11/gen-lock-on-hbo-max.html" AND p.Name = ""Gen: Lock" on HBO Max" AND e.Type = "autoID" AND e.Name ="Julian Chase" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 117 (offset: 116))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.sneakpeek.ca/2021/11/gen-lock-on-hbo-max.html" AND p.Name = ""Gen: Lock" on HBO Max" AND e.Type = "autoID" AND e.Name ="Gray Haddock" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 117 (offset: 116))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.sneakpeek.ca/2021/11/gen-lock-on-hbo-max.html" AND p.Name = ""Gen: Lock" on HBO Max" AND e.Type = "autoID" AND e.Name ="Michael B. Jordan" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 117 (offset: 116))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.sneakpeek.ca/2021/11/gen-lock-on-hbo-max.html" AND p.Name = ""Gen: Lock" on HBO Max" AND e.Type = "autoID" AND e.Name ="Dakota Fanning" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 117 (offset: 116))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.sneakpeek.ca/2021/11/gen-lock-on-hbo-max.html" AND p.Name = ""Gen: Lock" on HBO Max" AND e.Type = "autoID" AND e.Name ="Golshifteh Farahani" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 117 (offset: 116))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.sneakpeek.ca/2021/11/gen-lock-on-hbo-max.html" AND p.Name = ""Gen: Lock" on HBO Max" AND e.Type = "autoID" AND e.Name ="Maisie Williams" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 117 (offset: 116))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.sneakpeek.ca/2021/11/gen-lock-on-hbo-max.html" AND p.Name = ""Gen: Lock" on HBO Max" AND e.Type = "autoID" AND e.Name ="Kōichi Yamadera" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                     ^}

Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 117 (offset: 116))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.sneakpeek.ca/2021/11/gen-lock-on-hbo-max.html" AND p.Name = ""Gen: Lock" on HBO Max" AND e.Type = "autoID" AND e.Name ="Asia Kate Dillon" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 117 (offset: 116))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.sneakpeek.ca/2021/11/gen-lock-on-hbo-max.html" AND p.Name = ""Gen: Lock" on HBO Max" AND e.Type = "autoID" AND e.Name ="Blaine Gibson" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 117 (offset: 116))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.sneakpeek.ca/2021/11/gen-lock-on-hbo-max.html" AND p.Name = ""Gen: Lock" on HBO Max" AND e.Type = "autoID" AND e.Name ="Miles Luna" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 117 (offset: 116))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.sneakpeek.ca/2021/11/gen-lock-on-hbo-max.html" AND p.Name = ""Gen: Lock" on HBO Max" AND e.Type = "autoID" AND e.Name ="Chad James" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 117 (offset: 116))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.sneakpeek.ca/2021/11/gen-lock-on-hbo-max.html" AND p.Name = ""Gen: Lock" on HBO Max" AND e.Type = "autoID" AND e.Name ="Monica Rial" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 117 (offset: 116))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.sneakpeek.ca/2021/11/gen-lock-on-hbo-max.html" AND p.Name = ""Gen: Lock" on HBO Max" AND e.Type = "autoID" AND e.Name ="David Tennant" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 117 (offset: 116))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.sneakpeek.ca/2021/11/gen-lock-on-hbo-max.html" AND p.Name = ""Gen: Lock" on HBO Max" AND e.Type = "autoID" AND e.Name ="HBO Max" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 117 (offset: 116))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.sneakpeek.ca/2021/11/gen-lock-on-hbo-max.html" AND p.Name = ""Gen: Lock" on HBO Max" AND e.Type = "autoID" AND e.Name ="Polity" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 117 (offset: 116))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.sneakpeek.ca/2021/11/gen-lock-on-hbo-max.html" AND p.Name = ""Gen: Lock" on HBO Max" AND e.Type = "autoID" AND e.Name ="Holons" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                     ^}
Query failed: {code: Neo.DatabaseError.General.UnknownError} {message: Lexical error at line 1, column 55.  Encountered: <EOF> after : ""}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 117 (offset: 116))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.sneakpeek.ca/2021/11/gen-lock-on-hbo-max.html" AND p.Name = ""Gen: Lock" on HBO Max" AND e.Type = "autoID" AND e.Name ="Julian Chase'" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 117 (offset: 116))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.sneakpeek.ca/2021/11/gen-lock-on-hbo-max.html" AND p.Name = ""Gen: Lock" on HBO Max" AND e.Type = "autoID" AND e.Name ="Holon" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                     ^}

Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 117 (offset: 116))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.sneakpeek.ca/2021/11/gen-lock-on-hbo-max.html" AND p.Name = ""Gen: Lock" on HBO Max" AND e.Type = "autoID" AND e.Name ="Weller" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 117 (offset: 116))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.sneakpeek.ca/2021/11/gen-lock-on-hbo-max.html" AND p.Name = ""Gen: Lock" on HBO Max" AND e.Type = "autoID" AND e.Name ="Tennant" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 117 (offset: 116))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.sneakpeek.ca/2021/11/gen-lock-on-hbo-max.html" AND p.Name = ""Gen: Lock" on HBO Max" AND e.Type = "autoID" AND e.Name ="Chase" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 117 (offset: 116))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.sneakpeek.ca/2021/11/gen-lock-on-hbo-max.html" AND p.Name = ""Gen: Lock" on HBO Max" AND e.Type = "autoID" AND e.Name ="Miranda" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 117 (offset: 116))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.sneakpeek.ca/2021/11/gen-lock-on-hbo-max.html" AND p.Name = ""Gen: Lock" on HBO Max" AND e.Type = "autoID" AND e.Name ="Cammie" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 117 (offset: 116))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.sneakpeek.ca/2021/11/gen-lock-on-hbo-max.html" AND p.Name = ""Gen: Lock" on HBO Max" AND e.Type = "autoID" AND e.Name ="Williams" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                     ^}
850
851
Retweeted
852
Reply
853
Retweeted
854
855
856
857
858
859
860
861
862
863
Retweeted
864
865
866
867
868
869
870
Reply
871
872
873
874
Reply
875
876
Reply
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',', FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 113 (offset: 112))
"MATCH (e:Entity {ID:"1256627708982972421", Type:"TwitterAccount", Name:'Captainpowers5'}) SET e.Description = ""The future will be better tomorrow." -Dan Quayle | Identifying/understanding/buying misunderstood businesses", e.Followers =36, e.Location = "Los Angeles", e.Verified = False"
                                                                                                                 ^}
877
878
Reply
879
Regular
880
Retweeted
881
882
Regular
883
884
885
Regular
886
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 48 (offset: 47))
"MERGE (e:Entity {Type:"autoID", Name:'Pilgrim's Pride'})"
                                                ^}
887
888
889
890
891
892
893
Retweeted
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
909
910
911
912
913
914
Retweeted
915
916
917
Retweeted
918
919
Regular
920
921
922
923
Reply
924
Regular
925
926
Reply
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
Regular
945
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 48 (offset: 47))
"MERGE (e:Entity {Type:"autoID", Name:'Pilgrim's Pride'})"
                                                ^}
946
947
948
949
950
Regular
951
952
953
954
955
956
957
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 48 (offset: 47))
"MERGE (e:Entity {Type:"autoID", Name:'Pilgrim's Pride'})"
                                                ^}
958
959
960
961
962
Regular
963
Retweeted
964
965
966
967
968
969
970
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 58 (offset: 57))
"MERGE (e:Entity {Type:"autoID", Name:'the United Nation's Food and Agriculture Organisation'})"
                                                          ^}
971
972
973
Quote tweet
974
975
Regular
976
977
978
979
Regular
980
981
Regular
982
Regular
983
984
Retweeted
985
Reply
986
Regular
987
988
989
990
991
Reply
992
993
994
995
Regular
996
997
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
998
999

Retweeted
1000
1001
1002
1003
1004
1005
1006
1007
1008
Regular
1009
Retweeted
1010
Reply
1011
Retweeted
1012
1013
1014
1015
1016
1017
Retweeted
1018
1019
1020
Retweeted
1021
1022
Reply
1023
Retweeted
1024
1025
1026
1027
1028
Regular
1029
Regular
1030
1031
1032
Retweeted
1033
1034
1035
1036
1037
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 54 (offset: 53))
"MERGE (e:Entity {Type:"autoID", Name:'Cargill India's'})"
                                                      ^}
1038
Quote tweet
1039
Regular
1040
1041
Retweeted
1042
1043
1044
1045
1046
1047
Retweeted
1048
Retweeted
1049
Reply
1050
1051
1052
1053
1054
1055
Reply
1056
1057
Regular
1058
1059
1060
Regular
1061
1062
1063
1064
1065
1066
Retweeted
1067
Retweeted
1068
Retweeted
1069
1070
1071
Regular
1072
1073
1074
Regular
1075
Retweeted
1076
1077
1078
1079
Regular
1080
1081
1082
1083
1084
1085
1086
1087
1088
Retweeted
1089
Retweeted
1090
1091
1092
1093
1094
1095
Regular
1096
1097
1098
1099
Retweeted
1100
Reply
1101
1102
1103
1104
1105
1106
1107
Regular
1108
1109
Regular
1110
1111
1112
1113
Retweeted
1114
1115
1116
1117
1118
1119
Reply
1120
Retweeted
1121
1122
Regular
1123
1124
1125
1126
Retweeted
1127
1128
1129
1130
1131
1132
1133
Regular
1134
1135
1136
1137
1138
Retweeted
1139
1140
1141
Regular
1142
Regular
1143
1144
1145
1146
1147
1148
1149
1150
1151
Regular
1152
1153
1154
Reply
1155
Retweeted
1156
Regular
1157
1158
1159
1160
1161
1162
Retweeted
1163
1164
1165
Reply
1166
1167
1168
1169
Retweeted
1170
1171
1172
1173
1174
1175
Retweeted
1176
1177
1178
1179
Regular
1180
Regular
1181
1182
1183
1184
1185
1186
1187
1188
Retweeted
1189
1190
1191
Retweeted
1192
1193
1194
Regular
1195
Retweeted
1196
Reply
1197
Retweeted
1198
1199
1200
1201
Regular
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
Retweeted
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
Regular
1236
1237
1238
1239
1240
1241
1242
Regular
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
Regular
1257
1258
Retweeted
1259
Reply
1260
1261
1262
1263
1264
1265
1266
1267
Retweeted
1268
Reply
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
Retweeted
1279
1280
1281
1282
1283
1284
Retweeted
1285
Retweeted
1286
1287
1288
Retweeted
1289
1290
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
1291
1292
Retweeted
1293
1294
1295
1296
Regular
1297
1298
1299
1300
1301
Regular
1302
1303
1304
Retweeted
1305
Retweeted
1306
1307
1308
1309
Retweeted
1310
1311
1312
1313
Regular
1314
1315
1316
1317
Quote tweet
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'i': expected 't/T' or 'e/E' (line 1, column 175 (offset: 174))
"MATCH (e:Entity {ID:"1222303822686584832", Type:"TwitterAccount", Name:'SingleCellMedia'}) SET e.Description = "owner: @cancerevolution | We are sharing content related to "Single Cell" research. Tweets, papers, comments and much more!", e.Followers =2437, e.Location = "Italy", e.Verified = False"
                                                                                                                                                                               ^}
1318
1319
Quote tweet
1320
Retweeted
1321
1322
Quote tweet
1323
1324
Retweeted
1325
Retweeted
1326
1327
1328
Retweeted
1329
1330
Regular
1331
1332
1333
1334
Retweeted
1335
1336
1337
Retweeted
1338
1339
Retweeted
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
Retweeted
1363
1364
Retweeted
1365
1366
Retweeted
1367
Retweeted
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
Retweeted
1394
Retweeted
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
Regular
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1432
Retweeted
1433
1434
1435
1436
1437
1438
1439
1440
1441
Retweeted
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
Retweeted
1463
Retweeted
1464
Retweeted
1465
1466
1467
1468
Retweeted
1469
1470
Retweeted
1471
Regular
1472
1473
1474
1475
Retweeted
1476
1477
1478
Regular
1479
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
1480
Retweeted
1481
Regular
1482
Retweeted
1483
1484
Retweeted
1485
1486
1487
1488
Retweeted
1489
1490
Retweeted
1491
1492
Retweeted
1493
Retweeted
1494
Retweeted
1495
Retweeted
1496
1497
1498
Retweeted
1499
Retweeted
1500
1501
1502
Regular
1503
1504
1505
1506
1507
1508
1509
1510
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
1511
1512
1513
1514
Regular
1515
1516
1517
Regular
1518
1519
1520
Retweeted
1521
Quote tweet
1522
1523
1524
1525
1526
Reply
1527
1528
1529
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 216 (offset: 215))
"MATCH (e:Entity), (c:Post) WHERE e.Name = "Nikto" AND e.Type = "YouTubeAuthor" AND c.Link = "https://www.youtube.com/watch?v=7xnogx8AoY8&lc=Ugx_oYTlchloraFr7ft4AaABAg.9U8P43W0H309UBRZQ4Y44t" AND c.Type = "youtube"Reply" CREATE (e)-[r:AUTHORED]->(c)"
                                                                                                                                                                                                                        ^}
1530
Retweeted
1531
1532
1533
1534
Reply
1535
1536
1537
Retweeted
1538
1539
1540
1541
1542
1543
Retweeted
1544
Retweeted
1545
1546
Regular
1547
1548
Regular
1549
Regular
1550
Retweeted
1551
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
1552
Regular
1553
Reply
1554
1555
Regular
1556
1557
Retweeted
1558
1559
1560
Regular
1561
1562
Retweeted
1563
1564
1565
1566
Retweeted
1567
Regular
1568
Retweeted
1569
1570
1571
1572
1573
Regular
1574
Regular
1575
1576
1577
1578
1579
Reply
1580
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'P': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 68 (offset: 67))
"MERGE (p:Post {Type:"blog", Name:"Difference between revisions of "Page:A biographical dictionary of eminent Scotsmen, vol 5.djvu/129" - Wikisource, the free online library", Date:"2021-11-01T00:35:31.000+0000", Link:"https://en.wikisource.org/w/index.php?title=Page%3AA_biographical_dictionary_of_eminent_Scotsmen%2C_vol_5.djvu%2F129&diff=11846348&oldid=11774677", Language:"en", Text:"preted as somewhat apologetical on the part of the author, in as far as respects his own conduct. The neglected sufferer for loyalty is now taken into care and favour, and they that have ''recovered better principles, are not reproached nor passed by; their transgressions are forgot, and time allowed to take off their evil habit'' The Nomenclature is a brief general biographical and topographical dictionary of Scotland. With a firm adherence to the fabulous early history, the author shows vast general reading ; but, like most authors of the age, he seems to have considered Scotland the centre of greatness, and all other transactions in the world as naturally merging into a connexion with it. Thus in juxtaposition with Argyle, we find Argivi, Argos, and Arii. And the Dee is discussed beside the Danube. From the address attached to this volume, we learn that its publication was occasioned by his recent dismissal from the king's service. And now, he says,  being, as it seemeth by a cruel misrepresentation, turned out of my public employment and livelyhood, which the defender of the sincere will return, I have at the desire of the printer, in this interval, revised, &c. Taking the dedication in connexion with this circumstance, there can be little doubt as to the particular object of that composition; and from another document it would appear that he was not unsuccessful in his design. An act of parliament, dated three years later than the publication of the Nomenclature, and ratifying an act of privy council, which had reserved to Irvine the privilege of acting as a physician, independent of the College of Physicians of Edinburgh, just established, proceeds upon a statement by the learned man himself, that  he has been bred liberally in these arts and places that fit men for the practice of physick and chirurgery, and has received all the degrees of the schools that give ornament and authority in these professions, and has practised the same the space of thertie years in the eminentest places and among very considerable persons in this island, and has, by vertue of commissions from his royal master, exerced the dutie of cherurgeon of his guards of horse twenty-eight years together, and has had the charge of chief physician and chirurgeon of his armie.Acts of the Scottish parliament, viii. 530-531. He then states, that he wishes to practise his profession in peace, in the city of Edinburgh, of which he is a burgess, and hopes the council  would be pleased not to suffer him, by any new gift or patent to be stated under the partial humors or affronts of (a) new incorporation or college of physicians, composed of men that are altogether his juniors (save doctor Hay) in the studies of phylosophie and practise of physick. JACK, or JACHÆUS, {{sc|Gilbert}}, an eminent metaphysician and medical writer, and professor of philosophy at Leyden, was born at Aberdeen, as has been asserted, (although there seems but slight ground for fixing the date so precisely,) in the year 1578. Early in life, and apparently before he had commenced a regular series of literary study, he lost his father, and was committed by his mother to the private tuition of a person named Thomas Cargill. He afterwards studied under Robert Howie: and as that individual was made principal of Marischal college, on its erection into a university, in 1593, it is probable that Jack obtained a portion of his university education at Aberdeen, although he is mentioned by Freher as having studied philosophy at St Andrew, preted as somewhat apologetical on the part of the author, in as far as respects his own conduct. The neglected sufferer for loyalty is now taken into care and favour, and they that have recovered better principles, are not reproached nor passed by; their transgressions are forgot, and time allowed to take off their evil habit  The Nomenclature is a brief general biographical and topographical dictionary of Scotland. With a firm adherence to the fabulous early history, the author shows vast general reading ; but, like most authors of the age, he seems to have considered Scotland the centre of greatness, and all other transactions in the world as naturally merging into a connexion with it. Thus in juxtaposition with Argyle, we find Argivi, Argos, and Arii. And the Dee is discussed beside the Danube. From the address attached to this volume, we learn that its publication was occasioned by his recent dismissal from the king's service. And now, he says,  being, as it seemeth by a cruel misrepresentation, turned out of my public employment and livelyhood, which the defender of the sincere will return, I have at the desire of the printer, in this interval, revised, &c. Taking the dedication in connexion with this circumstance, there can be little doubt as to the particular object of that composition; and from another document it would appear that he was not unsuccessful in his design. An act of parliament, dated three years later than the publication of the Nomenclature, and ratifying an act of privy council, which had reserved to Irvine the privilege of acting as a physician, independent of the College of Physicians of Edinburgh, just established, proceeds upon a statement by the learned man himself, that  he has been bred liberally in these arts and places that fit men for the practice of physick and chirurgery, and has received all the degrees of the schools that give ornament and authority in these professions, and has practised the same the space of thertie years in the eminentest places and among very considerable persons in this island, and has, by vertue of commissions from his royal master, exerced the dutie of cherurgeon of his guards of horse twenty-eight years together, and has had the charge of chief physician and chirurgeon of his armie. [1] He then states, that he wishes to practise his profession in peace, in the city of Edinburgh, of which he is a burgess, and hopes the council  would be pleased not to suffer him, by any new gift or patent to be stated under the partial humors or affronts of (a) new incorporation or college of physicians, composed of men that are altogether his juniors (save doctor Hay) in the studies of phylosophie and practise of physick. , an eminent metaphysician and medical writer, and professor of philosophy at Leyden, was born at Aberdeen, as has been asserted, (although there seems but slight ground for fixing the date so precisely,) in the year 1578. Early in life, and apparently before he had commenced a regular series of literary study, he lost his father, and was committed by his mother to the private tuition of a person named Thomas Cargill. He afterwards studied under Robert Howie: and as that individual was made principal of Marischal college, on its erection into a university, in 1593, it is probable that Jack obtained a portion of his university education at Aberdeen, although he is mentioned by Freher as having studied philosophy at St Andrew, Text is available under the Creative Commons Attribution-ShareAlike License ; additional terms may apply. By using this site, you agree to the Terms of Use and Privacy Policy."})"
                                                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'P': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 238 (offset: 237))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://en.wikisource.org/w/index.php?title=Page%3AA_biographical_dictionary_of_eminent_Scotsmen%2C_vol_5.djvu%2F129&diff=11846348&oldid=11774677" AND p.Name = "Difference between revisions of "Page:A biographical dictionary of eminent Scotsmen, vol 5.djvu/129" - Wikisource, the free online library" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'P': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 238 (offset: 237))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://en.wikisource.org/w/index.php?title=Page%3AA_biographical_dictionary_of_eminent_Scotsmen%2C_vol_5.djvu%2F129&diff=11846348&oldid=11774677" AND p.Name = "Difference between revisions of "Page:A biographical dictionary of eminent Scotsmen, vol 5.djvu/129" - Wikisource, the free online library" AND e.Type = "autoID" AND e.Name ="Argivi" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'P': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 238 (offset: 237))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://en.wikisource.org/w/index.php?title=Page%3AA_biographical_dictionary_of_eminent_Scotsmen%2C_vol_5.djvu%2F129&diff=11846348&oldid=11774677" AND p.Name = "Difference between revisions of "Page:A biographical dictionary of eminent Scotsmen, vol 5.djvu/129" - Wikisource, the free online library" AND e.Type = "autoID" AND e.Name ="Dee" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'P': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 238 (offset: 237))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://en.wikisource.org/w/index.php?title=Page%3AA_biographical_dictionary_of_eminent_Scotsmen%2C_vol_5.djvu%2F129&diff=11846348&oldid=11774677" AND p.Name = "Difference between revisions of "Page:A biographical dictionary of eminent Scotsmen, vol 5.djvu/129" - Wikisource, the free online library" AND e.Type = "autoID" AND e.Name ="the College of Physicians of Edinburgh" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                              ^}

Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'P': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 238 (offset: 237))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://en.wikisource.org/w/index.php?title=Page%3AA_biographical_dictionary_of_eminent_Scotsmen%2C_vol_5.djvu%2F129&diff=11846348&oldid=11774677" AND p.Name = "Difference between revisions of "Page:A biographical dictionary of eminent Scotsmen, vol 5.djvu/129" - Wikisource, the free online library" AND e.Type = "autoID" AND e.Name ="Jack" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'P': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 238 (offset: 237))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://en.wikisource.org/w/index.php?title=Page%3AA_biographical_dictionary_of_eminent_Scotsmen%2C_vol_5.djvu%2F129&diff=11846348&oldid=11774677" AND p.Name = "Difference between revisions of "Page:A biographical dictionary of eminent Scotsmen, vol 5.djvu/129" - Wikisource, the free online library" AND e.Type = "autoID" AND e.Name ="Freher" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'P': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 238 (offset: 237))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://en.wikisource.org/w/index.php?title=Page%3AA_biographical_dictionary_of_eminent_Scotsmen%2C_vol_5.djvu%2F129&diff=11846348&oldid=11774677" AND p.Name = "Difference between revisions of "Page:A biographical dictionary of eminent Scotsmen, vol 5.djvu/129" - Wikisource, the free online library" AND e.Type = "autoID" AND e.Name ="St Andrew" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'P': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 238 (offset: 237))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://en.wikisource.org/w/index.php?title=Page%3AA_biographical_dictionary_of_eminent_Scotsmen%2C_vol_5.djvu%2F129&diff=11846348&oldid=11774677" AND p.Name = "Difference between revisions of "Page:A biographical dictionary of eminent Scotsmen, vol 5.djvu/129" - Wikisource, the free online library" AND e.Type = "autoID" AND e.Name ="the Creative Commons Attribution-ShareAlike License" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                              ^}
1581
1582
1583
1584
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Foley's Candies'})"
                                              ^}
1585
1586
1587
1588
Reply
1589
1590
Retweeted
1591
1592
1593
1594
Regular
1595
Retweeted
1596
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 55 (offset: 54))
"MERGE (e:Entity {Type:"autoID", Name:'Texas Children's Hospital'})"
                                                       ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 61 (offset: 60))
"MERGE (e:Entity {Type:"autoID", Name:'GoodBelly Probiotics's'})"
                                                             ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 63 (offset: 62))
"MERGE (e:Entity {Type:"autoID", Name:'Harvard Medical School's'})"
                                                               ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 55 (offset: 54))
"MERGE (e:Entity {Type:"autoID", Name:'Texas Children's Hospital's'})"
                                                       ^}
1597
1598
1599
1600
1601
1602
Retweeted
1603
1604
1605
Reply
1606
Retweeted
1607
Retweeted
1608
1609
Retweeted
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'B': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',', FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 98 (offset: 97))
"MATCH (e:Entity {ID:"1531021057", Type:"TwitterAccount", Name:'babazmir'}) SET e.Description = ""Ben hakikatin peşindeyim; kimin söylediği önemli değil. Ben adaletin peşindeyim; kim için ve kime karşı olduğu önemli değil." Malcolm X", e.Followers =2484, e.Location = "Türkiye", e.Verified = False"
                                                                                                  ^}
1610
1611
Reply
1612
Retweeted
1613
1614
Regular
1615
1616
1617
Regular
1618
1619
Quote tweet
1620
Reply
1621
Regular
1622
Retweeted
1623
Retweeted
1624
1625
Retweeted
1626
1627
1628
Retweeted
1629
Regular
1630
Retweeted
1631
1632
Retweeted
1633
1634
1635
1636
Retweeted
1637
1638
1639
Retweeted
1640
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 72 (offset: 71))
"MERGE (e:Entity {Type:"autoID", Name:'Morgan Chase Foundation Kellogg's'})"
                                                                        ^}
1641
1642
1643
Retweeted
1644
1645
1646
Retweeted
1647
Retweeted
1648
Retweeted
1649
Retweeted
1650
Retweeted
1651
Retweeted
1652
Retweeted
1653
Retweeted
1654
Retweeted
1655
Retweeted
1656
1657
1658
Retweeted
1659
Retweeted
1660
Retweeted
1661
1662
1663
1664
Retweeted
1665
1666
Retweeted
1667
Retweeted
1668
1669
Retweeted
1670
Retweeted
1671
1672
1673
Regular
1674
1675
1676
Retweeted
1677
1678
1679
Regular
1680
Retweeted
1681
Retweeted
1682
Retweeted
1683
1684
1685
Retweeted
1686
Retweeted
1687
1688
Retweeted
1689
Retweeted
1690
Retweeted
1691
Retweeted
1692
Retweeted
1693

Retweeted
1694
Retweeted
1695
Retweeted
1696
Retweeted
1697
Retweeted
1698
1699
1700
Retweeted
1701
1702
Retweeted
1703
Retweeted
1704
Retweeted
1705
1706
Retweeted
1707
Retweeted
1708
Retweeted
1709
Retweeted
1710
Retweeted
1711
Retweeted
1712
1713
1714
1715
Retweeted
1716
Retweeted
1717
Retweeted
1718
1719
1720
1721
Retweeted
1722
Retweeted
1723
Retweeted
1724
1725
1726
Retweeted
1727
Retweeted
1728
Retweeted
1729
1730
Retweeted
1731
1732
Retweeted
1733
1734
Retweeted
1735
1736
1737
Retweeted
1738
1739
Retweeted
1740
Retweeted
1741
Reply
1742
Retweeted
1743
1744
Retweeted
1745
Retweeted
1746
1747
1748
Retweeted
1749
Regular
1750
1751
Retweeted
1752
Retweeted
1753
1754
1755
Retweeted
1756
1757
1758
Retweeted
1759
Regular
1760
Regular
1761
1762
Reply
1763
1764
Regular
1765
1766
1767
Retweeted
1768
1769
1770
1771
Reply
1772
Reply
1773
1774
Retweeted
1775
1776
1777
Reply
1778
1779
1780
Reply
1781
1782
1783
1784
1785
1786
1787
1788
1789
1790
Retweeted
1791
1792
Quote tweet
1793
Retweeted
1794
1795
1796
1797
1798
Regular
1799
Retweeted
1800
Regular
1801
1802
Reply
1803
1804
Reply
1805
Regular
1806
Regular
1807
1808
1809
1810
Reply
1811
Retweeted
1812
1813
1814
1815
1816
Retweeted
1817
Retweeted
1818
Retweeted
1819
1820
1821
1822
1823
Regular
1824
1825
Retweeted
1826
1827
1828
Reply
1829
1830
1831
1832
Regular
1833
Retweeted
1834
1835
1836
1837
1838
1839
1840
Retweeted
1841
1842
1843
1844
Quote tweet
1845
Quote tweet
1846
Quote tweet
1847
Retweeted
1848
1849
Regular
1850
1851
1852
1853
Regular
1854
Reply
1855
Retweeted
1856
1857
1858
Retweeted
1859
1860
1861
1862
1863
1864
1865
1866
1867
1868
1869
Retweeted
1870
1871
1872
1873
Reply
1874
1875
Reply
1876
Reply
1877
Reply
1878
Reply
1879
Retweeted
1880
1881
1882
1883
Regular
1884
1885
Regular
1886
1887
Reply
1888
1889
1890
1891
1892
1893
Regular
1894
Query failed: {code: Neo.DatabaseError.General.UnknownError} {message: Lexical error at line 1, column 48.  Encountered: <EOF> after : ""}
1895
Regular
1896
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 63 (offset: 62))
"MERGE (e:Entity {Type:"autoID", Name:'Saskatchewan Cattlemen's Association'})"
                                                               ^}
1897
1898
1899
1900
Retweeted
1901
1902
1903
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 55 (offset: 54))
"MERGE (e:Entity {Type:"autoID", Name:'Aliko Dangote 's'})"
                                                       ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 58 (offset: 57))
"MERGE (e:Entity {Type:"autoID", Name:'the Cartier Women's Initiative'})"
                                                          ^}
1904
1905
1906
1907
1908
1909
1910
1911
Retweeted
1912
Regular
1913
Reply
1914
1915
Regular
1916
Regular
1917
1918
Regular
1919
1920
1921
1922
1923
Regular
1924
Retweeted
1925
1926
1927
Regular
1928
1929
Regular
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
Regular
1940
Retweeted
1941
1942
1943
1944
1945
1946
1947
Reply
1948
Reply
1949
Regular
1950
Reply
1951
1952
1953
1954
Regular
1955
1956
1957
1958
1959
1960
Reply
1961
1962
1963
1964
1965
Retweeted
1966
1967
1968
1969
1970
1971
Retweeted
1972
1973
Retweeted
1974
1975
1976
1977
Regular
1978
1979
1980
1981
1982
1983
1984
1985
1986
Regular
1987
1988
Reply
1989
Retweeted
1990
1991
1992
1993
Retweeted
1994
Reply
1995
Regular
1996
1997
1998
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 45 (offset: 44))
"MERGE (e:Entity {Type:"autoID", Name:'Cole's Quality Foods'})"
                                             ^}
1999
2000
Retweeted
2001
2002
2003
2004
2005
Regular
2006
2007
2008
2009
2010
2011
Reply
2012
2013
2014
2015
Retweeted
2016
2017
2018
Retweeted
2019
Regular
2020
Regular
2021
2022
2023
2024
2025
2026
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 62 (offset: 61))
"MERGE (e:Entity {Type:"autoID", Name:'Gulfood Manufacturing's'})"
                                                              ^}
2027
Retweeted
2028
Regular
2029
2030
Retweeted
2031
Retweeted
2032
Regular
2033
2034
2035
2036
2037
Quote tweet
2038
2039
2040
2041
2042
2043
2044
2045
2046
2047
2048
2049
2050
2051
2052
2053
2054
2055
2056
2057
2058
2059
2060
2061
2062
Regular
2063
2064
2065
2066
2067
Reply
2068
Regular
2069
2070
2071
2072
2073
2074
2075
2076
2077
2078
2079
Regular
2080
Regular
2081
Regular
2082
Retweeted
2083
2084
2085
2086
2087
2088
2089
2090
Retweeted
2091
2092
2093
2094
Regular
2095
2096
2097
2098
Reply
2099
2100
Retweeted
2101
2102
2103
2104
2105
2106
2107
2108
2109
2110
2111
Retweeted
2112
2113
2114
2115
2116
2117
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 62 (offset: 61))
"MERGE (e:Entity {Type:"autoID", Name:'Gulfood Manufacturing's'})"
                                                              ^}
2118
Quote tweet
2119
Regular
2120
2121
2122
Reply
2123
2124
2125
2126
Regular
2127
Regular
2128
Regular
2129
2130
Regular
2131
Regular
2132
2133
2134
Reply
2135
2136
2137
Retweeted
2138
Regular
2139
2140
Retweeted
2141
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 44 (offset: 43))
"MERGE (e:Entity {Type:"autoID", Name:'Bob's Red Mill Natural Foods'})"
                                            ^}
2142
2143
2144
2145
2146
2147
2148
2149
2150
2151
Retweeted
2152
2153
2154
2155
2156
2157
Reply
2158
Retweeted
2159
2160
2161
Retweeted
2162
2163
Reply
2164
2165
Reply
2166
Retweeted
2167
2168
2169
Reply
2170
2171
2172
2173
2174
2175
2176
2177
2178
2179
2180
2181
2182
2183
2184
Regular
2185
2186
2187
Retweeted
2188
Reply
2189
2190
2191
Reply
2192
2193
Regular
2194
Regular
2195
Quote tweet
2196
Reply
2197
2198
2199
2200
2201
2202
2203
2204
Regular
2205
2206
2207
2208
Quote tweet
2209
2210
Retweeted
2211
2212
2213
Retweeted
2214
Regular
2215
Retweeted
2216
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'B': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 45 (offset: 44))
"MERGE (e:Entity {Type:"autoID", Name:'Ken O'Brien'})"
                                             ^}
2217
Retweeted
2218
2219
2220
2221
2222
2223
Retweeted
2224
2225
2226
2227
2228
2229
Quote tweet
2230
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 65 (offset: 64))
"MERGE (e:Entity {Type:"autoID", Name:'Melinda Gates Foundation's'})"
                                                                 ^}
2231
2232
2233
2234
Regular
2235
Regular
2236
2237
2238
Reply
2239
2240
Regular
2241
Reply
2242
2243
Regular
2244
2245
2246
2247
2248
2249
2250
Quote tweet
2251
Reply
2252
Retweeted
2253
Reply
2254
2255
2256
2257
2258
2259
2260
Retweeted
2261
2262
2263
Retweeted
2264
Retweeted
2265
2266
Retweeted
2267
2268
Regular
2269
Regular
2270
2271
2272
2273
2274
2275
2276
2277
2278
2279
2280
2281
2282
2283
Reply
2284
Retweeted
2285
2286
2287
2288
2289
2290
2291
2292
2293
2294
Regular
2295
2296
Retweeted
2297
Retweeted
2298
Regular
2299
Regular
2300
2301
2302
Reply
2303
Regular
2304
Reply
2305
2306
Reply
2307
2308
2309
Reply
2310
Regular
2311
2312
Reply
2313
2314
Reply
2315
Quote tweet
2316
2317
2318
Regular
2319
2320
Retweeted
2321
Reply
2322
Reply
2323
Reply
2324
Regular
2325
Reply
2326
Retweeted
2327
Retweeted
2328
2329
Reply
2330
Retweeted
2331
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 't': expected 'n/N' or 's/S' (line 1, column 79 (offset: 78))
"MERGE (p:Post {Type:"redditPost", Name:"Capitalism is killing the planet -" it's time to stop buying into our own destruction", Date:"2021-10-30T15:42:18.000+0000", Link:"https://www.reddit.com/r/environment/comments/qiyszo/capitalism_is_killing_the_planet_its_time_to_stop/hinjwns/", Language:"en", Text:"Yes you're right. killing and destroying animals, environment, fossil fuels, even helium, etc., etc. or whatever we can get our hands on for profits is going to be mass produced and sold until it's all gone. I mean it's not really capitalism I guess, it's just we have these private/public billion, even trillion, dollar industries - companies Cargill, Perdue, Tyson, Exxon, Chevron, J&J, Roche, Pfizer - mass producing animals, destroying land, destroying the ocean, mass producing antibiotics for the 70 billion animals we kill and 1 trillion fish we kill. Stop killing, start growing. Eat plants only people."})"
                                                                               ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 't': expected 'n/N' or 's/S' (line 1, column 80 (offset: 79))
"MATCH (p:Post), (t:Post) WHERE p.Name = "Capitalism is killing the planet -" it's time to stop buying into our own destruction" AND p.Link = "https://www.reddit.com/r/environment/comments/qiyszo/capitalism_is_killing_the_planet_its_time_to_stop/hinjwns/" AND p.Type = "redditPost" AND t.Name = "https://www.reddit.com/r/environment/comments/qiyszo/capitalism_is_killing_the_planet_its_time_to_stop/" AND t.Type = "SubredditThread" CREATE (p)-[r:REPLIED_TO]->(t)"
                                                                                ^}

2332
2333
2334
2335
Retweeted
2336
2337
2338
2339
Retweeted
2340
2341
2342
2343
2344
Retweeted
2345
2346
2347
2348
2349
Regular
2350
2351
Quote tweet
2352
2353
2354
2355
Regular
2356
2357
2358
2359
Regular
2360
Reply
2361
2362
2363
2364
2365
2366
2367
2368
2369
2370
2371
2372
2373
2374
2375
Retweeted
2376
2377
2378
Regular
2379
2380
2381
Reply
2382
2383
2384
2385
2386
2387
2388
2389
Quote tweet
2390
2391
2392
2393
2394
Regular
2395
Reply
2396
2397
2398
2399
Reply
2400
Retweeted
2401
2402
2403
Retweeted
2404
Retweeted
2405
2406
Regular
2407
2408
2409
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
2410
2411
Retweeted
2412
Retweeted
2413
2414
Regular
2415
Reply
2416
Regular
2417
Retweeted
2418
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 53 (offset: 52))
"MERGE (e:Entity {Type:"autoID", Name:'Donald Trump's'})"
                                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 51 (offset: 50))
"MERGE (e:Entity {Type:"autoID", Name:'Eric Trump's'})"
                                                   ^}
2419
2420
2421
2422
Retweeted
2423
2424
2425
2426
2427
2428
2429
2430
2431
Retweeted
2432
2433
2434
2435
Regular
2436
2437
Regular
2438
Regular
2439
Regular
2440
Regular
2441
2442
Retweeted
2443
2444
2445
2446
2447
Retweeted
2448
2449
Retweeted
2450
2451
2452
2453
Retweeted
2454
2455
2456
2457
Retweeted
2458
2459
2460
Regular
2461
Retweeted
2462
2463
Regular
2464
Reply
2465
2466
2467
2468
2469
Retweeted
2470
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '쓰': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 36 (offset: 35))

Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '쓰': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 169 (offset: 168))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://ko.wikipedia.org/w/index.php?title=%EC%93%B0%EC%8B%9C%EB%A7%88%EC%84%AC&diff=30593267&oldid=30593258" AND p.Name = ""쓰시마섬"의 두 판 사이의 차이 - 위키백과, 우리 모두의 백과사전" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                         ^}
2472
2473
Reply
2474
2475
2476
Reply
2477
2478
Reply
2479
2480
2481
2482
2483
2484
2485
2486
2487
2488
2489
2490
2491
2492
Retweeted
2493
Regular
2494
Regular
2495
Retweeted
2496
Reply
2497
2498
Retweeted
2499
2500
2501
Retweeted
2502
Regular
2503
2504
2505
2506
Retweeted
2507
Regular
2508
2509
2510
2511
2512
2513
2514
2515
Retweeted
2516
2517
Reply
2518
2519
2520
Retweeted
2521
2522
2523
2524
2525
2526
2527
2528
2529
2530
2531
Retweeted
2532
2533
Retweeted
2534
2535
2536
2537
Reply
2538
Reply
2539
2540
2541
Regular
2542
Regular
2543
2544
Regular
2545
2546
Regular
2547
Regular
2548
2549
Retweeted
2550
2551
2552
2553
2554
Regular
2555
2556
2557
2558
2559
2560
2561
2562
2563
Retweeted
2564
2565
2566
2567
2568
2569
Retweeted
2570
2571
2572
2573
2574
2575
2576
2577
2578
Retweeted
2579
2580
Retweeted
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'A': expected 'o/O' (line 1, column 121 (offset: 120))
"MATCH (e:Entity {ID:"3091927942", Type:"TwitterAccount", Name:'caraba_andres'}) SET e.Description = "Cuando ella dijo "LA PATRIA ES EL OTRO" listo, no salgo más", e.Followers =1567, e.Location = "Córdoba, pero no soy de esos", e.Verified = False"
                                                                                                                         ^}
2581
Retweeted
2582
2583
2584
2585
2586
Regular
2587
2588
2589
2590
Reply
2591
2592
2593
2594
2595
2596
2597
2598
2599
Retweeted
2600
2601
Reply
2602
Retweeted
2603
Regular
2604
2605
2606
2607
Regular
2608
Regular
2609
2610
2611
Retweeted
2612
2613
Retweeted
2614
Retweeted
2615
Retweeted
2616
2617
Reply
2618
2619
Retweeted
2620
Quote tweet
2621
2622
Reply
2623
2624
Retweeted
2625
2626
2627
2628
2629
2630
2631
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
2632
Reply
2633
2634
Retweeted
2635
2636
Regular
2637
2638
Regular
2639
2640
Retweeted
2641
2642
2643
2644
2645
2646
2647
Retweeted
2648
Retweeted
2649
Quote tweet
2650
2651
2652
Retweeted
2653
Reply
2654
Retweeted
2655
2656
2657
2658
2659
2660
2661
2662
2663
Retweeted
2664
Retweeted
2665
Quote tweet
2666
Retweeted
2667
2668
Retweeted
2669
2670
2671
2672
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
2673
2674
2675
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 51 (offset: 50))
"MERGE (e:Entity {Type:"autoID", Name:'Jimmy John's'})"
                                                   ^}
2676
Retweeted
2677
Retweeted
2678
Retweeted
2679
Retweeted
2680
Retweeted
2681
2682
2683
2684
Retweeted
2685
Retweeted
2686
Reply
2687
2688
2689
2690
2691
2692
2693
2694
2695
Reply
2696
Retweeted
2697
Retweeted
2698
2699
2700
Retweeted
2701
Retweeted
2702
Regular
2703
2704
2705
2706
Reply
2707
2708
2709
2710
2711
2712
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 45 (offset: 44))
"MERGE (e:Entity {Type:"autoID", Name:'Macy's'})"
                                             ^}
2713
2714
2715
2716
Retweeted
2717
Regular
2718
Retweeted
2719
2720
Reply
2721
2722
Retweeted
2723
2724
2725
Retweeted
2726
2727
2728
2729
2730
2731
Retweeted
2732
2733
Retweeted
2734
Retweeted
2735
2736
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'r': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 94 (offset: 93))
"MERGE (p:Post {Type:"news", Name:"Meat, dairy firms come up short on methane emissions aEUR" report", Date:"2021-10-30T02:02:06.000+0000", Link:"http://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html", Language:"en", Text:"...and reward the many achievements of our member farmers.aEUR Other companies ranked in the aEUR~BlindspotaEUR(TM) report not already aforementioned were: Fonterra, Arla Foods, Cargill, Marfrig Global Foods, Danish Crown, Canadian dairy group Saputo, US meat processor OSI, Chinese dairy giant Inner Mongolia Yili Industrial Group and Lactalis. Changing..."})"
                                                                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 247 (offset: 246))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="Saputo" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                       ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 247 (offset: 246))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="NH Foods" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                       ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 247 (offset: 246))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="Yili" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                       ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 247 (offset: 246))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="Dairy Farmers of America" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                       ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 247 (offset: 246))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="Fonterra" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                       ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 247 (offset: 246))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="Lactalis" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                       ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 247 (offset: 246))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="Danone" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                       ^}

Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 247 (offset: 246))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="Marfrig" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                       ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 247 (offset: 246))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                       ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 247 (offset: 246))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="JBS" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                       ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 247 (offset: 246))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="Tyson" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                       ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 247 (offset: 246))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="Arla Foods" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                       ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 247 (offset: 246))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="Marfrig Global Foods" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                       ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 247 (offset: 246))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="Danish Crown" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                       ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 247 (offset: 246))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="OSI" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                       ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 247 (offset: 246))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="Inner Mongolia Yili Industrial Group" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                       ^}
2737
2738
Retweeted
2739
2740
Reply
2741
Retweeted
2742
2743
2744
Retweeted
2745
Retweeted
2746
Retweeted
2747
Retweeted
2748
Quote tweet
2749
Reply
2750
Retweeted
2751
2752
Retweeted
2753
2754
Retweeted
2755
Retweeted
2756
2757
2758
2759
2760
2761
2762
2763
2764
2765
Retweeted
2766
[{'code': 179, 'message': 'Sorry, you are not authorized to see this status.'}]
twitter
failed
2767
Retweeted
2768
Retweeted
2769
Retweeted
2770
Retweeted
2771
Retweeted
2772
Retweeted
2773
Retweeted
2774
2775
2776
2777
2778
2779
Retweeted
2780
Retweeted
2781
2782
Retweeted
2783
2784
Retweeted
2785
Reply
2786
2787
Regular
2788
2789
Retweeted
2790
2791
Retweeted
2792
Retweeted
2793
Regular
2794
Retweeted
2795
2796
Retweeted
2797
2798
Retweeted
2799
2800
Regular
2801
2802
Regular
2803
2804
2805
Retweeted
2806
2807
2808
2809
2810
Retweeted
2811
2812
2813
2814
2815
Retweeted
2816
Retweeted
2817
Retweeted
2818
2819
Retweeted
2820
2821
Regular
2822
2823
2824
2825
Retweeted
2826
2827
2828
2829
Retweeted
2830
Retweeted
2831
2832
Retweeted
2833
2834
2835
2836
Retweeted
2837
Retweeted
2838
Retweeted
2839
Retweeted
2840
Retweeted
2841
Retweeted
2842
2843
Regular
2844
Retweeted
2845
Retweeted
2846
Retweeted
2847
Retweeted
2848
Reply
2849
Retweeted
2850
Retweeted
2851
Retweeted
2852
Retweeted
2853
2854
Retweeted
2855
2856
2857
Retweeted
2858
Retweeted
2859
Retweeted
2860
Retweeted
2861
Retweeted
2862
2863
2864
Regular
2865
Regular
2866
Retweeted
2867
2868
Retweeted
2869
Retweeted
2870
2871
Retweeted
2872
Retweeted
2873
Retweeted
2874
2875
Retweeted
2876
2877
Retweeted
2878
Retweeted
2879
Reply
2880
2881
2882
2883
2884
Retweeted
2885

Retweeted
2886
Retweeted
2887
2888
Retweeted
2889
Retweeted
2890
Retweeted
2891
2892
Retweeted
2893
2894
2895
2896
2897
Retweeted
2898
Retweeted
2899
Retweeted
2900
Retweeted
2901
Retweeted
2902
Retweeted
2903
Retweeted
2904
2905
Regular
2906
2907
2908
Retweeted
2909
Retweeted
2910
Retweeted
2911
2912
Retweeted
2913
2914
Regular
2915
Regular
2916
Regular
2917
2918
Regular
2919
Retweeted
2920
Retweeted
2921
Retweeted
2922
Retweeted
2923
2924
Regular
2925
2926
Retweeted
2927
Retweeted
2928
2929
2930
2931
Retweeted
2932
Retweeted
2933
2934
Retweeted
2935
2936
Retweeted
2937
Regular
2938
2939
2940
2941
2942
Retweeted
2943
Regular
2944
2945
2946
Retweeted
2947
Retweeted
2948
Retweeted
2949
Retweeted
2950
2951
2952
2953
Regular
2954
2955
Retweeted
2956
Retweeted
2957
2958
Retweeted
2959
2960
2961
2962
Retweeted
2963
Regular
2964
Retweeted
2965
2966
2967
Retweeted
2968
Retweeted
2969
Retweeted
2970
Retweeted
2971
Regular
2972
2973
2974
2975
Retweeted
2976
2977
2978
2979
2980
2981
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'r': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 94 (offset: 93))
"MERGE (p:Post {Type:"news", Name:"Meat, dairy firms come up short on methane emissions aEUR" report", Date:"2021-10-29T20:55:12.000+0000", Link:"https://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html", Language:"en", Text:"...way we measure and reward the many achievements of our member farmers.aEUR Other companies ranked in the aEUR~BlindspotaEUR(TM) report not already aforementioned were: Fonterra, Arla Foods, Cargill, Marfrig Global Foods, Danish Crown, Canadian dairy group Saputo, US meat processor OSI, Chinese dairy giant Inner Mongolia Yili Industrial Group and..."})"
                                                                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 248 (offset: 247))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="Saputo" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                        ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 248 (offset: 247))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="NH Foods" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                        ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 248 (offset: 247))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="Yili" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                        ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 248 (offset: 247))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="Dairy Farmers of America" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                        ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 248 (offset: 247))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="Fonterra" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                        ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 248 (offset: 247))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="Lactalis" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                        ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 248 (offset: 247))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="Danone" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                        ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 248 (offset: 247))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="Marfrig" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                        ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 248 (offset: 247))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                        ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 248 (offset: 247))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="JBS" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                        ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 248 (offset: 247))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="Tyson" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                        ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 248 (offset: 247))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="Arla Foods" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                        ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 248 (offset: 247))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="Marfrig Global Foods" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                        ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 248 (offset: 247))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="Danish Crown" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                        ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 248 (offset: 247))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="OSI" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                        ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 248 (offset: 247))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://futures.tradingcharts.com/news/futures/Meat__dairy_firms_come_up_short_on_methane_emissions_aEUR__report_396068272.html" AND p.Name = "Meat, dairy firms come up short on methane emissions aEUR" report" AND e.Type = "autoID" AND e.Name ="Inner Mongolia Yili Industrial Group" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                        ^}
2982

Retweeted
2983
2984
Retweeted
2985
Retweeted
2986
2987
2988
Retweeted
2989
2990
2991
2992
Retweeted
2993
2994
Retweeted
2995
Retweeted
2996
Retweeted
2997
Regular
2998
Retweeted
2999
Retweeted
3000
3001
Reply
3002
3003
3004
Retweeted
3005
3006
3007
Retweeted
3008
3009
3010
3011
Retweeted
3012
3013
Retweeted
3014
Retweeted
3015
Retweeted
3016
Retweeted
3017
Reply
3018
Reply
3019
3020
Retweeted
3021
3022
3023
3024
Retweeted
3025
Regular
3026
Retweeted
3027
Retweeted
3028
Retweeted
3029
Retweeted
3030
Retweeted
3031
3032
Retweeted
3033
Retweeted
3034
3035
3036
3037
Reply
3038
3039
Retweeted
3040
Retweeted
3041
Retweeted
3042
3043
3044
3045
3046
Retweeted
3047
Retweeted
3048
Retweeted
3049
Retweeted
3050
3051
3052
Retweeted
3053
Retweeted
3054
Retweeted
3055
Retweeted
3056
3057
3058
Retweeted
3059
Retweeted
3060
Retweeted
3061
Retweeted
3062
3063
Regular
3064
Retweeted
3065
Retweeted
3066
Retweeted
3067
3068
Retweeted
3069
3070
3071
3072
3073
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 83 (offset: 82))
"MERGE (p:Post {Type:"forum", Name:"Building IP: Celera/BMY Patent Application re "GENETIC POLYMORPHISMS ASSOCIATED WITH CARDIOVASCULAR DISORDERS AND DRUG RESPONSE, METHODS OF DETECTION AND USES THEREOF"", Date:"2021-10-29T19:20:30.000+0000", Link:"http://www.investorvillage.com/smbd.asp?pt=msg&mb=4235&mid=22555301&mn=8265##0a1cf3396b80739373f0bed2c591b597", Language:"en", Text:"  United States Patent Application 20210332434 Kind Code A1 CARGILL; Michele ; et al. October 28, 2021 GENETIC POLYMORPHISMS ASSOCIATED WITH CARDIOVASCULAR DISORDERS AND DRUG RESPONSE, METHODS OF DETECTION AND USES THEREOF Abstract The present invention is based on the discovery of genetic polymorphisms that are associated with cardiovascular disorders, particularly acute coronary events such as myocardial infarction and stroke, and genetic polymorphisms that are associated with responsiveness of an individual to treatment of cardiovascular disorders with statin. In particular, the present invention relates to nucleic acid molecules containing the polymorphisms, variant proteins encoded by such nucleic acid molecules, reagents for detecting the polymorphic nucleic acid molecules and proteins, and methods of using the nucleic acid and proteins as well as methods of using reagents for their detection. Inventors: CARGILL; Michele; (Orinda, CA) ; IAKOUBOVA; Olga; (San Ramon, CA) ; DEVLIN; James J.; (Lafayette, CA) ; TSUCHIHASHI; Zenta; (Skillman, NJ) ; SHAW; Peter; (Yardley, PA) ; PLOUGHMAN; Lynn Marie; (Washington Crossing, PA) ; ZERBA; Kim E.; (New Hope, PA) ; RANADE; Koustubh; (Princeton, IN) ; KIRCHGESSNER; Todd; (North Whales, PA) Applicant: Name City State Country Type CELERA CORPORATION BRISTOL-MYERS SQUIBB COMPANY San Juan Capistrano Princeton CA NJ US US Family ID: 1000005685210 Appl. No.: 17/186574 Filed: February 26, 2021 Related U.S. Patent Documents Application Number Filing Date Patent Number 15894253 Feb 12, 2018 10982281 17186574 15168632 May 31, 2016 9932637 15894253 14045416 Oct 3, 2013 15168632 12683099 Jan 6, 2010 14045416 10995561 Nov 24, 2004 12683099 60524882 Nov 26, 2003 60568219 May 6, 2004 Current U.S. Class: 1/1 Current CPC Class: C12Q 2600/158 20130101; C12Q 2600/172 20130101; G01N 33/6893 20130101; C07K 16/28 20130101; C12Q 2600/136 20130101; A61K 31/22 20130101; G01N 2800/32 20130101; A61K 31/225 20130101; C12Q 2600/106 20130101; G01N 2800/324 20130101; C12Q 2600/156 20130101; C12Q 1/6883 20130101 International Class: C12Q 1/6883 20060101 C12Q001/6883; A61K 31/225 20060101 A61K031/225; G01N 33/68 20060101 G01N033/68; A61K 31/22 20060101 A61K031/22 Claims 1. A method for identifying an individual who has an altered risk for developing a cardiovascular disorder or an altered likelihood of responding to statin treatment, the method comprising detecting a single nucleotide polymorphism (SNP) in any one of the nucleotide sequences of SEQ ID NOS:1-517 and 1035-85,090 in said individual's nucleic acids, wherein the presence of the SNP is correlated with an altered risk for developing a cardiovascular disorder or responding to statin treatment in said individual. 2. The method of claim 1 in which the altered risk is an increased risk of developing a cardiovascular disorder or an increased likelihood of responding to statin treatment. 3. The method of claim 1, wherein the cardiovascular disorder is an acute coronary event selected from the group consisting of myocardial infarction and stroke. 4. The method of claim 3 in which said individual has previously had an acute coronary event. 5. The method of claim 1 in which the altered risk is a decreased risk of developing a cardiovascular disorder or a decreased likelihood of responding to statin treatment. 6. The method of claim 1, wherein the statin treatment comprises treatment with pravastatin. 7. The method of claim 1, wherein the SNP is selected from the group consisting of the SNPs set forth in Tables 6-15. 8. The method of claim 1 in which detection is carried out by a process selected from the group consisting of: allele-specific probe hybridization, allele-specific primer extension, allele-specific amplification, sequencing, 5' nuclease digestion, molecular beacon assay, oligonucleotide ligation assay, size analysis, and single-stranded conformation polymorphism. 9-16. (canceled) 17. An isolated polynucleotide which specifically hybridizes to a nucleic acid molecule containing a single nucleotide polymorphism (SNP) in any one of the nucleotide sequences in SEQ ID NOS:1-517 and 1035-85,090. 18. The polynucleotide of claim 17 which is 8-70 nucleotides in length. 19. The polynucleotide of claim 17 which is an allele-specific probe. 20. The polynucleotide of claim 17 which is an allele-specific primer. 21. The polynucleotide of claim 17, wherein the polynucleotide comprises a nucleotide sequence selected from the group consisting of the primer sequences set forth in Table 5 (SEQ ID NOS:85,091-85,702). 22. A kit for detecting a single nucleotide polymorphism (SNP) in a nucleic acid, comprising the polynucleotide of claim 17, a buffer, and an enzyme. 23-26. (canceled) 27. A method of treating a cardiovascular disorder in an individual, the method comprising administering to said individual an effective amount of statin based on said individual's likelihood of responding to statin treatment as predicted by the alleles present at one or more SNP sites selected from the group consisting of the SNP sites disclosed in Tables 1-15. Description CROSS-REFERENCE TO RELATED APPLICATIONS [0001] This application is a divisional application of U.S. non-provisional application Ser. No. 15/894,253, filed Feb. 12, 2018, which is a divisional application of U.S. non-provisional application Ser. No. 15/168,632, filed May 31, 2016, now U.S. Pat. No. 9,932,637 issued Apr. 3, 2018, which is a continuation application of U.S. non-provisional application Ser. No. 14/045,416, filed Oct. 3, 2013, which is a divisional application of U.S. non-provisional application Ser. No. 12/683,099, filed Jan. 6, 2010, which is a divisional application of U.S. non-provisonal application Ser. No. 10/995,561, filed Nov. 24, 2004, which claims priority to U.S. provisional application Ser. No. 60/524,882, filed Nov. 26, 2003, and U.S. provisional application Ser. No. 60/568,219, filed May 6, 2004, the contents of each of which are hereby incorporated by reference into this application. FIELD OF THE INVENTION [0002] The present invention is in the field of cardiovascular disorders and drug response, particularly acute coronary events and statin treatment of acute coronary events. In particular, the present invention relates to specific single nucleotide polymorphisms (SNPs) in the human genome, and their association with acute coronary events and/or variability in the responsiveness to statin treatment (including preventive treatment) between different individuals. The naturally-occurring SNPs disclosed herein can be used as targets for the design of diagnostic reagents and the development of therapeutic agents, as well as for disease association and linkage analysis. In particular, the SNPs of the present invention are useful for, for example, identifying whether an individual is likely to experience an acute coronary event (either a first or recurrent acute coronary event), for predicting the seriousness or consequences of an acute coronary event in an individual, for prognosing an individual's recovery from an acute coronary event, for evaluating the likely response of an individual to statins for the treatment/prevention of acute coronary events, for providing clinically important information for the prevention and/or treatment of acute coronary events, and for screening and selecting therapeutic agents. The SNPs disclosed herein are also useful for human identification applications. Methods, assays, kits, and reagents for detecting the presence of these polymorphisms and their encoded products are provided. BACKGROUND OF THE INVENTION [0003] Cardiovascular Disorders and Response to Statin Treatment [0004] Cardiovascular disorders include, for example, acute coronary events such as myocardial infarction and stroke. [0005] Myocardial Infarction [0006] Myocardial infarction (MI) is the most common cause of mortality in developed countries. It is a multifactorial disease that involves atherogenesis, thrombus formation and propagation. Thrombosis can result in complete or partial occlusion of coronary arteries. The luminal narrowing or blockage of coronary arteries reduces oxygen and nutrient supply to the cardiac muscle (cardiac ischemia), leading to myocardial necrosis and/or stunning. MI, unstable angina, or sudden ischemic death are clinical manifestations of cardiac muscle damage. All three endpoints are part of the Acute Coronary Syndrome since the underlying mechanisms of acute complications of atherosclerosis are considered to be the same. [0007] Atherogenesis, the first step of pathogenesis of MI, is a complex interaction between blood elements, mechanical forces, disturbed blood flow, and vessel wall abnormality. On the cellular level, these include endothelial dysfunction, monocytes/macrophages activation by modified lipoproteins, monocytes/macrophages migration into the neointima and subsequent migration and proliferation of vascular smooth muscle cells (VSMC) from the media that results in plaque accumulation. [0008] In recent years, an unstable (vulnerable) plaque was recognized as an underlying cause of arterial thrombotic events and MI. A vulnerable plaque is a plaque, often not stenotic, that has a high likelihood of becoming disrupted or eroded, thus forming a thrombogenic focus. Two vulnerable plaque morphologies have been described. A first type of vulnerable plaque morphology is a rupture of the protective fibrous cap. It can occur in plaques that have distinct morphological features such as large and soft lipid pool with distinct necrotic core and thinning of the fibrous cap in the region of the plaque shoulders. Fibrous caps have considerable metabolic activity. The imbalance between matrix synthesis and matrix degradation thought to be regulated by inflammatory mediators combined with VSMC apoptosis are the key underlying mechanisms of plaque rupture. A second type of vulnerable plaque morphology, known as plaque erosion, can also lead to a fatal coronary thrombotic event. Plaque erosion is morphologically different from plaque rupture. Eroded plaques do not have fractures in the plaque fibrous cap, only superficial erosion of the intima. The loss of endothelial cells can expose the thrombogenic subendothelial matrix that precipitates thrombus formation. This process could be regulated by inflammatory mediators. The propagation of the acute thrombi for both plaque rupture and plaque erosion events depends on the balance between coagulation and thrombolysis. MI due to a vulnerable plaque is a complex phenomenon that includes: plaque vulnerability, blood vulnerability (hypercoagulation, hypothrombolysis), and heart vulnerability (sensitivity of the heart to ischemia or propensity for arrhythmia). [0009] Recurrent myocardial infarction (RMI) can generally be viewed as a severe form of MI progression caused by multiple vulnerable plaques that are able to undergo pre-rupture or a pre-erosive state, coupled with extreme blood coagulability. [0010] The incidence of MI is still high despite currently available preventive measures and therapeutic intervention. More than 1,500,000 people in the US suffer acute MI each year (many without seeking help due to unrecognized MI), and one third of these people die. The lifetime risk of coronary artery disease events at age 40 years is 42.4% for men (one in two) and 24.9% for women (one in four) (Lloyd-Jones D M; Lancet, 1999 353: 89-92). [0011] The current diagnosis of MI is based on the levels of troponin I or T that indicate the cardiac muscle progressive necrosis, impaired electrocardiogram (ECG), and detection of abnormal ventricular wall motion or angiographic data (the presence of acute thrombi). However, due to the asymptomatic nature of 25% of acute MIs (absence of atypical chest pain, low ECG sensitivity), a significant portion of MIs are not diagnosed and therefore not treated appropriately (e.g., prevention of recurrent MIs). [0012] Despite a very high prevalence and lifetime risk of MI, there are no good prognostic markers that can identify an individual with a high risk of vulnerable plaques and justify preventive treatments. MI risk assessment and prognosis is currently done using classic risk factors or the recently introduced Framingham Risk Index. Both of these assessments put a significant weight on LDL levels to justify preventive treatment. However, it is well established that half of all MIs occur in individuals without overt hyperlipidemia. Hence, there is a need for additional risk factors for predicting predisposition to MI. [0013] Other emerging risk factors are inflammatory biomarkers such as C-reactive protein (CRP), ICAM-1, SAA, TNF a, homocysteine, impaired fasting glucose, new lipid markers (ox LDL, Lp-a, MAD-LDL, etc.) and pro-thrombotic factors (fibrinogen, PAI-1). Despite showing some promise, these markers have significant limitations such as low specificity and low positive predictive value, and the need for multiple reference intervals to be used for different groups of people (e.g., males-females, smokers-non smokers, hormone replacement therapy users, different age groups). These limitations diminish the utility of such markers as independent prognostic markers for MI screening. [0014] Genetics plays an important role in MI risk. Families with a positive family history of MI account for 14% of the general population, 72% of premature MIs, and 48% of all MIs (Williams R R, Am J Cardiology, 2001; 87:129). In addition, replicated linkage studies have revealed evidence of multiple regions of the genome that are associated with MI and relevant to MI genetic traits, including regions on chromosomes 14, 2, 3 and 7 (Broeckel U, Nature Genetics, 2002; 30: 210; Harrap S, Arterioscler Thromb Vasc Biol, 2002; 22: 874-878, Shearman A, Human Molecular Genetics, 2000, 9; 9, 1315-1320), implying that genetic risk factors influence the onset, manifestation, and progression of MI. Recent association studies have identified allelic variants that are associated with acute complications of coronary heart disease, including allelic variants of the ApoE, ApoA5, Lpa, APOCIII, and Klotho genes. [0015] Genetic markers such as single nucleotide polymorphisms are preferable to other types of biomarkers. Genetic markers that are prognostic for MI can be genotyped early in life and could predict individual response to various risk factors. The combination of serum protein levels and genetic predisposition revealed by genetic analysis of susceptibility genes can provide an integrated assessment of the interaction between genotypes and environmental factors, resulting in synergistically increased prognostic value of diagnostic tests. [0016] Thus, there is an urgent need for novel genetic markers that are predictive of predisposition to MI, particularly for individuals who are unrecognized as having a predisposition to MI. Such genetic markers may enable prognosis of MI in much larger populations compared with the populations that can currently be evaluated by using existing risk factors and biomarkers. The availability of a genetic test may allow, for example, appropriate preventive treatments for acute coronary events to be provided for susceptible individuals (such preventive treatments may include, for example, statin treatments and statin dose escalation, as well as changes to modifiable risk factors), lowering of the thresholds for ECG and angiography testing, and allow adequate monitoring of informative biomarkers. [0017] Moreover, the discovery of genetic markers associated with MI will provide novel targets for therapeutic intervention or preventive treatments of MI, and enable the development of new therapeutic agents for treating MI and other cardiovascular disorders. [0018] Stroke [0019] Stroke is a prevalent and serious disease. Stroke is the most common cause of disability, the second leading cause of dementia, and the third leading cause of mortality in the United States. It affects 4.7 million individuals in the United States, with 500,000 first attacks and 200,000 recurrent cases yearly. Approximately one in four men and one in five women aged 45 years will have a stroke if they live to their 85th year. About 25% of those who have a stroke die within a year. For that, stroke is the third leading cause of mortality in the United States and is responsible for 170,00"})"
                                                                                   ^}

3074
Retweeted
3075
Retweeted
3076
3077
3078
3079
3080
Regular
3081
3082
3083
3084
Retweeted
3085
Retweeted
3086
Reply
3087
Retweeted
3088
Retweeted
3089
3090
3091
3092
Regular
3093
3094
Retweeted
3095
Retweeted
3096
3097
Retweeted
3098
Retweeted
3099
Retweeted
3100
Retweeted
3101
Retweeted
3102
3103
3104
3105
Regular
3106
Retweeted
3107
3108
Retweeted
3109
3110
Retweeted
3111
Retweeted
3112
Retweeted
3113
Retweeted
3114
3115
Retweeted
3116
Retweeted
3117
3118
Retweeted
3119
Retweeted
3120
3121
3122
Retweeted
3123
3124
Retweeted
3125
Retweeted
3126
3127
3128
Retweeted
3129
3130
3131
Retweeted
3132
Retweeted
3133
Retweeted
3134
Retweeted
3135
3136
Retweeted
3137
3138
3139
3140
Retweeted
3141
Retweeted
3142
Retweeted
3143
Retweeted
3144
3145
Retweeted
3146
3147
3148
Regular
3149
Regular
3150
3151
Retweeted
3152
3153
Retweeted
3154
Retweeted
3155
Retweeted
3156
3157
3158
Retweeted
3159
3160
Regular
3161
Retweeted
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'i': expected 't/T' or 'e/E' (line 1, column 101 (offset: 100))
"MATCH (e:Entity {ID:"2159459339", Type:"TwitterAccount", Name:'calim2427'}) SET e.Description = "" Si quieres ser ave, vuela, si quieres ser gusano, arrástrate, pero no grites cuando te aplasten "."
                                                                                                     ^}
3162
Retweeted
3163
3164
Retweeted
3165
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
3166
Retweeted
3167
Retweeted
3168
Regular
3169
Retweeted
3170
3171
3172
3173
Retweeted
3174
Retweeted
3175
3176
Retweeted
3177
Retweeted
3178
Retweeted
3179
Retweeted
3180
Retweeted
3181
3182
3183
3184
3185
Retweeted
3186
3187
3188
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 195 (offset: 194))
"MATCH (e:Entity), (c:Post) WHERE e.Name = "Cargill" AND e.Type = "YouTubeAuthor" AND c.Link = "https://www.youtube.com/watch?v=muwif0No6qg&lc=UgzaxbpvPdfcCOTqt9R4AaABAg" AND c.Type = "youtube"Reply" CREATE (e)-[r:AUTHORED]->(c)"
                                                                                                                                                                                                   ^}
3189
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 195 (offset: 194))
"MATCH (e:Entity), (c:Post) WHERE e.Name = "Cargill" AND e.Type = "YouTubeAuthor" AND c.Link = "https://www.youtube.com/watch?v=muwif0No6qg&lc=Ugzjqt_9StceLiQbE4l4AaABAg" AND c.Type = "youtube"Reply" CREATE (e)-[r:AUTHORED]->(c)"
                                                                                                                                                                                                   ^}
3190
Retweeted
3191
Reply
3192
Retweeted
3193
Retweeted
3194
Regular
3195
Retweeted
3196
Retweeted
3197
3198
Retweeted
3199
3200
Reply
3201
3202
Retweeted
3203
Retweeted
3204
Retweeted
3205
3206
3207
Retweeted
3208
3209
Retweeted
3210
Regular
3211
3212
3213
Retweeted
3214
3215
Retweeted
3216
Retweeted
3217
Retweeted
3218
Retweeted
3219
Regular
3220
3221
3222
Retweeted
3223
3224
3225
3226
Retweeted
3227
3228
Retweeted
3229
Retweeted
3230
3231
Retweeted
3232
Retweeted
3233
3234
3235
Retweeted
3236
Retweeted
3237
3238
Retweeted
3239
Retweeted
3240
Retweeted
3241
Retweeted
3242
3243
3244
3245
3246
3247
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
3248
3249
3250
Retweeted
3251
3252
3253
Retweeted
3254
3255
3256
Retweeted
3257
Retweeted
3258
3259
Regular
3260
Retweeted
3261
Retweeted
3262
Retweeted
3263
3264
Retweeted
3265
Retweeted
3266
Retweeted
3267
3268
Retweeted
3269
3270
3271
Retweeted
3272
3273
Retweeted
3274
Retweeted
3275
Retweeted
3276
Retweeted
3277
Retweeted
3278
3279
Retweeted
3280
Retweeted
3281
3282
Retweeted
3283
Retweeted
3284
3285
Reply
3286
Retweeted
3287
3288
Retweeted
3289
3290
Retweeted
3291
Retweeted
3292
3293
3294
3295
Retweeted
3296
3297
3298
Retweeted
3299
3300
3301
Retweeted
3302
Reply
3303
3304
Retweeted
3305
Retweeted
3306
3307
Retweeted
3308
Retweeted
3309
3310
3311
Retweeted
3312
3313
Retweeted
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 't/T' or 'e/E' (line 1, column 207 (offset: 206))
"MATCH (e:Entity {ID:"1587277334", Type:"TwitterAccount", Name:'bobittyboop'}) SET e.Description = "#FundABPublicSchools. Little RED dot swimming in sea of blue. Severely abnormal Albertan, Looney Lefter, "Special Interest Group" as per Kenney, parent", e.Followers =2363, e.Location = "", e.Verified = False"
                                                                                                                                                                                                               ^}
3314
Retweeted
3315
3316
Retweeted
3317
Retweeted
3318
Retweeted
3319
Retweeted
3320
Retweeted
3321
Retweeted
3322
Retweeted
3323
Retweeted
3324
Retweeted
3325
Retweeted
3326
Retweeted
3327
Retweeted
3328
Retweeted
3329
Retweeted
3330
3331
Retweeted
3332
Retweeted
3333
Retweeted
3334
Retweeted
3335
Retweeted
3336
Retweeted
3337
Retweeted
3338
3339
Retweeted
3340
3341
Retweeted
3342
Retweeted
3343
Retweeted
3344
Retweeted
3345
Retweeted
3346
Reply
3347
Retweeted
3348
3349
Retweeted
3350
Retweeted
3351
3352
Retweeted
3353
3354
Retweeted
3355
Retweeted
3356
Retweeted
3357
Retweeted
3358
Retweeted
3359
3360
3361
3362
Retweeted
3363
3364
3365
Retweeted
3366
3367
Regular
3368
3369
Retweeted
3370
Regular
3371
Regular
3372
Retweeted
3373
Retweeted
3374
3375
3376
Retweeted
3377
3378
3379
Retweeted
3380
Regular
3381
3382
3383
Retweeted
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 'd/D' (line 1, column 101 (offset: 100))
"MATCH (e:Entity {ID:"1277999094", Type:"TwitterAccount", Name:'Lechuza9'}) SET e.Description = "" En América todos tenemos algo de sangre originaria."
                                                                                                     ^}
3384
Retweeted
3385
3386
Retweeted
3387
3388
3389
Retweeted
3390
Retweeted
3391
Retweeted
3392
Reply
3393
Retweeted
3394
Retweeted
3395
Retweeted
3396
Retweeted
3397
Retweeted
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 'l/L' or 't/T' (line 1, column 113 (offset: 112))
"MATCH (e:Entity {ID:"1118890128737484800", Type:"TwitterAccount", Name:'Pili53084470'}) SET e.Description = ""De la economía se vuelve, de las muertes no se vuelve más"."
                                                                                                                 ^}
3398
Regular
3399
Retweeted
3400
3401
3402
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 58 (offset: 57))
"MERGE (e:Entity {Type:"autoID", Name:'Mars Incorporated's'})"
                                                          ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 60 (offset: 59))
"MERGE (e:Entity {Type:"autoID", Name:'Mars Food UK Limited'''})"
                                                            ^}

Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 48 (offset: 47))
"MERGE (e:Entity {Type:"autoID", Name:'Gage FH '''})"
                                                ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 75 (offset: 74))
"MERGE (e:Entity {Type:"autoID", Name:'Retention of Spatial Memory in Mice'''})"
                                                                           ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 65 (offset: 64))
"MERGE (e:Entity {Type:"autoID", Name:'World Resources Institute'''})"
                                                                 ^}
3403
Retweeted
3404
Retweeted
3405
Retweeted
3406
Retweeted
3407
Retweeted
3408
Retweeted
3409
3410
3411
Retweeted
3412
3413
3414
Reply
3415
3416
3417
3418
Retweeted
3419
Retweeted
3420
Retweeted
3421
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ',': expected '\', ''', '"', 'b', 'f', 'n', 'r', 't', UTF16 or UTF32 (line 1, column 37 (offset: 36))
"MATCH (p:Post {ID:"2360759957388726\, Type:"facebookOriginal"}) SET p.Name = "World Food Day", p.Date = "2021-10-16T15:01:17.000+0000", p.Link = "https://www.facebook.com/958164574314945/posts/2360759957388726#channels""
                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 144 (offset: 143))
"MATCH (c:Post), (o:Post) WHERE c.Link = "https://www.facebook.com/2360759957388726#channels_comment_2371486989649356" AND c.Type = "facebook"Reply" AND o.ID = "2360759957388726" AND o.Type = "facebookOriginal" CREATE (c)-[r:REPLIED_TO]->(o)"
                                                                                                                                                ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 203 (offset: 202))
"MATCH (e:Entity), (c:Post) WHERE e.Name = "Masum Ahmed" AND e.Type = "FacebookAuthor" AND c.Link = "https://www.facebook.com/2360759957388726#channels_comment_2371486989649356" AND c.Type = "facebook"Reply" CREATE (e)-[r:AUTHORED]->(c)"
                                                                                                                                                                                                           ^}
3422
Retweeted
3423
Retweeted
3424
Retweeted
3425
Retweeted
3426
Retweeted
3427
Reply
3428
3429
3430
Retweeted
3431
Retweeted
3432
Retweeted
3433
Retweeted
3434
3435
3436
Retweeted
3437
3438
3439
Retweeted
3440
Retweeted
3441
Retweeted
3442
Retweeted
3443
Quote tweet
3444
Retweeted
3445
Retweeted
3446
3447
3448
Retweeted
3449
3450
3451
Retweeted
3452
Retweeted
3453
Retweeted
3454
Retweeted
3455
Retweeted
3456
3457
Retweeted
3458
Retweeted
3459
Retweeted
3460
Retweeted
3461
Retweeted
3462
Regular
3463
Reply
3464
Retweeted
3465
Retweeted
3466
Retweeted
3467
3468
3469
3470
3471
Retweeted
3472
Retweeted
3473
Retweeted
3474
Retweeted
3475
Retweeted
3476
Retweeted
3477
Retweeted
3478
Retweeted
3479
Retweeted
3480
Retweeted
3481
Retweeted
3482
Retweeted
3483
Retweeted
3484
Retweeted
3485
Retweeted
3486
3487
Retweeted
3488
Retweeted
3489
Retweeted
3490
Retweeted
3491
3492
Retweeted
3493
3494
Retweeted
3495
Retweeted
3496
Retweeted
3497
Retweeted
3498
Retweeted
3499
Retweeted
3500
Retweeted
3501
3502
3503
Retweeted
3504
Retweeted
3505
Retweeted
3506
Retweeted
3507
3508
Retweeted
3509
Retweeted
3510
Retweeted
3511
Retweeted
3512
Retweeted
3513
3514
Retweeted
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'l': expected 'n/N' (line 1, column 117 (offset: 116))
"MATCH (e:Entity {ID:"4405043657", Type:"TwitterAccount", Name:'coembotaII'}) SET e.Description = "Financial Time: "El problema de Argentina no fueron los ´70 años de Peronismo´, sino los ´120 años de Oligarquía´""
                                                                                                                     ^}
3515
Retweeted
3516
Retweeted
3517
Retweeted
3518
Retweeted
3519
3520
Retweeted
3521
Retweeted
3522
Retweeted
3523
3524
Retweeted
3525
Retweeted
3526
Retweeted
3527
Regular
3528
Retweeted
3529
Retweeted
3530
Retweeted
3531
Retweeted
3532
Retweeted
3533
Retweeted
3534
Retweeted
3535
Retweeted
3536
Retweeted
3537
3538
Retweeted
3539
Retweeted
3540
Retweeted
3541
3542
3543
Retweeted
3544
Retweeted
3545
Retweeted
3546
3547
Retweeted
3548
Retweeted
3549
Retweeted
3550
Retweeted
3551
Retweeted
3552
3553
Retweeted
3554
3555
Retweeted
3556
Retweeted
3557
Retweeted
3558
Retweeted
3559
3560
Retweeted
3561
Regular
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 44 (offset: 43))
"MERGE (e:Entity {Type:"autoID", Name:'Men's Small Group'})"
                                            ^}
3562
Retweeted
3563
Retweeted
3564
Retweeted
3565
Retweeted
3566
Retweeted
3567
Retweeted
3568
3569
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 54 (offset: 53))
"MERGE (e:Entity {Type:"autoID", Name:'Focus Cargill's'})"
                                                      ^}
3570
3571
3572
Retweeted
3573
Retweeted
3574
3575
Retweeted
3576
Retweeted
3577
Reply
3578
Regular
3579
Retweeted
3580
3581
Retweeted
3582
3583
Retweeted
3584
Retweeted
3585
3586
3587
3588
Retweeted
3589
Retweeted
3590
Regular
3591
3592
3593
3594
3595
Regular
3596
3597
3598
Retweeted
3599
3600
3601
3602
Regular
3603
3604
Regular
3605
3606
3607
3608
3609
3610
3611
3612
3613
Retweeted
3614
Reply
3615
3616
Regular
3617
3618
3619
3620
3621
Reply
3622
Retweeted
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'V': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',', FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 124 (offset: 123))
"MATCH (e:Entity {ID:"570475820", Type:"TwitterAccount", Name:'scot_tigger'}) SET e.Description = "Proud to be a Socialist."Vintage" Dance Music Lover who Loved to Bounce!😹 Comedy Lover. ❤️NHS  #Bernie2020"
                                                                                                                            ^}
3623
Regular
3624
3625
3626
3627
3628
3629
3630
3631
3632
3633
3634
Regular
3635
Quote tweet
3636
Retweeted
3637
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Lloyd's Register'})"
                                              ^}
3638
3639
3640
3641
3642
3643
Regular
3644
3645
3646
3647
3648
Regular
3649
3650
3651
3652
Regular
3653
3654
Regular
3655
3656
3657
Regular
3658
3659
3660
3661
3662
3663
3664
Regular
3665
Regular
3666
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'n': expected 't/T' (line 1, column 52 (offset: 51))
"MERGE (e:Entity {Type:"autoID", Name:'Patrick O'Connor'})"
                                                    ^}
3667
3668
3669
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}

Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Land O'Lakes Inc.'})"
                                              ^}
3670
3671
3672
Regular
3673
3674
Retweeted
3675
Regular
3676
3677
3678
3679
3680
Quote tweet
3681
3682
3683
3684
Quote tweet
3685
Quote tweet
3686
Retweeted
3687
3688
3689
3690
3691
3692
3693
3694
3695
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 48 (offset: 47))
"MERGE (e:Entity {Type:"autoID", Name:'Pruthvi's Foods Pvt.'})"
                                                ^}
3696
Retweeted
3697
3698
3699
3700
3701
3702
3703
Regular
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 58 (offset: 57))
"MERGE (e:Entity {Type:"autoID", Name:'Michael B. Jordan's'})"
                                                          ^}
3704
3705
Quote tweet
3706
Retweeted
3707
Reply
3708
3709
3710
3711
3712
Retweeted
3713
Retweeted
3714
3715
3716
Reply
3717
3718
Query failed: {code: Neo.DatabaseError.General.UnknownError} {message: Lexical error at line 1, column 55.  Encountered: <EOF> after : ""}
3719
3720
3721
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 65 (offset: 64))
"MERGE (e:Entity {Type:"autoID", Name:'The Education Department's'})"
                                                                 ^}
3722
3723
3724
3725
3726
3727
Regular
3728
Regular
3729
3730
3731
3732
Regular
3733
3734
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 48 (offset: 47))
"MERGE (e:Entity {Type:"autoID", Name:'Pruthvi's Foods Pvt.'})"
                                                ^}
3735
3736
3737
3738
3739
3740
3741
3742
3743
Regular
3744
3745
Retweeted
3746
3747
3748
3749
3750
3751
3752
3753
3754
3755
3756
3757
3758
3759
3760
3761
3762
3763
3764
3765
3766
3767
3768
3769
3770
3771
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 48 (offset: 47))
"MERGE (e:Entity {Type:"autoID", Name:'Pruthvi's Foods Pvt.'})"
                                                ^}
3772
3773
3774
3775
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '国': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 40 (offset: 39))
"MERGE (p:Post {Type:"news", Name:"第七届 "国际动物肠道生态与健康（中国）高端论坛"", Date:"2021-10-29T08:52:02.000+0000", Link:"https://news.zhuwang.cc/baodao/20211029/487858.html", Language:"zh", Text:"...）协办单位 青岛润博特生物科技有限公司 潘可士玛（上海）饲料添加剂有限公司 北京菲迪饲料科技有限责任公司 好实沃生物 湖南普菲克生物科技有限公司 帝斯曼（中国）有限公司 山西大禹生物工程股份有限公司 浙江丰虹生物科技有限公司 嘉吉动物营养 浙江艾杰斯生物科技有限公司 安迪苏生命科学制品（上海）有限公司 思来生物 丹麦科汉森股份有限公司 荷兰皇家农业集团（绿赛集团） 河南新逻辑营养生物 技术 有限公司 河南金钱果生物科技股份有限公司 北京康华远景科技股份有限公司 比利时壹诺有限公司 北京博利煌科技有限公司 （九）赞助单位 北京斯隆生物 技术 有限责任公司 北京天富来生物科技有限公司 广州市江丰实业股份有限公司 瑞典柏斯托动物营养 河南金百合生物科技股份有限公司 正百科技 湖南今汉生物工程有限公..."})"
                                        ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '国': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 116 (offset: 115))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://news.zhuwang.cc/baodao/20211029/487858.html" AND p.Name = "第七届 "国际动物肠道生态与健康（中国）高端论坛"" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '国': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 116 (offset: 115))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://news.zhuwang.cc/baodao/20211029/487858.html" AND p.Name = "第七届 "国际动物肠道生态与健康（中国）高端论坛"" AND e.Type = "autoID" AND e.Name ="青岛润博特生物科技有限公司" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '国': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 116 (offset: 115))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://news.zhuwang.cc/baodao/20211029/487858.html" AND p.Name = "第七届 "国际动物肠道生态与健康（中国）高端论坛"" AND e.Type = "autoID" AND e.Name ="潘可士玛" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '国': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 116 (offset: 115))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://news.zhuwang.cc/baodao/20211029/487858.html" AND p.Name = "第七届 "国际动物肠道生态与健康（中国）高端论坛"" AND e.Type = "autoID" AND e.Name ="饲料添加剂有限公司" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '国': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 116 (offset: 115))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://news.zhuwang.cc/baodao/20211029/487858.html" AND p.Name = "第七届 "国际动物肠道生态与健康（中国）高端论坛"" AND e.Type = "autoID" AND e.Name ="北京菲迪饲料科技有限责任公司 好实沃生物 湖南普菲克生物科技有限公司 帝斯曼" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '国': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 116 (offset: 115))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://news.zhuwang.cc/baodao/20211029/487858.html" AND p.Name = "第七届 "国际动物肠道生态与健康（中国）高端论坛"" AND e.Type = "autoID" AND e.Name ="中国）有限公司" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                    ^}

Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '国': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 116 (offset: 115))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://news.zhuwang.cc/baodao/20211029/487858.html" AND p.Name = "第七届 "国际动物肠道生态与健康（中国）高端论坛"" AND e.Type = "autoID" AND e.Name ="山西大禹生物工程股份有限公司" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '国': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 116 (offset: 115))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://news.zhuwang.cc/baodao/20211029/487858.html" AND p.Name = "第七届 "国际动物肠道生态与健康（中国）高端论坛"" AND e.Type = "autoID" AND e.Name ="浙江丰虹生物科技有限公司" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '国': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 116 (offset: 115))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://news.zhuwang.cc/baodao/20211029/487858.html" AND p.Name = "第七届 "国际动物肠道生态与健康（中国）高端论坛"" AND e.Type = "autoID" AND e.Name ="浙江艾杰斯生物科技有限公司" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '国': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 116 (offset: 115))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://news.zhuwang.cc/baodao/20211029/487858.html" AND p.Name = "第七届 "国际动物肠道生态与健康（中国）高端论坛"" AND e.Type = "autoID" AND e.Name ="安迪" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '国': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 116 (offset: 115))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://news.zhuwang.cc/baodao/20211029/487858.html" AND p.Name = "第七届 "国际动物肠道生态与健康（中国）高端论坛"" AND e.Type = "autoID" AND e.Name ="苏" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '国': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 116 (offset: 115))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://news.zhuwang.cc/baodao/20211029/487858.html" AND p.Name = "第七届 "国际动物肠道生态与健康（中国）高端论坛"" AND e.Type = "autoID" AND e.Name ="上海）有限公司" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '国': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 116 (offset: 115))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://news.zhuwang.cc/baodao/20211029/487858.html" AND p.Name = "第七届 "国际动物肠道生态与健康（中国）高端论坛"" AND e.Type = "autoID" AND e.Name ="丹麦科汉森股份有限公司" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '国': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 116 (offset: 115))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://news.zhuwang.cc/baodao/20211029/487858.html" AND p.Name = "第七届 "国际动物肠道生态与健康（中国）高端论坛"" AND e.Type = "autoID" AND e.Name ="荷兰皇家农业集团" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '国': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 116 (offset: 115))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://news.zhuwang.cc/baodao/20211029/487858.html" AND p.Name = "第七届 "国际动物肠道生态与健康（中国）高端论坛"" AND e.Type = "autoID" AND e.Name ="河南金钱果生物科技股份有限公司" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '国': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 116 (offset: 115))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://news.zhuwang.cc/baodao/20211029/487858.html" AND p.Name = "第七届 "国际动物肠道生态与健康（中国）高端论坛"" AND e.Type = "autoID" AND e.Name ="北京康华远景科技股份有限公司" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '国': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 116 (offset: 115))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://news.zhuwang.cc/baodao/20211029/487858.html" AND p.Name = "第七届 "国际动物肠道生态与健康（中国）高端论坛"" AND e.Type = "autoID" AND e.Name ="北京博利煌科技有限公司" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '国': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 116 (offset: 115))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://news.zhuwang.cc/baodao/20211029/487858.html" AND p.Name = "第七届 "国际动物肠道生态与健康（中国）高端论坛"" AND e.Type = "autoID" AND e.Name ="天富来生物科技有限公司" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '国': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 116 (offset: 115))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://news.zhuwang.cc/baodao/20211029/487858.html" AND p.Name = "第七届 "国际动物肠道生态与健康（中国）高端论坛"" AND e.Type = "autoID" AND e.Name ="广州市江丰实业股份有限公司" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '国': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 116 (offset: 115))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://news.zhuwang.cc/baodao/20211029/487858.html" AND p.Name = "第七届 "国际动物肠道生态与健康（中国）高端论坛"" AND e.Type = "autoID" AND e.Name ="瑞典柏斯托动物营养 河南金百合生物科技股份有限公司" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '国': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 116 (offset: 115))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://news.zhuwang.cc/baodao/20211029/487858.html" AND p.Name = "第七届 "国际动物肠道生态与健康（中国）高端论坛"" AND e.Type = "autoID" AND e.Name ="今汉生物工程有限" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                    ^}
3776

3777
3778
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'v': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 76 (offset: 75))
"MERGE (p:Post {Type:"news", Name:"Study finds California condors can have "virgin births"", Date:"2021-10-29T08:49:28.000+0000", Link:"https://www.yahoo.com/news/study-finds-california-condors-virgin-022735150.html", Language:"en", Text:"...crisis has found. At least 59,000 workers at Tyson Foods, Smithfield Foods, JBS, Cargill and National Beef - companies that control the lion's share of the U.S. meat market - were infected with the coronavirus during the pandemic's first year, according to a report the subcommittee released As workers throughout the U.S. rally against COVID-19..."})"
                                                                            ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'v': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 180 (offset: 179))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.yahoo.com/news/study-finds-california-condors-virgin-022735150.html" AND p.Name = "Study finds California condors can have "virgin births"" AND e.Type = "autoID" AND e.Name ="Smithfield" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'v': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 180 (offset: 179))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.yahoo.com/news/study-finds-california-condors-virgin-022735150.html" AND p.Name = "Study finds California condors can have "virgin births"" AND e.Type = "autoID" AND e.Name ="National Beef" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'v': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 180 (offset: 179))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.yahoo.com/news/study-finds-california-condors-virgin-022735150.html" AND p.Name = "Study finds California condors can have "virgin births"" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'v': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 180 (offset: 179))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.yahoo.com/news/study-finds-california-condors-virgin-022735150.html" AND p.Name = "Study finds California condors can have "virgin births"" AND e.Type = "autoID" AND e.Name ="JBS" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'v': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 180 (offset: 179))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.yahoo.com/news/study-finds-california-condors-virgin-022735150.html" AND p.Name = "Study finds California condors can have "virgin births"" AND e.Type = "autoID" AND e.Name ="Tyson" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'v': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 180 (offset: 179))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.yahoo.com/news/study-finds-california-condors-virgin-022735150.html" AND p.Name = "Study finds California condors can have "virgin births"" AND e.Type = "autoID" AND e.Name ="Tyson Foods" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'v': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 180 (offset: 179))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.yahoo.com/news/study-finds-california-condors-virgin-022735150.html" AND p.Name = "Study finds California condors can have "virgin births"" AND e.Type = "autoID" AND e.Name ="Smithfield Foods" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'v': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 180 (offset: 179))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.yahoo.com/news/study-finds-california-condors-virgin-022735150.html" AND p.Name = "Study finds California condors can have "virgin births"" AND e.Type = "autoID" AND e.Name ="National Beef -" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                    ^}
3779

3780
3781
3782
3783
3784
3785
3786
3787
3788
3789
3790
3791
3792
3793
Retweeted
3794
3795
3796
3797
Retweeted
3798
Regular
3799
3800
Regular
3801
3802
3803
3804
3805
3806
3807
3808
3809
3810
Retweeted
3811
3812
3813
3814
3815
3816
3817
Retweeted
3818
3819
Regular
3820
3821
3822
3823
3824
3825
3826
3827
3828
3829
3830
3831
3832
3833
3834
3835
3836
3837
3838
3839
3840
3841
3842
3843
3844
3845
3846
3847
3848
3849
3850
3851
3852
3853
3854
3855
3856
3857
3858
3859
3860
3861
Reply
3862
3863
3864
3865
3866
3867
3868
3869
3870
3871
3872
3873
3874
3875
3876
Reply
3877
3878
3879
3880
3881
3882
3883
3884
Retweeted
3885
3886
Retweeted
3887
3888
Retweeted
3889
Retweeted
3890
Retweeted
3891
3892
3893
3894
3895
3896
3897
Regular
3898
Regular
3899
Retweeted
3900
3901
3902
Regular
3903
3904
3905
3906
3907
3908
3909
3910
3911
3912
3913
3914
3915
3916
Quote tweet
3917
Regular
3918
3919
3920
3921
3922
3923
3924
3925
3926
3927
Reply
3928
3929
3930
3931
3932
3933
Regular
3934
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'b': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 113 (offset: 112))
"MERGE (p:Post {Type:"redditPost", Name:"Apes, I know we like to laugh at Amazons misfortune, but speaking from "boots on the ground" in the retail business in general, I am honestly shook.", Date:"2021-10-29T05:14:22.000+0000", Link:"https://www.reddit.com/r/Superstonk/comments/qhyocp/apes_i_know_we_like_to_laugh_at_amazons/hih7xya/", Language:"en", Text:"Industrial tech here. I can tell you just how bad this is. No one stocks critical components at their plant expecting to phone up and have us send them the PLC or HMI or whatever. What does my company make? Industrial food packaging equipment. Stuff that Walmart’s, Costco’s, Kroger’s have a copacker like Cargill, Tyson and JBS pack for them. Dozens of intricate lines that can all go down due to one cog in that packaging line. I’ve seen it first hand. If they stop being able to source mission critical components, you may not see meat/chicken/etc at the biggest retailers."})"
                                                                                                                 ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'b': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 114 (offset: 113))
"MATCH (p:Post), (t:Post) WHERE p.Name = "Apes, I know we like to laugh at Amazons misfortune, but speaking from "boots on the ground" in the retail business in general, I am honestly shook." AND p.Link = "https://www.reddit.com/r/Superstonk/comments/qhyocp/apes_i_know_we_like_to_laugh_at_amazons/hih7xya/" AND p.Type = "redditPost" AND t.Name = "https://www.reddit.com/r/Superstonk/comments/qhyocp/apes_i_know_we_like_to_laugh_at_amazons/" AND t.Type = "SubredditThread" CREATE (p)-[r:REPLIED_TO]->(t)"
                                                                                                                  ^}
3935
3936
3937
3938
3939
3940
3941
3942
3943
3944
3945
3946
3947
3948
Reply
3949
3950
3951
3952
3953
3954
Regular
3955
3956
3957
3958
3959
3960
3961
3962
3963
3964
3965
3966
3967
3968
3969
3970
3971
3972
3973
3974
3975
3976
3977
3978
3979
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
3980
3981
3982
3983
3984
3985
3986
3987
3988
3989
3990
3991
3992
3993
3994
3995
3996
3997
3998
3999
4000
4001
4002
4003
4004
Regular
4005
4006
4007
4008
4009
4010
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 52 (offset: 51))
"MERGE (e:Entity {Type:"autoID", Name:'Arkema S.A.'s'})"
                                                    ^}
4011
4012
4013
4014
4015
4016
4017
4018
4019
Regular
4020
4021
4022
4023
4024
4025
Quote tweet
4026
4027
4028
Query failed: {code: Neo.DatabaseError.General.UnknownError} {message: Lexical error at line 1, column 57.  Encountered: <EOF> after : ""}
4029
4030
4031
4032
Reply
4033
Regular
4034
4035
Reply
4036
4037
4038
Retweeted
4039
4040
4041
4042
4043
Regular
4044
4045
4046
4047
4048
Retweeted
4049
4050
4051
Reply
4052
4053
4054
4055
4056
4057
Reply
4058
4059
Regular
4060
4061
Retweeted
4062
4063
4064
Reply
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 56 (offset: 55))
"MERGE (e:Entity {Type:"autoID", Name:'@BogeyGuyC Lisa's'})"
                                                        ^}
4065
4066
4067
4068
4069
4070
Retweeted
4071
4072
4073
4074
Retweeted
4075
4076
4077
4078
Retweeted
4079
4080
Retweeted
4081
4082
4083
4084
4085
4086
4087
4088
4089
4090
4091
4092
4093
4094
4095
4096
4097
4098
4099
4100
4101
4102
4103
4104
4105
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Lloyd's Register'})"
                                              ^}
4106
4107
Quote tweet
4108
4109
4110
4111
4112
4113
4114
4115
Regular
4116
Reply
4117
4118
Retweeted
4119
4120
4121
4122
4123
4124
Retweeted
4125
4126
4127
4128
4129
Retweeted
4130
Reply
4131
4132
4133
Reply
4134
4135
4136
Reply
4137
4138
Quote tweet
4139
Quote tweet
4140
4141
4142
4143
4144
4145
4146
4147
4148
4149
Reply
4150
4151
4152
4153
4154
4155
4156
4157
4158
4159
4160
4161
4162
4163
4164
4165
4166
4167
4168
4169
4170
4171
4172
4173
4174
4175
Retweeted
4176
4177
4178
4179
4180
4181
4182
4183
4184
4185
4186
4187
4188
4189
4190
4191
4192
4193
4194
4195
4196
4197
4198
4199
4200
4201
4202
4203
4204
4205
4206
4207
4208
4209
4210
4211
4212
4213
4214
Quote tweet
4215
4216
4217
4218
4219
Regular
4220
4221
4222
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
4223
Retweeted
4224
Retweeted
4225
Retweeted
4226
Retweeted
4227
4228
Retweeted
4229
Regular
4230
4231
4232
4233
4234
4235
4236
4237
4238
4239
4240
Regular
4241
4242
4243
Regular
4244
4245
4246
Regular
4247
4248
4249
4250
Regular
4251
4252
4253
4254
4255
4256
4257
Regular
4258
4259
4260
4261
4262
4263
4264
4265
4266
4267
4268
Regular
4269
4270
4271
Regular
4272
4273
4274
4275
4276
4277
4278
4279
Regular
4280
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Lloyd's'})"
                                              ^}
4281
Retweeted
4282
Regular
4283
Retweeted
4284
Retweeted
4285
Retweeted
4286
4287
4288
4289
4290
4291
4292
4293
4294
4295
4296
4297
4298
4299
Retweeted
4300
4301
4302
4303
4304
4305
4306
Regular
4307
Reply
4308
4309
4310
4311
4312
Retweeted
4313
Regular
4314
Regular
4315
4316
4317
4318
Reply
4319
Reply
4320
Regular
4321
4322
4323
4324
Regular
4325
Retweeted
4326
4327
4328
4329
4330
4331
4332
4333
4334
4335
4336
4337
4338
4339
4340
Reply
4341
Reply
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 'n/N' or 's/S' (line 2, column 56 (offset: 179))
"When someone gives you their trust, they are saying, "I am Safe With You". Don't break it. Appreciate it.", e.Followers =644, e.Location = "UK-US-Canada", e.Verified = False"
                                                        ^}

4342
Reply
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 'n/N' or 's/S' (line 2, column 56 (offset: 179))
"When someone gives you their trust, they are saying, "I am Safe With You". Don't break it. Appreciate it.", e.Followers =644, e.Location = "UK-US-Canada", e.Verified = False"
                                                        ^}
4343
Reply
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 'n/N' or 's/S' (line 2, column 56 (offset: 179))
"When someone gives you their trust, they are saying, "I am Safe With You". Don't break it. Appreciate it.", e.Followers =644, e.Location = "UK-US-Canada", e.Verified = False"
                                                        ^}
4344
Reply
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 'n/N' or 's/S' (line 2, column 56 (offset: 179))
"When someone gives you their trust, they are saying, "I am Safe With You". Don't break it. Appreciate it.", e.Followers =644, e.Location = "UK-US-Canada", e.Verified = False"
                                                        ^}
4345
4346
4347
4348
4349
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
4350
4351
4352
4353
4354
4355
4356
4357
4358
Regular
4359
4360
4361
4362
4363
4364
4365
4366
4367
4368
Retweeted
4369
Regular
4370
4371
Regular
4372
4373
4374
4375
Reply
4376
4377
Regular
4378
Query failed: {code: Neo.DatabaseError.General.UnknownError} {message: Lexical error at line 1, column 55.  Encountered: <EOF> after : ""}
4379
4380
4381
4382
4383
Retweeted
4384
4385
Regular
4386
4387
4388
Regular
4389
4390
4391
Regular
4392
Regular
4393
4394
Retweeted
4395
4396
4397
4398
4399
4400
4401
4402
Regular
4403
4404
Quote tweet
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 55 (offset: 54))
"MERGE (e:Entity {Type:"autoID", Name:'Elaine C Smith's'})"
                                                       ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'u': expected 't/T' (line 1, column 54 (offset: 53))
"MERGE (e:Entity {Type:"autoID", Name:'Brian James O'Sullivan'})"
                                                      ^}
4405
Regular
4406
4407
4408
4409
4410
4411
4412
4413
4414
4415
4416
4417
4418
Retweeted
4419
4420
4421
4422
4423
Reply
4424
4425
4426
4427
4428
4429
4430
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'a': expected 'o/O' (line 1, column 51 (offset: 50))
"MERGE (p:Post {Type:"news", Name:"Shippers Fear "Catastrophic" Fallout From "Crazy" California Port Fees | ZeroHedge", Date:"2021-10-28T19:01:11.000+0000", Link:"https://www.zerohedge.com/markets/shippers-fear-catastrophic-fallout-crazy-california-port-fees", Language:"en", Text:"...meeting emphasized that the Los Angeles/Long Beach charges will ultimately be paid by shippers. Daniel Miller, global container lead at Cargill, dubbed California’s emergency charges “crazy fees” and said, “We know this is all going to come back to us. I had a couple of calls with carriers yesterday and they’ve already admitted that yes, they are..."})"
                                                   ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 't': expected 'l/L' (line 1, column 172 (offset: 171))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.zerohedge.com/markets/shippers-fear-catastrophic-fallout-crazy-california-port-fees" AND p.Name = "Shippers Fear "Catastrophic" Fallout From "Crazy" California Port Fees | ZeroHedge" AND e.Type = "autoID" AND e.Name ="Target" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                            ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 't': expected 'l/L' (line 1, column 172 (offset: 171))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.zerohedge.com/markets/shippers-fear-catastrophic-fallout-crazy-california-port-fees" AND p.Name = "Shippers Fear "Catastrophic" Fallout From "Crazy" California Port Fees | ZeroHedge" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                            ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 't': expected 'l/L' (line 1, column 172 (offset: 171))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.zerohedge.com/markets/shippers-fear-catastrophic-fallout-crazy-california-port-fees" AND p.Name = "Shippers Fear "Catastrophic" Fallout From "Crazy" California Port Fees | ZeroHedge" AND e.Type = "autoID" AND e.Name ="Amazon" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                            ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 't': expected 'l/L' (line 1, column 172 (offset: 171))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.zerohedge.com/markets/shippers-fear-catastrophic-fallout-crazy-california-port-fees" AND p.Name = "Shippers Fear "Catastrophic" Fallout From "Crazy" California Port Fees | ZeroHedge" AND e.Type = "autoID" AND e.Name ="Daniel Miller" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                            ^}
4431
4432
4433
4434
4435
4436
4437
4438
4439
4440
4441
4442
4443
4444
4445
4446
4447
4448
4449
Retweeted
4450
4451
4452
4453
4454
4455
4456
Quote tweet
4457
4458
4459
Reply
4460
4461
4462
4463
4464
4465
4466
4467
4468
Retweeted
4469
4470
4471
4472
4473
Regular
4474
4475
4476
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Lloyd's'})"
                                              ^}
4477
4478
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Lloyd's'})"
                                              ^}
4479
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Lloyd's'})"
                                              ^}
4480
4481
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Lloyd's'})"
                                              ^}
4482
Quote tweet
4483
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Lloyd's'})"
                                              ^}
4484
4485
4486
4487
4488
4489
Retweeted
4490
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Lloyd's'})"
                                              ^}
4491
Regular
4492
4493
4494
4495
4496
4497
4498
4499
4500
4501
4502
4503
4504
4505
4506
Regular
4507
4508
Retweeted
4509
4510
4511
4512
4513
4514
4515
4516
4517
4518
4519
4520
Quote tweet
4521
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Lloyd's'})"
                                              ^}

4522
Regular
4523
4524
4525
4526
Retweeted
4527
4528
4529
4530
4531
4532
4533
4534
4535
4536
4537
4538
4539
4540
Regular
4541
4542
4543
4544
Retweeted
4545
4546
4547
4548
4549
Retweeted
4550
4551
4552
Regular
4553
Regular
4554
4555
Regular
4556
4557
4558
4559
4560
Reply
4561
Retweeted
4562
4563
4564
4565
4566
4567
4568
4569
4570
4571
4572
4573
4574
4575
4576
4577
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Lloyd's'})"
                                              ^}
4578
4579
4580
4581
Reply
4582
4583
4584
4585
4586
Retweeted
4587
Reply
4588
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Lloyd's'})"
                                              ^}
4589
4590
4591
4592
Reply
4593
4594
4595
4596
4597
4598
4599
4600
4601
4602
4603
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Lloyd's'})"
                                              ^}
4604
4605
4606
4607
4608
4609
4610
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Lloyd's'})"
                                              ^}
4611
4612
4613
4614
4615
4616
4617
4618
4619
4620
4621
4622
4623
4624
4625
4626
Reply
4627
4628
4629
4630
Reply
4631
Reply
4632
Reply
4633
4634
4635
4636
4637
4638
4639
4640
4641
Reply
4642
4643
4644
4645
4646
4647
Reply
4648
Regular
4649
4650
Regular
4651
Retweeted
4652
Retweeted
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'm': expected 'n/N' (line 1, column 209 (offset: 208))
"MATCH (e:Entity {ID:"4357271", Type:"TwitterAccount", Name:'gmh_upsa'}) SET e.Description = "This is what I stand for: “There is nothing so powerful as #TheWealthOfGlobalization whose time has come.” Let's "Embrace #BrightGlobalization"", e.Followers =1367, e.Location = "Santo Domingo, Rep.Dominicana", e.Verified = False"
                                                                                                                                                                                                                 ^}
4653
Retweeted
4654
4655
4656
4657
4658
4659
4660
4661
4662
4663
Regular
4664
4665
Regular
4666
Regular
4667
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 48 (offset: 47))
"MERGE (e:Entity {Type:"autoID", Name:'Pilgrim's Pride'})"
                                                ^}
4668
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 53 (offset: 52))
"MERGE (e:Entity {Type:"autoID", Name:'Julian Chase's'})"
                                                     ^}
4669
4670
4671
4672
4673
4674
4675
4676
4677
4678
4679
Reply
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'm': expected 'n/N' (line 1, column 209 (offset: 208))
"MATCH (e:Entity {ID:"4357271", Type:"TwitterAccount", Name:'gmh_upsa'}) SET e.Description = "This is what I stand for: “There is nothing so powerful as #TheWealthOfGlobalization whose time has come.” Let's "Embrace #BrightGlobalization"", e.Followers =1367, e.Location = "Santo Domingo, Rep.Dominicana", e.Verified = False"
                                                                                                                                                                                                                 ^}
4680
Regular
4681
Quote tweet
4682
4683
4684
4685
4686
4687
4688
4689
4690
4691
4692
4693
Reply
4694
4695
4696
4697
Reply
4698
Reply
4699
4700
4701
4702
Retweeted
4703
4704
4705
4706
4707
4708
Retweeted
4709
Regular
4710
4711
4712
4713
Retweeted
4714
4715
4716
Retweeted
4717
4718
Regular
4719
4720
4721
4722
4723
Regular
4724
Regular
4725
Regular
4726
Reply
4727
4728
4729
4730
4731
Retweeted
4732
Regular
4733
4734
4735
4736
4737
4738
4739
4740
4741
Retweeted
4742
Regular
4743
4744
4745
Retweeted
4746
4747
4748
4749
4750
4751
Regular
4752
4753
4754
4755
4756
4757
Regular
4758
4759
4760
4761
Reply
4762
4763
4764
4765
4766
4767
4768
4769
4770
4771
4772
4773
Reply
4774
4775
4776
4777
4778
4779
4780
4781
4782
4783
4784
4785
Retweeted
4786
4787
4788
4789
4790
4791
4792
4793
4794
Regular
4795
4796
4797
Retweeted
4798
4799
4800
4801
4802
Regular
4803
Retweeted
4804
4805
Retweeted
4806
Reply
4807
4808
Retweeted
4809
4810
4811
4812
4813
4814
Reply
4815
4816
4817
4818
4819
4820
4821
4822
4823
4824
Retweeted
4825
4826
4827
4828
Reply
4829
4830
4831
4832
4833
4834
4835
4836
4837
4838
4839
Retweeted
4840
4841
Reply
4842
4843
4844
4845
4846
4847
4848
Reply
4849
4850
4851
4852
4853
Regular
4854
4855
4856
4857
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'l': expected 'n/N' (line 1, column 78 (offset: 77))
"MERGE (e:Entity {Type:"autoID", Name:'Organisation des Nations unies pour l'alimentation et l'agriculture'})"
                                                                              ^}
4858
4859
4860
4861
4862
4863
4864
4865
4866
4867
4868
4869
Retweeted
4870
4871
Quote tweet
4872
Retweeted
4873
4874
Regular
4875
4876
Regular
4877
4878
4879
Regular
4880
Regular
4881
4882
4883
4884
4885
Reply
4886
4887
Regular
4888
4889
4890
Regular
4891
4892
4893
4894
4895
4896
4897
4898
4899
4900
Quote tweet
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 55 (offset: 54))
"MERGE (e:Entity {Type:"autoID", Name:'Elaine C Smith's'})"
                                                       ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'u': expected 't/T' (line 1, column 54 (offset: 53))
"MERGE (e:Entity {Type:"autoID", Name:'Brian James O'Sullivan'})"
                                                      ^}
4901
4902
4903
4904
Regular
4905
Retweeted
4906
4907
Regular
4908
Retweeted
4909
4910
4911
4912
4913
4914
4915
Regular
4916
Regular
4917
Regular
4918
Regular
4919
Regular
4920
4921
4922
Retweeted
4923
4924
4925
4926
4927
4928
4929
Regular
4930
Regular
4931
Regular
4932
Reply
4933
Regular
4934
4935
Regular
4936
Regular
4937
4938
Retweeted
4939
4940
Retweeted
4941
4942
Regular
4943
Retweeted
4944
4945
4946
4947
Reply
4948
4949
4950
4951
4952
4953
4954
4955
4956
4957
4958
4959
4960
4961
4962
4963
4964
4965
4966
4967
4968
4969
4970
4971
4972
Retweeted
4973
4974
4975
4976
4977
4978
Retweeted
4979
4980
4981
4982
4983
Regular
4984
Regular
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 59 (offset: 58))
"MERGE (e:Entity {Type:"autoID", Name:'National Cattlemen's Beef Association'})"
                                                           ^}
4985
4986
4987
4988
4989
4990
4991
4992
4993
Regular
4994
Retweeted
4995
4996
4997
4998
4999
5000
5001
5002
Retweeted
5003
5004
5005
5006
5007
5008
5009
Retweeted
5010
Retweeted
5011
5012
5013
Regular
5014
Retweeted
5015
5016
Regular
5017
Regular
5018
5019
5020
5021
5022
5023
5024
Retweeted
5025
5026
Quote tweet
5027
5028
Retweeted
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'l': expected 'n/N' (line 1, column 168 (offset: 167))
"MATCH (e:Entity {ID:"20514852", Type:"TwitterAccount", Name:'jhpelaez'}) SET e.Description = "Matemático @Uniandes Columnista #OpiniónRCN y @larepublica_co Director "Al Paredón" en @DIRECTVCo Presentador en @HablemosCN @Cablenoticias y Radio 1550AM Miami", e.Followers =215994, e.Location = "@jhpelaez ™", e.Verified = True"
                                                                                                                                                                        ^}
5029
5030
5031
5032
5033
5034
Regular
5035
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 53 (offset: 52))
"MERGE (e:Entity {Type:"autoID", Name:'Julian Chase's'})"
                                                     ^}
5036

Quote tweet
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 55 (offset: 54))
"MERGE (e:Entity {Type:"autoID", Name:'Elaine C Smith's'})"
                                                       ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'u': expected 't/T' (line 1, column 54 (offset: 53))
"MERGE (e:Entity {Type:"autoID", Name:'Brian James O'Sullivan'})"
                                                      ^}
5037
Regular
5038
5039
5040
Retweeted
5041
5042
5043
5044
5045
Retweeted
5046
Regular
5047
5048
5049
Retweeted
5050
5051
5052
5053
5054
5055
5056
5057
5058
Retweeted
5059
5060
5061
Retweeted
5062
5063
5064
5065
Retweeted
5066
5067
5068
5069
5070
5071
Regular
5072
5073
5074
5075
5076
5077
Regular
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 'n/N' (line 1, column 112 (offset: 111))
"MATCH (e:Entity {ID:"1222489412581449728", Type:"TwitterAccount", Name:'leigh_dougie'}) SET e.Description = ""A mugging waiting to happen." Bray gal. Irish Actor @ShackArtists - Co-AD @minerva_prod - Writing & Producing Comedy @NFTSFilmTV - SPOTLIGHT: 2253 5642 5703", e.Followers =214, e.Location = "London", e.Verified = False"
                                                                                                                ^}
5078
5079
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '災': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 46 (offset: 45))
"MERGE (p:Post {Type:"news", Name:"貨主：貨櫃滯留費恐有"災難"後果、如間接加稅", Date:"2021-10-28T11:06:46.000+0000", Link:"http://www.ttv.com.tw/finance/view/default.asp?i=102021281031158F5C843E174D5D925257A150076C02F593&from=587", Language:"zh-Hant", Text:"...Logistics國際運輸副總Rich Roche說，洛杉磯和長灘港宣布的「超級延滯費」(hyper-demurrage)，將是「災難性的」。 Roche強調，貨櫃車架(chassis)原本就不夠用，滯留費會吸走剩餘置放在碼頭、不需使用車架的貨櫃，現在這些貨櫃將安置到其他地方，這或許會清空所有殘存的貨櫃車架。 Motor Equipment ämp;amp; Manufacturing Association的Steve Hughes也說，他擔心新費用會製造出更大問題，比原本想解決的更嚴重。 全球最大糧商嘉吉(Cargill)的全球貨櫃主管Daniel Miller，直呼貨櫃滯留費是「瘋狂費用」(crazy fees)，這些錢都會回歸到貨主身上。 昨天他接到好幾通貨運商的電話，對方坦承費用最終由嘉吉支付..."})"
                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '災': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 177 (offset: 176))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.ttv.com.tw/finance/view/default.asp?i=102021281031158F5C843E174D5D925257A150076C02F593&from=587" AND p.Name = "貨主：貨櫃滯留費恐有"災難"後果、如間接加稅" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                 ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '災': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 177 (offset: 176))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.ttv.com.tw/finance/view/default.asp?i=102021281031158F5C843E174D5D925257A150076C02F593&from=587" AND p.Name = "貨主：貨櫃滯留費恐有"災難"後果、如間接加稅" AND e.Type = "autoID" AND e.Name ="Amazon" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                 ^}
5080
5081
5082
5083
5084
5085
Regular
5086
5087
Regular
5088
5089
5090
5091
Regular
5092
5093
5094
5095
5096
5097
5098
5099
5100
5101
5102
Regular
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'i': expected 'e/E' (line 1, column 205 (offset: 204))
"MATCH (e:Entity {ID:"123094179", Type:"TwitterAccount", Name:'SilvijaKrebs'}) SET e.Description = "Latvian🇱🇻🇱🇹1st US born. Artist, history, politics, nature! Photo: Art Nouveau facade of Latvia "Creativity is intelligence having FUN." ~ Albert Einstein", e.Followers =680, e.Location = "OH", e.Verified = False"
                                                                                                                                                                                                             ^}
5103
5104
5105
5106
5107
5108
5109
5110
5111
5112
5113
5114
5115
5116
5117
5118
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Lloyd's Register'})"
                                              ^}
5119
Retweeted
5120
5121
5122
5123
5124
5125
5126
5127
5128
5129
5130
5131
5132
Retweeted
5133
5134
5135
5136
5137
5138
5139
5140
5141
5142
5143
5144
5145
5146
5147
5148
5149
5150
5151
5152
5153
5154
Regular
5155
Regular
5156
5157
5158
5159
5160
5161
5162
5163
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ',': expected '\', ''', '"', 'b', 'f', 'n', 'r', 't', UTF16 or UTF32 (line 1, column 36 (offset: 35))
"MATCH (p:Post {ID:"209908544587659\, Type:"facebookOriginal"}) SET p.Name = "The dirty dozen: meet America’s top climate villains", p.Date = "2021-10-28T10:10:25.000+0000", p.Link = "https://www.facebook.com/239675493315233/posts/209908544587659#channels", p.Text = "Blaming and shaming the individual is not productive but these are very special individuals; between them they have done more to lie, cheat, line their pockets, promote fossil fuels, deny climate change and delay climate action than anyone else. Meet the dirty dozen… don’t forget to wash your hands. The Woke Washer Mike Wirth, CEO Chevron The Ring Leader Darren Woods, CEO Exxon The Enabler Jamie Dimon, CEO Chase The Financier Larry Fink, CEO Blackrock The Kingpin Charles Koch, CEO Koch Industries The Obstructionist Mitch McConnell, Senate minority leader The Saboteur Joe Manchin, US Senator The Propagandist Mark Zuckerberg, CEO Facebook The Tycoon Rupert Murdoch, Founder Newscorp The Destroyer, David MacLennan, CEO Cargill The Fabulist Richard Edelman, CEO Edelman PR The Smooth talker Ted Boutrous, Partner Gibson Dunn Law #ClimateCriminals #ActNow #TellTheTruth The dirty dozen: meet America’s top climate villains Few are household names, yet these 12 enablers and profiteers have an unimaginable sway over the fate of humanity https://www.theguardian.com/commentisfree/2021/oct/27/climate-crisis-villains-americas-dirty-dozen""
                                    ^}
5164
5165
5166
5167
5168
5169
5170
5171
Retweeted
5172
5173
Regular
5174
5175
5176
5177
5178
Regular
5179
5180
5181
5182
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 48 (offset: 47))
"MERGE (e:Entity {Type:"autoID", Name:'Pilgrim's Pride'})"
                                                ^}
5183
Retweeted
5184
5185
5186
5187
5188
5189
5190
5191
5192
5193
5194
5195
5196
5197
5198
5199
5200
5201
5202
5203
5204
5205
5206
5207
5208
5209
5210
5211
5212
5213
5214
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
5215

5216
5217
5218
5219
5220
Retweeted
5221
5222
5223
5224
5225
5226
5227
Retweeted
5228
5229
5230
5231
5232
5233
5234
5235
5236
5237
5238
Retweeted
5239
5240
5241
5242
5243
5244
5245
5246
5247
5248
5249
5250
5251
5252
5253
5254
5255
5256
5257
5258
5259
5260
5261
5262
5263
5264
5265
5266
5267
Retweeted
5268
5269
5270
5271
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Lloyd's Register'})"
                                              ^}
5272
5273
5274
5275
5276
5277
5278
5279
Regular
5280
5281
5282
Regular
5283
5284
Retweeted
5285
5286
5287
5288
5289
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '災': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 46 (offset: 45))
"MERGE (p:Post {Type:"news", Name:"貨主：貨櫃滯留費恐有"災難"後果、如間接加稅", Date:"2021-10-28T08:10:21.000+0000", Link:"https://today.line.me/tw/v2/article/MLLQMkV", Language:"zh-Hant", Text:"...Association的Steve Hughes也說，他擔心新費用會製造出更大問題，比原本想解決的更嚴重。 全球最大糧商嘉吉(Cargill)的全球貨櫃主管Daniel Miller，直呼貨櫃滯留費是「瘋狂費用」(crazy fees)，這些錢都會回歸到貨主身上。昨天他接到好幾通貨運商的電話，對方坦承費用最終由嘉吉支付。Gemini Shippers Group總裁Ken O`Brien更高呼，新費用就像對美國消費者間接加稅。 運費再飆？美西兩大港重罰貨櫃滯留、每日100美元起 為解決美國港口嚴重堵塞的僵局，拜登政府拍板，自11月1日起，南加州重要港埠-洛杉磯港及長灘港，將加徵高額貨櫃滯留費，以加速貨櫃流通，避免積壓。 CNBC、《ABC新聞》等外媒報導，洛杉磯港與長灘港務局10月25日宣..."})"
                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '災': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 114 (offset: 113))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://today.line.me/tw/v2/article/MLLQMkV" AND p.Name = "貨主：貨櫃滯留費恐有"災難"後果、如間接加稅" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                  ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '災': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 114 (offset: 113))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://today.line.me/tw/v2/article/MLLQMkV" AND p.Name = "貨主：貨櫃滯留費恐有"災難"後果、如間接加稅" AND e.Type = "autoID" AND e.Name ="Amazon" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                  ^}
5290
Quote tweet
5291
5292
5293
5294
5295
5296
5297
5298
5299
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '災': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 46 (offset: 45))
"MERGE (p:Post {Type:"news", Name:"貨主：貨櫃滯留費恐有"災難"後果、如間接加稅", Date:"2021-10-28T08:04:01.000+0000", Link:"http://www.moneydj.com/kmdj/news/newsviewer.aspx?a=c7f19ca5-499b-44a0-b7e8-e15e2bd7529c&c=MB010000", Language:"zh-Hant", Text:"...-demurrage)，將是「災難性的」。Roche強調，貨櫃車架(chassis)原本就不夠用，滯留費會吸走剩餘置放在碼頭、不需使用車架的貨櫃，現在這些貨櫃將安置到其他地方，這或許會清空所有殘存的貨櫃車架。 Motor Equipment ämp; Manufacturing Association的Steve Hughes也說，他擔心新費用會製造出更大問題，比原本想解決的更嚴重。 全球最大糧商嘉吉(Cargill)的全球貨櫃主管Daniel Miller，直呼貨櫃滯留費是「瘋狂費用」(crazy fees)，這些錢都會回歸到貨主身上。昨天他接到好幾通貨運商的電話，對方坦承費用最終由嘉吉支付。Gemini Shippers Group總裁Ken O`Brien更高呼，新費用就像對美國消費者間接加稅。 運費再..."})"
                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '災': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 169 (offset: 168))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.moneydj.com/kmdj/news/newsviewer.aspx?a=c7f19ca5-499b-44a0-b7e8-e15e2bd7529c&c=MB010000" AND p.Name = "貨主：貨櫃滯留費恐有"災難"後果、如間接加稅" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                         ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '災': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 169 (offset: 168))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.moneydj.com/kmdj/news/newsviewer.aspx?a=c7f19ca5-499b-44a0-b7e8-e15e2bd7529c&c=MB010000" AND p.Name = "貨主：貨櫃滯留費恐有"災難"後果、如間接加稅" AND e.Type = "autoID" AND e.Name ="Amazon" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                         ^}
5300
5301
5302
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ',': expected '\', ''', '"', 'b', 'f', 'n', 'r', 't', UTF16 or UTF32 (line 1, column 36 (offset: 35))
"MATCH (p:Post {ID:"190065413311521\, Type:"facebookOriginal"}) SET p.Name = "Last year saw a big increase in land cleared for soy and meat production in critical ecosystems in Brazil. JBS , Cargill and others are key companies that could put a stop to the deforestation. They've made big promises, but they are failing to take real", p.Date = "2021-10-28T08:01:41.000+0000", p.Link = "https://www.facebook.com/873550809444862/posts/190065413311521#channels", p.Text = "Last year saw a big increase in land cleared for soy and meat production in critical ecosystems in Brazil. JBS , Cargill and others are key companies that could put a stop to the deforestation. They've made big promises, but they are failing to take real action - now. It's time they #stopfeedingdeforestation https://www.facebook.com/photo.php?fbid=190065389978190&set=a.169652152019514&type=3""
                                    ^}
5303
5304
5305
5306
5307
5308
5309
Regular
5310
5311
5312
5313
5314
5315
5316
5317
5318
5319
5320
5321
5322
5323
5324
5325
5326
5327
5328
5329
5330
5331
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ',': expected '\', ''', '"', 'b', 'f', 'n', 'r', 't', UTF16 or UTF32 (line 1, column 37 (offset: 36))
"MATCH (p:Post {ID:"2360759957388726\, Type:"facebookOriginal"}) SET p.Name = "World Food Day", p.Date = "2021-10-16T15:01:17.000+0000", p.Link = "https://www.facebook.com/958164574314945/posts/2360759957388726#channels""
                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 144 (offset: 143))
"MATCH (c:Post), (o:Post) WHERE c.Link = "https://www.facebook.com/2360759957388726#channels_comment_2370238376440884" AND c.Type = "facebook"Reply" AND o.ID = "2360759957388726" AND o.Type = "facebookOriginal" CREATE (c)-[r:REPLIED_TO]->(o)"
                                                                                                                                                ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 203 (offset: 202))
"MATCH (e:Entity), (c:Post) WHERE e.Name = "Paul Harris" AND e.Type = "FacebookAuthor" AND c.Link = "https://www.facebook.com/2360759957388726#channels_comment_2370238376440884" AND c.Type = "facebook"Reply" CREATE (e)-[r:AUTHORED]->(c)"
                                                                                                                                                                                                           ^}
5332

5333
5334
5335
Regular
5336
5337
5338
5339
5340
5341
5342
5343
5344
5345
Regular
5346
5347
5348
5349
5350
Quote tweet
5351
Retweeted
5352
5353
5354
5355
Regular
5356
5357
5358
Regular
5359
Quote tweet
5360
Retweeted
5361
5362
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 36 (offset: 35))
"MERGE (p:Post {Type:"news", Name:""The dirty dozen planet destroyers of the USA: meet America's top climate villains" - Mike Wirth Chairman of the board and CEO of Chevron - Darren Woods Chairman of the board and CEO of Exxon - Jamie Dimon CEO of Chase Bank - Larry Finko CEO of BlackRock -...", Date:"2021-10-28T07:07:01.000+0000", Link:"https://abcnews.go.com/Politics/big-oil-executives-face-climate-reckoning-capitol-hill/story?id=80821172#comment-5587457312", Language:"en", Text:"...- Joe Manchin US senator - Mark Zuckerberg Facebook founder and CEO - Rupert Murdoch Founder of News Corp - David MacLennan CEO of Cargill - Richard Edelman CEO of Edelman PR - Ted Boutrous Partner of Gibson Dunn law firm"})"
                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 184 (offset: 183))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://abcnews.go.com/Politics/big-oil-executives-face-climate-reckoning-capitol-hill/story?id=80821172#comment-5587457312" AND p.Name = ""The dirty dozen planet destroyers of the USA: meet America's top climate villains" - Mike Wirth Chairman of the board and CEO of Chevron - Darren Woods Chairman of the board and CEO of Exxon - Jamie Dimon CEO of Chase Bank - Larry Finko CEO of BlackRock -..." AND e.Type = "autoID" AND e.Name ="Koch" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                        ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 184 (offset: 183))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://abcnews.go.com/Politics/big-oil-executives-face-climate-reckoning-capitol-hill/story?id=80821172#comment-5587457312" AND p.Name = ""The dirty dozen planet destroyers of the USA: meet America's top climate villains" - Mike Wirth Chairman of the board and CEO of Chevron - Darren Woods Chairman of the board and CEO of Exxon - Jamie Dimon CEO of Chase Bank - Larry Finko CEO of BlackRock -..." AND e.Type = "autoID" AND e.Name ="Chevron" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                        ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 184 (offset: 183))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://abcnews.go.com/Politics/big-oil-executives-face-climate-reckoning-capitol-hill/story?id=80821172#comment-5587457312" AND p.Name = ""The dirty dozen planet destroyers of the USA: meet America's top climate villains" - Mike Wirth Chairman of the board and CEO of Chevron - Darren Woods Chairman of the board and CEO of Exxon - Jamie Dimon CEO of Chase Bank - Larry Finko CEO of BlackRock -..." AND e.Type = "autoID" AND e.Name ="Mitch McConnell" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                        ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 184 (offset: 183))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://abcnews.go.com/Politics/big-oil-executives-face-climate-reckoning-capitol-hill/story?id=80821172#comment-5587457312" AND p.Name = ""The dirty dozen planet destroyers of the USA: meet America's top climate villains" - Mike Wirth Chairman of the board and CEO of Chevron - Darren Woods Chairman of the board and CEO of Exxon - Jamie Dimon CEO of Chase Bank - Larry Finko CEO of BlackRock -..." AND e.Type = "autoID" AND e.Name ="Blackstone" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                        ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 184 (offset: 183))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://abcnews.go.com/Politics/big-oil-executives-face-climate-reckoning-capitol-hill/story?id=80821172#comment-5587457312" AND p.Name = ""The dirty dozen planet destroyers of the USA: meet America's top climate villains" - Mike Wirth Chairman of the board and CEO of Chevron - Darren Woods Chairman of the board and CEO of Exxon - Jamie Dimon CEO of Chase Bank - Larry Finko CEO of BlackRock -..." AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                        ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 184 (offset: 183))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://abcnews.go.com/Politics/big-oil-executives-face-climate-reckoning-capitol-hill/story?id=80821172#comment-5587457312" AND p.Name = ""The dirty dozen planet destroyers of the USA: meet America's top climate villains" - Mike Wirth Chairman of the board and CEO of Chevron - Darren Woods Chairman of the board and CEO of Exxon - Jamie Dimon CEO of Chase Bank - Larry Finko CEO of BlackRock -..." AND e.Type = "autoID" AND e.Name ="Facebook" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                        ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 184 (offset: 183))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://abcnews.go.com/Politics/big-oil-executives-face-climate-reckoning-capitol-hill/story?id=80821172#comment-5587457312" AND p.Name = ""The dirty dozen planet destroyers of the USA: meet America's top climate villains" - Mike Wirth Chairman of the board and CEO of Chevron - Darren Woods Chairman of the board and CEO of Exxon - Jamie Dimon CEO of Chase Bank - Larry Finko CEO of BlackRock -..." AND e.Type = "autoID" AND e.Name ="DMac" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                        ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 184 (offset: 183))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://abcnews.go.com/Politics/big-oil-executives-face-climate-reckoning-capitol-hill/story?id=80821172#comment-5587457312" AND p.Name = ""The dirty dozen planet destroyers of the USA: meet America's top climate villains" - Mike Wirth Chairman of the board and CEO of Chevron - Darren Woods Chairman of the board and CEO of Exxon - Jamie Dimon CEO of Chase Bank - Larry Finko CEO of BlackRock -..." AND e.Type = "autoID" AND e.Name ="Mark Zuckerberg Facebook" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                        ^}

Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 184 (offset: 183))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://abcnews.go.com/Politics/big-oil-executives-face-climate-reckoning-capitol-hill/story?id=80821172#comment-5587457312" AND p.Name = ""The dirty dozen planet destroyers of the USA: meet America's top climate villains" - Mike Wirth Chairman of the board and CEO of Chevron - Darren Woods Chairman of the board and CEO of Exxon - Jamie Dimon CEO of Chase Bank - Larry Finko CEO of BlackRock -..." AND e.Type = "autoID" AND e.Name ="Rupert Murdoch Founder" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                        ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 184 (offset: 183))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://abcnews.go.com/Politics/big-oil-executives-face-climate-reckoning-capitol-hill/story?id=80821172#comment-5587457312" AND p.Name = ""The dirty dozen planet destroyers of the USA: meet America's top climate villains" - Mike Wirth Chairman of the board and CEO of Chevron - Darren Woods Chairman of the board and CEO of Exxon - Jamie Dimon CEO of Chase Bank - Larry Finko CEO of BlackRock -..." AND e.Type = "autoID" AND e.Name ="David MacLennan" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                        ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 184 (offset: 183))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://abcnews.go.com/Politics/big-oil-executives-face-climate-reckoning-capitol-hill/story?id=80821172#comment-5587457312" AND p.Name = ""The dirty dozen planet destroyers of the USA: meet America's top climate villains" - Mike Wirth Chairman of the board and CEO of Chevron - Darren Woods Chairman of the board and CEO of Exxon - Jamie Dimon CEO of Chase Bank - Larry Finko CEO of BlackRock -..." AND e.Type = "autoID" AND e.Name ="Cargill - Richard Edelman" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                        ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 184 (offset: 183))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://abcnews.go.com/Politics/big-oil-executives-face-climate-reckoning-capitol-hill/story?id=80821172#comment-5587457312" AND p.Name = ""The dirty dozen planet destroyers of the USA: meet America's top climate villains" - Mike Wirth Chairman of the board and CEO of Chevron - Darren Woods Chairman of the board and CEO of Exxon - Jamie Dimon CEO of Chase Bank - Larry Finko CEO of BlackRock -..." AND e.Type = "autoID" AND e.Name ="Edelman PR - Ted Boutrous Partner" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                        ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 184 (offset: 183))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://abcnews.go.com/Politics/big-oil-executives-face-climate-reckoning-capitol-hill/story?id=80821172#comment-5587457312" AND p.Name = ""The dirty dozen planet destroyers of the USA: meet America's top climate villains" - Mike Wirth Chairman of the board and CEO of Chevron - Darren Woods Chairman of the board and CEO of Exxon - Jamie Dimon CEO of Chase Bank - Larry Finko CEO of BlackRock -..." AND e.Type = "autoID" AND e.Name ="Gibson Dunn" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                        ^}
5363
5364
5365
Regular
5366
Reply
5367
Retweeted
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'h': expected 'i/I' (line 1, column 175 (offset: 174))
"MATCH (e:Entity {ID:"14066024", Type:"TwitterAccount", Name:'dceiver'}) SET e.Description = "Deputy editor, The New Republic. Past: ThinkProgress, Huffington Post. I said, "Where'd you get your information from, huh?"", e.Followers =32677, e.Location = "Washington, DC", e.Verified = True"
                                                                                                                                                                               ^}
5368
5369
5370
5371
5372
5373
Retweeted
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'a': expected 'o/O' (line 1, column 115 (offset: 114))
"MATCH (e:Entity {ID:"1027664931880136705", Type:"TwitterAccount", Name:'viau_danielle'}) SET e.Description = "🌬"La RÉALITÉ N'EST QU'UNE ILLUSION!" 🌬🦋BOUDDHA🦋", e.Followers =47, e.Location = "", e.Verified = False"
                                                                                                                   ^}
5374
5375
Retweeted
5376
Reply
5377
5378
5379
Retweeted
5380
5381
5382
Regular
5383
5384
5385
5386
5387
5388
5389
5390
5391
5392
5393
Reply
5394
5395
5396
5397
Quote tweet
5398
5399
5400
5401
5402
Reply
5403
5404
5405
Quote tweet
5406
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Lloyd's Register'})"
                                              ^}
5407
5408
5409
5410
Retweeted
5411
5412
5413
5414
5415
Regular
5416
Regular
5417
5418
5419
5420
5421
5422
5423
5424
5425
5426
5427
5428
5429
5430
5431
5432
5433
5434
5435
5436
5437
5438
Retweeted
5439
Regular
5440
5441
5442
5443
5444
Retweeted
5445
5446
Retweeted
5447
5448
Quote tweet
5449
Retweeted
5450
Retweeted
5451
Regular
5452
5453
5454
5455
5456
Retweeted
5457
5458
5459
5460
Regular
5461
5462
5463
5464
Retweeted
5465
5466
5467
5468
5469
5470
5471
5472
5473
5474
5475
5476
5477
Retweeted
5478
5479
Retweeted
5480
5481
Retweeted
5482

5483
5484
5485
5486
5487
Quote tweet
5488
5489
Reply
5490
5491
5492
5493
5494
5495
5496
5497
5498
5499
5500
Retweeted
5501
5502
5503
5504
5505
5506
5507
5508
5509
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
5510
5511
5512
Retweeted
5513
Reply
5514
Regular
5515
Reply
5516
5517
Reply
5518
5519
5520
5521
Reply
5522
Quote tweet
5523
Retweeted
5524
Quote tweet
5525
5526
5527
5528
Retweeted
5529
5530
Retweeted
5531
5532
Retweeted
5533
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '災': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (p:Post {Type:"forum", Name:"貨主：貨櫃滯留費恐有"災難"後果、如間接加稅", Date:"2021-10-28T03:53:59.000+0000", Link:"http://www.msn.com/zh-tw/money/topstories/%e8%b2%a8%e4%b8%bb-%e8%b2%a8%e6%ab%83%e6%bb%af%e7%95%99%e8%b2%bb%e6%81%90%e6%9c%89-%e7%81%bd%e9%9b%a3-%e5%be%8c%e6%9e%9c-%e5%a6%82%e9%96%93%e6%8e%a5%e5%8a%a0%e7%a8%85/ar-AAQ23oh?li=BBqj0iS", Language:"undefined", Text:"拜登政府準備向滯留洛杉磯和長灘港的貨櫃開徵費用，以解決塞港潮。批評者砲轟，這個解方比疾病本身還糟糕，會招致「災難性」(catastrophic)後果，有如向美國民眾間接加稅。 FreightWaves 27日報導，由亞馬遜(Amazon)、沃爾瑪(Walmart)等12家美國出口商和12家進口商組成的美國全國貨主諮詢委員會(National Shippers Advisory Council、簡稱NSAC)，週三(27日)召開成立大會。與會成員對貨櫃滯留費極為不滿。 Mohawk Global Logistics國際運輸副總Rich Roche說，洛杉磯和長灘港宣布的「超級延滯費」(hyper-demurrage)，將是「災難性的」。Roche強調，貨櫃車架(chassis)原本就不夠用，滯留費會吸走剩餘置放在碼頭、不需使用車架的貨櫃，現在這些貨櫃將安置到其他地方，這或許會清空所有殘存的貨櫃車架。 Motor Equipment & Manufacturing Association的Steve Hughes也說，他擔心新費用會製造出更大問題，比原本想解決的更嚴重。 全球最大糧商嘉吉(Cargill)的全球貨櫃主管Daniel Miller，直呼貨櫃滯留費是「瘋狂費用」(crazy fees)，這些錢都會回歸到貨主身上。昨天他接到好幾通貨運商的電話，對方坦承費用最終由嘉吉支付。Gemini Shippers Group總裁Ken O`Brien更高呼，新費用就像對美國消費者間接加稅。 為解決美國港口嚴重堵塞的僵局，拜登政府拍板，自11月1日起，南加州重要港埠-洛杉磯港及長灘港，將加徵高額貨櫃滯留費，以加速貨櫃流通，避免積壓。 CNBC、《ABC新聞》等外媒報導，洛杉磯港與長灘港務局10月25日宣佈新規定，等待卡車轉運的貨櫃，可在碼頭上免費堆放9天，由鐵路轉運的貨櫃可堆放3天，逾期將向船公司收取每櫃100美元的滯留費，每逾1日每櫃加徵100美元，定於11月1日生效。 白宮發言人莎琪(Jen Psaki)26日向記者表示，拜登政府將繼續「致力尋求解決供應鏈危機的方法」，並稱拜登計劃在本週末的G20峰會上，與各國領導人討論全球貿易中斷問題。 ＊編者按：本文僅供參考之用，並不構成要約、招攬或邀請、誘使、任何不論種類或形式之申述或訂立任何建議及推薦，讀者務請運用個人獨立思考能力，自行作出投資決定，如因相關建議招致損失，概與《精實財經媒體》、編者及作者無涉。 資料來源- MoneyDJ理財網"})"
                                               ^}
5534
Quote tweet
5535
5536
5537
Retweeted
5538
5539
Retweeted
5540
Regular
5541
5542
5543
5544
Retweeted
5545
5546
5547
5548
5549
5550
5551
5552
5553
5554
5555
5556
Retweeted
5557
5558
5559
5560
5561
5562
Retweeted
5563
5564
Retweeted
5565
5566
Regular
5567
5568
5569
5570
5571
5572
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '災': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 46 (offset: 45))
"MERGE (p:Post {Type:"news", Name:"貨主：貨櫃滯留費恐有"災難"後果、如間接加稅", Date:"2021-10-28T03:19:21.000+0000", Link:"https://www.msn.com/zh-tw/money/topstories/%e8%b2%a8%e4%b8%bb-%e8%b2%a8%e6%ab%83%e6%bb%af%e7%95%99%e8%b2%bb%e6%81%90%e6%9c%89-%e7%81%bd%e9%9b%a3-%e5%be%8c%e6%9e%9c-%e5%a6%82%e9%96%93%e6%8e%a5%e5%8a%a0%e7%a8%85/ar-AAQ23oh", Language:"zh-Hant", Text:"Mohawk Global Logistics國際運輸副總Rich Roche說，洛杉磯和長灘港宣布的「超級延滯費」(hyper-demurrage)，將是「災難性的」。Roche強調，貨櫃車架(chassis)原本就不夠用，滯留費會吸走剩餘置放在碼頭、不需使用車架的貨櫃，現在這些貨櫃將安置到其他地方，這或許會清空所有殘存的貨櫃車架。 Motor Equipment & Manufacturing Association的Steve Hughes也說，他擔心新費用會製造出更大問題，比原本想解決的更嚴重。 全球最大糧商嘉吉(Cargill)的全球貨櫃主管Daniel Miller，直呼貨櫃滯留費是「瘋狂費用」(crazy fees)，這些錢都會回歸到貨主身上。昨天他接到好幾通貨運商的電話..."})"
                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '災': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 291 (offset: 290))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.msn.com/zh-tw/money/topstories/%e8%b2%a8%e4%b8%bb-%e8%b2%a8%e6%ab%83%e6%bb%af%e7%95%99%e8%b2%bb%e6%81%90%e6%9c%89-%e7%81%bd%e9%9b%a3-%e5%be%8c%e6%9e%9c-%e5%a6%82%e9%96%93%e6%8e%a5%e5%8a%a0%e7%a8%85/ar-AAQ23oh" AND p.Name = "貨主：貨櫃滯留費恐有"災難"後果、如間接加稅" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                                                                   ^}
5573
5574
5575
5576
5577
Retweeted
5578
5579
5580
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '災': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 46 (offset: 45))
"MERGE (p:Post {Type:"news", Name:"貨主：貨櫃滯留費恐有"災難"後果、如間接加稅", Date:"2021-10-28T03:02:33.000+0000", Link:"https://www.moneydj.com/kmdj/news/newsviewer.aspx?a=c7f19ca5-499b-44a0-b7e8-e15e2bd7529c&c=MB010000", Language:"zh-Hant", Text:"...Association的Steve Hughes也說，他擔心新費用會製造出更大問題，比原本想解決的更嚴重。 全球最大糧商嘉吉(Cargill)的全球貨櫃主管Daniel Miller，直呼貨櫃滯留費是「瘋狂費用」(crazy fees)，這些錢都會回歸到貨主身上。昨天他接到好幾通貨運商的電話，對方坦承費用最終由嘉吉支付。Gemini Shippers Group總裁Ken O`Brien更高呼，新費用就像對美國消費者間接加稅。 運費再飆？美西兩大港重罰貨櫃滯留、每日100美元起 為解決美國港口嚴重堵塞的僵局，拜登政府拍板，自11月1日起，南加州重要港埠-洛杉磯港及長灘港，將加徵高額貨櫃滯留費，以加速貨櫃流通，避免積壓。 CNBC、《ABC新聞》等外媒報導，洛杉磯港與長灘港務局10月25日宣..."})"
                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '災': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 170 (offset: 169))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.moneydj.com/kmdj/news/newsviewer.aspx?a=c7f19ca5-499b-44a0-b7e8-e15e2bd7529c&c=MB010000" AND p.Name = "貨主：貨櫃滯留費恐有"災難"後果、如間接加稅" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                          ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '災': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 170 (offset: 169))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.moneydj.com/kmdj/news/newsviewer.aspx?a=c7f19ca5-499b-44a0-b7e8-e15e2bd7529c&c=MB010000" AND p.Name = "貨主：貨櫃滯留費恐有"災難"後果、如間接加稅" AND e.Type = "autoID" AND e.Name ="Facebook" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                          ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '災': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 170 (offset: 169))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.moneydj.com/kmdj/news/newsviewer.aspx?a=c7f19ca5-499b-44a0-b7e8-e15e2bd7529c&c=MB010000" AND p.Name = "貨主：貨櫃滯留費恐有"災難"後果、如間接加稅" AND e.Type = "autoID" AND e.Name ="Amazon" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                          ^}
5581

Reply
5582
5583
5584
5585
Retweeted
5586
Reply
5587
5588
5589
Retweeted
5590
Reply
5591
5592
5593
5594
5595
Retweeted
5596
5597
Regular
5598
5599
5600
Retweeted
5601
Reply
5602
5603
Retweeted
5604
5605
5606
5607
Retweeted
5608
Retweeted
5609
5610
5611
5612
5613
5614
5615
Retweeted
5616
5617
5618
Retweeted
5619
5620
Regular
5621
5622
Retweeted
5623
5624
5625
5626
5627
Retweeted
5628
5629
5630
Regular
5631
5632
5633
Retweeted
5634
5635
5636
5637
Retweeted
5638
5639
5640
Retweeted
5641
5642
Regular
5643
5644
5645
5646
5647
Regular
5648
5649
5650
Retweeted
5651
5652
5653
5654
5655
5656
5657
5658
5659
5660
5661
Regular
5662
5663
5664
5665
5666
Retweeted
5667
5668
5669
Retweeted
5670
5671
5672
5673
5674
Retweeted
5675
5676
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Lloyd's Register'})"
                                              ^}
5677
5678
5679
Retweeted
5680
5681
5682
5683
Retweeted
5684
5685
5686
5687
Retweeted
5688
5689
5690
Reply
5691
Regular
5692
5693
5694
5695
Regular
5696
5697
5698
Reply
5699
Retweeted
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'a' (line 1, column 103 (offset: 102))
"MATCH (e:Entity {ID:"85146999", Type:"TwitterAccount", Name:'Albertagirl46'}) SET e.Description = ""Inadequate men in big jobs are always dangerous." - Carly Fiorino", e.Followers =2077, e.Location = "Alberta, Canada", e.Verified = False"
                                                                                                       ^}
5700
5701
Reply
5702
5703
5704
5705
5706
5707
Retweeted
5708
Retweeted
5709
5710
Regular
5711
5712
5713
5714
5715
Retweeted
5716
5717
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'GEORGE'S'})"
                                               ^}
5718
5719
Retweeted
5720
5721
Retweeted
5722
5723
5724
5725
Retweeted
5726
5727
5728
5729
Regular
5730
Retweeted
5731
5732
Regular
5733
5734
5735
5736
5737
5738
5739
5740
5741
5742
5743
5744
5745
5746
5747
5748
5749
5750
5751
5752
5753
5754
5755
Retweeted
5756
Retweeted
5757
5758
5759
5760
Regular
5761
5762
5763
5764
5765
Retweeted
5766
5767
5768
5769
Regular
5770
5771
Regular
5772
Retweeted
5773
Retweeted
5774
Retweeted
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'l': expected 'n/N' (line 1, column 168 (offset: 167))
"MATCH (e:Entity {ID:"20514852", Type:"TwitterAccount", Name:'jhpelaez'}) SET e.Description = "Matemático @Uniandes Columnista #OpiniónRCN y @larepublica_co Director "Al Paredón" en @DIRECTVCo Presentador en @HablemosCN @Cablenoticias y Radio 1550AM Miami", e.Followers =215994, e.Location = "@jhpelaez ™", e.Verified = True"
                                                                                                                                                                        ^}
5775
Regular
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'l': expected 'n/N' (line 1, column 168 (offset: 167))
"MATCH (e:Entity {ID:"20514852", Type:"TwitterAccount", Name:'jhpelaez'}) SET e.Description = "Matemático @Uniandes Columnista #OpiniónRCN y @larepublica_co Director "Al Paredón" en @DIRECTVCo Presentador en @HablemosCN @Cablenoticias y Radio 1550AM Miami", e.Followers =215994, e.Location = "@jhpelaez ™", e.Verified = True"
                                                                                                                                                                        ^}
5776
5777
5778
5779
5780
5781
5782
5783
Retweeted
5784
5785
Retweeted
5786
5787
Reply
5788
5789
5790
Retweeted
5791
Retweeted
5792
5793
Regular
5794
5795
5796
5797
5798
5799
5800
5801
5802
5803
Retweeted
5804
5805
5806
5807
5808
5809
5810
5811
5812
5813
5814
5815
5816
5817
Reply
5818
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'e' (line 1, column 43 (offset: 42))
"MERGE (e:Entity {Type:"autoID", Name:'L'Oreal SA'})"
                                           ^}
5819
5820
5821
5822
5823
5824
Quote tweet
5825
5826
5827
5828
5829
5830
5831
5832
5833
5834
Reply
5835
5836
5837
5838
5839
5840
5841
5842
5843
Retweeted
5844
Retweeted
5845
5846
5847
5848
5849
5850
5851
5852
5853
5854
5855
Retweeted
5856
5857
5858
5859
Reply
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 59 (offset: 58))
"MERGE (e:Entity {Type:"autoID", Name:'National Cattlemen's Beef Association'})"
                                                           ^}
5860
Regular
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 63 (offset: 62))
"MERGE (e:Entity {Type:"autoID", Name:'the National Cattlemen's Foundation'})"
                                                               ^}
5861
5862
5863
5864
5865
5866
Retweeted
5867
5868
5869
5870
5871
5872
5873
5874
5875
5876
5877
5878
5879
5880
5881
Retweeted
5882
Regular
5883
Quote tweet
5884
5885
5886
5887
5888
5889
5890
5891
5892
5893
5894
5895
Reply
5896
5897
5898
5899
5900
Retweeted
5901
5902
5903
5904
5905
5906
5907
5908
5909
5910
5911
5912
5913
5914
5915
5916
5917
5918
Reply
5919
5920
5921
5922
5923
5924
5925
Quote tweet
5926
5927
5928
5929
5930
Retweeted
5931
5932
5933
5934
5935
Quote tweet
5936
Retweeted
5937
5938
5939
5940
5941
5942
Retweeted
5943
5944
Retweeted
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'a': expected 'e/E' (line 1, column 125 (offset: 124))
"MATCH (e:Entity {ID:"797429541778157572", Type:"TwitterAccount", Name:'UaineDorch'}) SET e.Description = "Relax, it means "dark green" in Scotland. I think."
                                                                                                                             ^}
5945
5946
Regular
5947
Retweeted
5948
5949
Retweeted
5950
5951
5952
Retweeted
5953
5954
5955
5956
5957
5958
5959
Retweeted
5960
5961
5962
Retweeted
5963
5964
5965
5966
5967
5968
5969
Retweeted
5970
5971
5972
Retweeted
5973
5974
Retweeted
5975
5976
5977
Regular
5978
Regular
5979
Retweeted
5980
5981
Retweeted
5982
5983
Regular
5984
5985
5986
5987
5988
Retweeted
5989
Retweeted
5990
Regular
5991
5992
Regular
5993
5994
Regular
5995
Retweeted
5996
5997
5998
5999
6000
6001
6002
6003
Regular
6004
Retweeted
6005
6006
6007
Retweeted
6008
6009
6010
6011
6012
Regular
6013
6014
6015
6016
6017
6018
6019
6020
6021
6022
6023
6024
6025
Retweeted
6026
Retweeted
6027
Retweeted
6028
6029
6030
Retweeted
6031
6032
Retweeted
6033
Retweeted
6034
6035
6036
6037
Retweeted
6038
6039
6040
6041
6042
Quote tweet
6043
Retweeted
6044
6045
6046
6047
6048
6049
Retweeted
6050
6051
6052
Retweeted
6053
Reply
6054
Reply
6055
Regular
6056
Retweeted
6057
6058
6059
Retweeted
6060
Regular
6061
6062
6063
Retweeted
6064
6065
6066
6067
6068
6069
6070
6071
6072
6073
6074
6075
Retweeted
6076
6077
Retweeted
6078
6079
6080
Retweeted
6081
Retweeted
6082
Retweeted
6083
6084
6085
6086
6087
Retweeted
6088
6089
6090
6091
Retweeted
6092
6093
6094
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Lloyd's Register'})"
                                              ^}
6095
6096
6097
Regular
6098
6099
6100
6101
6102
6103
6104
6105
6106
6107
6108
6109
6110
Regular
6111
6112
6113
6114
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 44 (offset: 43))
"MERGE (e:Entity {Type:"autoID", Name:'Amy's Kitchen, Inc.'})"
                                            ^}
6115
6116
6117
6118
6119
6120
6121
6122
6123
6124
6125
6126
6127
6128
6129
6130
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}

6131
6132
6133
6134
6135
6136
6137
6138
Regular
6139
6140
6141
6142
6143
6144
6145
6146
6147
6148
Retweeted
6149
Retweeted
6150
6151
6152
6153
6154
Regular
6155
6156
Retweeted
6157
6158
6159
6160
6161
6162
Retweeted
6163
6164
6165
6166
6167
6168
6169
6170
6171
Regular
6172
6173
Retweeted
6174
6175
6176
6177
6178
6179
6180
Retweeted
6181
6182
Retweeted
6183
6184
Reply
6185
6186
6187
6188
6189
6190
6191
6192
6193
Regular
6194
Retweeted
6195
6196
6197
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ',': expected '\', ''', '"', 'b', 'f', 'n', 'r', 't', UTF16 or UTF32 (line 1, column 37 (offset: 36))
"MATCH (p:Post {ID:"2350786131719442\, Type:"facebookOriginal"}) SET p.Name = "Timeline Photos", p.Date = "2021-10-04T22:24:39.000+0000", p.Link = "https://www.facebook.com/958164574314945/posts/2350786131719442#channels""
                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 144 (offset: 143))
"MATCH (c:Post), (o:Post) WHERE c.Link = "https://www.facebook.com/2350786131719442#channels_comment_2369832503148138" AND c.Type = "facebook"Reply" AND o.ID = "2350786131719442" AND o.Type = "facebookOriginal" CREATE (c)-[r:REPLIED_TO]->(o)"
                                                                                                                                                ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 208 (offset: 207))
"MATCH (e:Entity), (c:Post) WHERE e.Name = "Rafael Patterson" AND e.Type = "FacebookAuthor" AND c.Link = "https://www.facebook.com/2350786131719442#channels_comment_2369832503148138" AND c.Type = "facebook"Reply" CREATE (e)-[r:AUTHORED]->(c)"
                                                                                                                                                                                                                ^}
6198
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ',': expected '\', ''', '"', 'b', 'f', 'n', 'r', 't', UTF16 or UTF32 (line 1, column 37 (offset: 36))
"MATCH (p:Post {ID:"2357143374417051\, Type:"facebookOriginal"}) SET p.Name = "Timeline Photos", p.Date = "2021-10-12T13:30:06.000+0000", p.Link = "https://www.facebook.com/958164574314945/posts/2357143374417051#channels""
                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 144 (offset: 143))
"MATCH (c:Post), (o:Post) WHERE c.Link = "https://www.facebook.com/2357143374417051#channels_comment_2369832429814812" AND c.Type = "facebook"Reply" AND o.ID = "2357143374417051" AND o.Type = "facebookOriginal" CREATE (c)-[r:REPLIED_TO]->(o)"
                                                                                                                                                ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 208 (offset: 207))
"MATCH (e:Entity), (c:Post) WHERE e.Name = "Rafael Patterson" AND e.Type = "FacebookAuthor" AND c.Link = "https://www.facebook.com/2357143374417051#channels_comment_2369832429814812" AND c.Type = "facebook"Reply" CREATE (e)-[r:AUTHORED]->(c)"
                                                                                                                                                                                                                ^}
6199
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ',': expected '\', ''', '"', 'b', 'f', 'n', 'r', 't', UTF16 or UTF32 (line 1, column 37 (offset: 36))
"MATCH (p:Post {ID:"2360759957388726\, Type:"facebookOriginal"}) SET p.Name = "World Food Day", p.Date = "2021-10-16T15:01:17.000+0000", p.Link = "https://www.facebook.com/958164574314945/posts/2360759957388726#channels""
                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 144 (offset: 143))
"MATCH (c:Post), (o:Post) WHERE c.Link = "https://www.facebook.com/2360759957388726#channels_comment_2369832359814819" AND c.Type = "facebook"Reply" AND o.ID = "2360759957388726" AND o.Type = "facebookOriginal" CREATE (c)-[r:REPLIED_TO]->(o)"
                                                                                                                                                ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 208 (offset: 207))
"MATCH (e:Entity), (c:Post) WHERE e.Name = "Rafael Patterson" AND e.Type = "FacebookAuthor" AND c.Link = "https://www.facebook.com/2360759957388726#channels_comment_2369832359814819" AND c.Type = "facebook"Reply" CREATE (e)-[r:AUTHORED]->(c)"
                                                                                                                                                                                                                ^}
6200
6201
Retweeted
6202
Retweeted
6203
6204
6205
6206
6207
6208
6209
6210
Regular
6211
Retweeted
6212
6213
Retweeted
6214
Retweeted
6215
Retweeted
6216
Retweeted
6217
Retweeted
6218
6219
6220
6221
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 78 (offset: 77))
"MERGE (e:Entity {Type:"autoID", Name:'Bloomberg Philanthropies Bloomingdale's'})"
                                                                              ^}
6222
6223
Regular
6224
Retweeted
6225
6226
6227
6228
6229
6230
6231
Regular
6232
6233
6234
6235
6236
6237
Regular
6238
Regular
6239
Regular
6240
6241
6242
6243
6244
6245
Retweeted
6246
6247
6248
6249
Retweeted
6250
6251
6252
6253
6254
6255
6256
6257
6258
6259
6260
Retweeted
6261
6262
6263
Reply
6264
6265
Retweeted
6266
Retweeted
6267
6268
6269
Quote tweet
6270
Regular
6271
6272
Retweeted
6273
6274
6275
6276
6277
6278
6279
6280
Retweeted
6281
Retweeted
6282
6283
6284
6285
Retweeted
6286
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Lloyd's Register'})"
                                              ^}
6287
6288
6289
6290
6291
Regular
6292
6293
6294
6295
6296
Regular
6297
Retweeted
6298
6299
6300
6301
6302
6303
6304
6305
6306
6307
6308
Regular
6309
Retweeted
6310
6311
6312
Reply
6313
6314
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Lloyd's Register'})"
                                              ^}
6315
6316
6317
6318
6319
6320
6321
6322
6323
6324
6325
6326
6327
6328
6329
6330
6331
6332
6333
6334
6335
6336
6337
6338
Retweeted
6339
6340
Retweeted
6341
6342
Regular
6343
6344
6345
Regular
6346
Regular
6347
Regular
6348
6349
Regular
6350
6351
6352
6353
6354
6355
6356
6357
6358
6359
6360
6361
6362
6363
6364
6365
6366
6367
6368
Retweeted
6369
6370
Retweeted
6371
6372
6373
6374
6375
6376
6377
6378
6379
6380
6381
6382
6383
Retweeted
6384
6385
Retweeted
6386
Retweeted
6387
6388
6389
6390
6391
6392
6393
6394
6395
Retweeted
6396
6397
6398
6399
6400
Regular
6401
6402
6403
6404
6405
6406
6407
6408
6409
6410
Retweeted
6411
6412
Retweeted
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 't/T' or 'e/E' (line 1, column 207 (offset: 206))
"MATCH (e:Entity {ID:"1587277334", Type:"TwitterAccount", Name:'bobittyboop'}) SET e.Description = "#FundABPublicSchools. Little RED dot swimming in sea of blue. Severely abnormal Albertan, Looney Lefter, "Special Interest Group" as per Kenney, parent", e.Followers =2363, e.Location = "", e.Verified = False"
                                                                                                                                                                                                               ^}
6413

6414
6415
6416
6417
6418
6419
6420
Retweeted
6421
6422
6423
6424
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'm': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 81 (offset: 80))
"MERGE (p:Post {Type:"news", Name:"Rùng mình phim mới về cậu bé bị bắt cóc được "ma đưa lối" đáp trả kẻ tấn công: Chẳng cần máu me, điểm ra mắt cao chạm đỉnh!", Date:"2021-10-27T18:53:41.000+0000", Link:"http://kenh14.vn/am-anh-phim-moi-ve-cau-be-bi-bat-coc-duoc-ma-dua-loi-quy-dan-duong-qua-la-chang-can-mau-me-diem-ra-mat-cao-cham-dinh-20211027152044488.chn", Language:"vi", Text:"...thể tìm thấy sự cứu cánh trong những giờ phút tối tăm nhất nếu biết lắng nghe, trang IndieWire bình luận. Đạo diễn Derrickson và biên kịch Cargill làm sống lại những đặc điểm và cấu trúc tương tự của bộ phim Sinister, biến truyện ngắn của Joe Hill thành cơn ác mộng kéo dài với những đứa trẻ ma quái, bạo lực, nỗi sợ và diễn xuất khó quên, trang..."})"
                                                                                 ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 263 (offset: 262))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://kenh14.vn/am-anh-phim-moi-ve-cau-be-bi-bat-coc-duoc-ma-dua-loi-quy-dan-duong-qua-la-chang-can-mau-me-diem-ra-mat-cao-cham-dinh-20211027152044488.chn" AND p.Name = "Rùng mình phim mới về cậu bé bị bắt cóc được "ma đưa lối" đáp trả kẻ tấn công: Chẳng cần máu me, điểm ra mắt cao chạm đỉnh!" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                                       ^}
6425
6426
Retweeted
6427
6428
Retweeted
6429
6430
6431
6432
6433
Retweeted
6434
Retweeted
6435
6436
6437
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Lloyd's Register'})"
                                              ^}
6438
6439
Retweeted
6440
6441
Reply
6442
Retweeted
6443
6444
6445
6446
6447
6448
6449
6450
6451
6452
6453
6454
6455
6456
6457
6458
6459
6460
6461
6462
6463
6464
6465
6466
6467
6468
6469
6470
6471
6472
6473
6474
6475
6476
6477
6478
6479
6480
6481
6482
6483
6484
6485
6486
6487
6488
6489
6490
6491
6492
6493
6494
6495
6496
6497
6498
6499
6500
6501
Reply
6502
6503
6504
6505
6506
Retweeted
6507
6508
6509
6510
6511
6512
6513
6514
6515
6516
6517
6518
6519
6520
6521
6522
6523
Retweeted
6524
6525
6526
6527
6528
6529
6530
6531
6532
Reply
6533
6534
6535
6536
6537
6538
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'M': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 81 (offset: 80))
"MERGE (p:Post {Type:"news", Name:"Rùng Mình Phim Mới Về Cậu Bé Bị Bắt Cóc Được "Ma Đưa Lối" Đáp Trả Kẻ Tấn Công: Chẳng Cần Máu Me, Điểm Ra Mắt Cao Chạm Đỉnh!", Date:"2021-10-27T18:21:01.000+0000", Link:"http://www.tin247.news/rung-minh-phim-moi-ve-cau-be-bi-bat-coc-duoc-ma-dua-loi-dap-tra-ke-tan-cong-chang-can-mau-me-diem-ra-mat-cao-cham-dinh-8-29070074.html", Language:"vi", Text:"...phút tối tăm nhất nếu biết lắng nghe, trang IndieWire bình luận. Đạo diễn Derrickson và biên kịch Cargill làm sống lại những đặc điểm và cấu trúc tương tự của bộ phim Sinister, biến truyện ngắn của Joe Hill thành cơn ác mộng kéo dài với những đứa trẻ ma quái, bạo lực, nỗi sợ và diễn xuất khó quên, trang Bloody Disgusting nhận xét. The Black..."})"
                                                                                 ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 265 (offset: 264))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.tin247.news/rung-minh-phim-moi-ve-cau-be-bi-bat-coc-duoc-ma-dua-loi-dap-tra-ke-tan-cong-chang-can-mau-me-diem-ra-mat-cao-cham-dinh-8-29070074.html" AND p.Name = "Rùng Mình Phim Mới Về Cậu Bé Bị Bắt Cóc Được "Ma Đưa Lối" Đáp Trả Kẻ Tấn Công: Chẳng Cần Máu Me, Điểm Ra Mắt Cao Chạm Đỉnh!" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                                         ^}
6539
6540
6541
Retweeted
6542
6543
6544
6545
6546
6547
6548
6549
6550
6551
6552
6553
6554
6555
6556
6557
6558
Regular
6559
6560
6561
6562
6563
6564
6565
Reply
6566
6567
6568
6569
6570
6571
6572
6573
6574
6575
6576
6577
6578
6579
6580
6581
6582
6583
6584
6585
6586
6587
6588
6589
Retweeted
6590
6591
6592
6593
6594
6595
6596
6597
6598
6599
6600
6601
6602
6603
6604
6605
6606
6607
6608
6609
6610
6611
6612
Retweeted
6613
6614
6615
Reply
6616
6617
6618
6619
6620
6621
6622
6623
6624
6625
6626
6627
6628
Regular
6629
6630
6631
6632
6633
6634
6635
6636
6637
6638
6639
Retweeted
6640
6641
6642
6643
Retweeted
6644
6645
6646
Retweeted
6647
6648
Retweeted
6649
Retweeted
6650
Regular
6651
Retweeted
6652
6653
6654
Reply
6655
Retweeted
6656
6657
6658
6659
6660
6661
6662
Retweeted
6663
Retweeted
6664
Retweeted
6665
6666
6667
6668
Retweeted
6669
Retweeted
6670
Retweeted
6671
6672
Retweeted
6673
Retweeted
6674
6675
6676
6677
Retweeted
6678
6679
6680
6681
Retweeted
6682
Regular
6683
6684
Retweeted
6685
6686
6687
6688
Retweeted
6689
6690
6691
6692
6693
6694
6695
6696
6697
6698
6699
6700
6701
6702
Reply
6703
6704
6705
6706
6707
6708
6709
6710
6711
Regular
6712
6713
6714
6715
6716
6717
6718
6719
6720
6721
6722
Retweeted
6723
Retweeted
6724
6725
6726
6727
6728
6729
6730
6731
6732
6733
6734
6735
6736
6737
Retweeted
6738
6739
6740
6741
6742
6743
6744
6745
6746
Reply
6747
6748
6749
6750
6751
6752
Quote tweet
6753
6754
6755
6756
Reply
6757
Retweeted
6758
6759
6760
6761
6762
6763
Regular
6764
6765
Retweeted
6766
6767
6768
6769
Reply
6770
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 't' (line 1, column 94 (offset: 93))
"MERGE (p:Post {Type:"redditPost", Name:"Mexicanos recién egresados ¿Han logrado entrar de "intern" en una empresa grande?", Date:"2021-10-27T17:12:36.000+0000", Link:"https://www.reddit.com/r/mexico/comments/qh1iur/mexicanos_recién_egresados_han_logrado_entrar_de/", Language:"es", Text:"Por estas fechas las empresas grandes tipo Henkel, Smurfit Kappa, Cargill, Citi, etc, publican sus programas de Trainee para recién egresados ¿Hay alguien por aquí que haya logrado entrar en años pasados? ¿Qué tips tienen? ¿Creen que sea posible hacerlo sin palanca?"})"
                                                                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 't' (line 1, column 95 (offset: 94))
"MATCH (p:Post), (t:Post) WHERE p.Name = "Mexicanos recién egresados ¿Han logrado entrar de "intern" en una empresa grande?" AND p.Link = "https://www.reddit.com/r/mexico/comments/qh1iur/mexicanos_recién_egresados_han_logrado_entrar_de/" AND p.Type = "redditPost" AND t.Name = "https://www.reddit.com/r/mexico/comments/qh1iur/mexicanos_recién_egresados_han_logrado_entrar_de/" AND t.Type = "SubredditThread" CREATE (p)-[r:REPLIED_TO]->(t)"
                                                                                               ^}
6771
6772
Retweeted
6773
6774
6775
6776
6777
6778
6779
Retweeted
6780
6781
6782
Regular
6783
6784
6785
6786
6787
6788
6789
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Lloyd's Register'})"
                                              ^}
6790

Regular
6791
6792
Regular
6793
6794
6795
6796
6797
6798
6799
6800
6801
6802
6803
6804
6805
6806
6807
6808
6809
6810
6811
6812
6813
6814
6815
6816
6817
6818
6819
Reply
6820
6821
6822
6823
6824
6825
6826
6827
6828
Regular
6829
6830
6831
6832
6833
6834
6835
6836
6837
6838
6839
6840
6841
6842
6843
6844
6845
6846
6847
6848
6849
6850
6851
6852
6853
6854
6855
Regular
6856
6857
6858
6859
6860
6861
Regular
6862
6863
6864
6865
Reply
6866
6867
6868
6869
6870
6871
6872
6873
6874
6875
6876
6877
6878
6879
6880
6881
6882
6883
6884
6885
6886
Retweeted
6887
6888
6889
Retweeted
6890
6891
6892
6893
6894
6895
6896
6897
6898
Regular
6899
6900
6901
6902
6903
6904
Retweeted
6905
6906
6907
6908
6909
6910
6911
6912
6913
Retweeted
6914
6915
6916
6917
6918
6919
6920
6921
6922
6923
6924
6925
6926
6927
6928
6929
6930
Retweeted
6931
6932
6933
6934
6935
6936
6937
6938
6939
6940
Regular
6941
6942
6943
Retweeted
6944
6945
6946
6947
6948
Retweeted
6949
Retweeted
6950
6951
6952
6953
6954
Regular
6955
6956
6957
6958
6959
6960
6961
6962
6963
6964
6965
6966
6967
6968
Retweeted
6969
6970
6971
Retweeted
6972
6973
Regular
6974
Retweeted
6975
6976
6977
Retweeted
6978
6979
6980
6981
6982
6983
6984
6985
6986
Retweeted
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 't': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',', FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 126 (offset: 125))
"MATCH (e:Entity {ID:"29624552", Type:"TwitterAccount", Name:'newfangl3d'}) SET e.Description = "he/him. fan of the singular "they"", e.Followers =1100, e.Location = "Treaty 6, Edmonton", e.Verified = False"
                                                                                                                              ^}
6987
6988
6989
Retweeted
6990
6991
Regular
6992
Retweeted
6993
6994
6995
6996
6997
6998
Retweeted
6999
7000
Retweeted
7001
7002
7003
7004
7005
7006
7007
7008
7009
7010
7011
7012
7013
7014
7015
7016
7017
7018
7019
7020
7021
7022
7023
7024
7025
7026
7027
7028
7029
7030
7031
7032
7033
7034
7035
7036
7037
7038
7039
Retweeted
7040
7041
7042
7043
7044
Retweeted
7045
7046
7047
7048
7049
7050
7051
7052
7053
7054
7055
7056
7057
7058
7059
Retweeted
7060
7061
7062
7063
7064
7065
7066
7067
7068
7069
Retweeted
7070
7071
7072
Retweeted
7073
7074
7075
Regular
7076
7077
7078
7079
7080
7081
7082
Reply
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'P': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',', FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 110 (offset: 109))
"MATCH (e:Entity {ID:"1363216875409313797", Type:"TwitterAccount", Name:'PrietoYesti'}) SET e.Description = ""Politics (n). 1. A strife of interests masquerading as a contest of principles. 2. The conduct of public affairs for private advantage." Ambrose Bierce", e.Followers =80, e.Location = "", e.Verified = False"
                                                                                                              ^}
7083
7084
7085
7086
7087
7088
7089
7090
7091
7092
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Lloyd's Register'})"
                                              ^}
7093
7094
7095
7096
7097
Regular
7098
7099
Reply
7100
Regular
7101
7102
7103
7104
7105
7106
7107
7108
Retweeted
7109
7110
Retweeted
7111
7112
7113
7114
7115
7116
7117
Retweeted
7118
7119
7120
Retweeted
7121
7122
7123
7124
Regular
7125
7126
Retweeted
7127
7128
Retweeted
7129
Regular
7130
7131
Retweeted
7132
7133
Retweeted
7134
7135
7136
Regular
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'a': expected 'o/O' (line 1, column 115 (offset: 114))
"MATCH (e:Entity {ID:"1027664931880136705", Type:"TwitterAccount", Name:'viau_danielle'}) SET e.Description = "🌬"La RÉALITÉ N'EST QU'UNE ILLUSION!" 🌬🦋BOUDDHA🦋", e.Followers =47, e.Location = "", e.Verified = False"
                                                                                                                   ^}
7137
Retweeted
7138
7139
Retweeted
7140
7141
7142
7143
Retweeted
7144
7145
Retweeted
7146
7147
Regular
7148
7149
7150
7151
7152
7153
Retweeted
7154
7155
Regular
7156
7157
7158
7159
7160
7161
Retweeted
7162
7163
7164
7165
Retweeted
7166
7167
7168
Retweeted
7169
7170
Retweeted
7171
Retweeted
7172
7173
7174
7175
Retweeted
7176
Retweeted
7177
Retweeted
7178
7179
7180
7181
Retweeted
7182
Retweeted
7183
7184
Retweeted
7185
Regular
7186
Retweeted
7187
7188
7189
Retweeted
7190
Retweeted
7191
Retweeted
7192
7193
7194
7195
7196
7197
7198
7199
7200
7201
7202
7203
Retweeted
7204
7205
7206
7207
7208
7209
Regular
7210
7211
7212
Regular
7213
7214
7215
7216
Retweeted
7217
7218
7219
Retweeted
7220
Retweeted
7221
7222
7223
7224
7225
Retweeted
7226
7227
7228
7229
7230
7231
7232
7233
Retweeted
7234
7235
Regular
7236
7237
7238
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Lloyd's Register'})"
                                              ^}
7239
7240
Reply
7241
7242
7243
7244
7245
7246
Retweeted
7247
7248
7249
7250
7251
7252
7253
7254
7255
Regular
7256
7257
7258
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Lloyd's Register'})"
                                              ^}
7259
7260
7261
7262
Retweeted
7263
7264
7265
Retweeted
7266
Retweeted
7267
Retweeted
7268
Retweeted
7269
7270
7271
Retweeted
7272
7273
Reply
7274
7275
7276
Retweeted
7277
Retweeted
7278
7279
7280
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 68 (offset: 67))
"MERGE (e:Entity {Type:"autoID", Name:'Health Action International's'})"
                                                                    ^}
7281
Regular
7282
7283
7284
Regular
7285
Retweeted
7286
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'm': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 78 (offset: 77))
"MERGE (p:Post {Type:"news", Name:"Ám ảnh phim mới về cậu bé bị bắt cóc được "ma đưa lối, quỷ dẫn đường" quá lạ: Chẳng cần máu me, điểm ra mắt cao chạm đỉnh!", Date:"2021-10-27T15:35:59.000+0000", Link:"http://tinmoi247.net/dien-anh/am-anh-phim-moi-ve-cau-be-bi-bat-coc-duoc-ma-dua-loi-quy-dan-duong-qua-la-chang-can-mau-me-diem-ra-mat-cao-cham-dinh-944821", Language:"vi", Text:"...tăm nhất nếu biết lắng nghe, trang IndieWire bình luận.  Đạo diễn Derrickson và biên kịch Cargill làm sống lại những đặc điểm và cấu trúc tương tự của bộ phimSinister, biến truyện ngắn của Joe Hill thành cơn ác mộng kéo dài với những đứa trẻ ma quái, bạo lực, nỗi sợ và diễn xuất khó quên, trang Bloody Disgusting nhận xét. The Black Phone mở..."})"
                                                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 258 (offset: 257))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://tinmoi247.net/dien-anh/am-anh-phim-moi-ve-cau-be-bi-bat-coc-duoc-ma-dua-loi-quy-dan-duong-qua-la-chang-can-mau-me-diem-ra-mat-cao-cham-dinh-944821" AND p.Name = "Ám ảnh phim mới về cậu bé bị bắt cóc được "ma đưa lối, quỷ dẫn đường" quá lạ: Chẳng cần máu me, điểm ra mắt cao chạm đỉnh!" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                                  ^}
7287

Regular
7288
Retweeted
7289
7290
Retweeted
7291
7292
7293
7294
Retweeted
7295
7296
7297
7298
7299
7300
7301
Regular
7302
Regular
7303
7304
7305
Reply
7306
7307
7308
7309
7310
7311
7312
7313
7314
7315
7316
Reply
7317
7318
7319
7320
7321
7322
7323
Regular
7324
7325
7326
7327
Reply
7328
Retweeted
7329
7330
7331
7332
7333
7334
7335
7336
7337
7338
7339
7340
7341
7342
7343
7344
7345
7346
Retweeted
7347
7348
7349
7350
7351
7352
7353
7354
Quote tweet
7355
7356
7357
Retweeted
7358
Retweeted
7359
7360
7361
7362
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'm': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 81 (offset: 80))
"MERGE (p:Post {Type:"news", Name:"Rùng mình phim mới về cậu bé bị bắt cóc được "ma đưa lối" đáp trả kẻ tấn công: Chẳng cần máu me, điểm ra mắt cao chạm đỉnh!", Date:"2021-10-27T14:57:25.000+0000", Link:"https://www.tin247.news/rung-minh-phim-moi-ve-cau-be-bi-bat-coc-duoc-ma-dua-loi-dap-tra-ke-tan-cong-chang-can-mau-me-diem-ra-mat-cao-cham-dinh-8-29070074.html", Language:"vi", Text:"...khi bạn có thể tìm thấy sự cứu cánh trong những giờ phút tối tăm nhất nếu biết lắng nghe, trang IndieWire bình luận. Đạo diễn Derrickson và biên kịch Cargill làm sống lại những đặc điểm và cấu trúc tương tự của bộ phim Sinister, biến truyện ngắn của Joe Hill thành cơn ác mộng kéo dài với những đứa trẻ ma quái, bạo lực, nỗi sợ và diễn xuất khó..."})"
                                                                                 ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 266 (offset: 265))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.tin247.news/rung-minh-phim-moi-ve-cau-be-bi-bat-coc-duoc-ma-dua-loi-dap-tra-ke-tan-cong-chang-can-mau-me-diem-ra-mat-cao-cham-dinh-8-29070074.html" AND p.Name = "Rùng mình phim mới về cậu bé bị bắt cóc được "ma đưa lối" đáp trả kẻ tấn công: Chẳng cần máu me, điểm ra mắt cao chạm đỉnh!" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                                          ^}
7363
Quote tweet
7364
7365
7366
Regular
7367
Regular
7368
7369
Retweeted
7370
Retweeted
7371
Reply
7372
7373
7374
7375
7376
7377
7378
Regular
7379
Retweeted
7380
Retweeted
7381
7382
7383
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
7384
7385
7386
7387
7388
7389
7390
7391
7392
7393
7394
7395
7396
Retweeted
7397
7398
7399
Reply
7400
Retweeted
7401
7402
7403
Retweeted
7404
7405
7406
7407
7408
Regular
7409
7410
7411
7412
7413
7414
Regular
7415
7416
7417
7418
7419
7420
Regular
7421
7422
7423
7424
Retweeted
7425
7426
7427
7428
7429
7430
Regular
7431
7432
Retweeted
7433
7434
7435
Retweeted
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 'n/N' or 's/S' (line 1, column 101 (offset: 100))
"MATCH (e:Entity {ID:"1265640302", Type:"TwitterAccount", Name:'SasTatomir'}) SET e.Description = ""I love those who can smile in trouble, who can gather strength from distress, and grow brave by reflection." Leonardo da Vinci. About me - on Linkedin", e.Followers =518, e.Location = "Europe 🇪🇺", e.Verified = False"
                                                                                                     ^}
7436
Regular
7437
Regular
7438
7439
7440
Retweeted
7441
7442
7443
Retweeted
7444
7445
7446
Retweeted
7447
7448
Regular
7449
7450
Regular
7451
7452
Reply
7453
Regular
7454
Regular
7455
7456
7457
7458
7459
Retweeted
7460
Retweeted
7461
Retweeted
7462
Regular
7463
Retweeted
7464
Retweeted
7465
Regular
7466
Retweeted
7467
Reply
7468
7469
7470
7471
7472
7473
7474
Retweeted
7475
7476
7477
Retweeted
7478
Retweeted
7479
7480
Regular
7481
7482
7483
7484
7485
Retweeted
7486
7487
Retweeted
7488
Regular
7489
7490
7491
Reply
7492
7493
7494
Regular
7495
Reply
7496
7497
7498
Quote tweet
7499
7500
Regular
7501
7502
7503
Regular
7504
7505
7506
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Lloyd's Register'})"
                                              ^}
7507
7508
7509
Retweeted
7510
7511
7512
7513
7514
Regular
7515
7516
7517
Reply
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',', FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 170 (offset: 169))
"MATCH (e:Entity {ID:"1066440112723189760", Type:"TwitterAccount", Name:'mmrsrv'}) SET e.Description = "Exploring value creation, expression and exchange in a so-called "post-truth society."", e.Followers =226, e.Location = "Temara, Morocco and Cheswold, Delaware", e.Verified = False"
                                                                                                                                                                          ^}
7518
Regular
7519
Retweeted
7520
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'e' (line 1, column 43 (offset: 42))
"MERGE (e:Entity {Type:"autoID", Name:'L'Oreal'})"
                                           ^}
7521
7522
Retweeted
7523
Regular
7524
Reply
7525
Regular
7526
Quote tweet
7527
7528
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ',': expected '\', ''', '"', 'b', 'f', 'n', 'r', 't', UTF16 or UTF32 (line 1, column 37 (offset: 36))
"MATCH (p:Post {ID:"2353424418122280\, Type:"facebookOriginal"}) SET p.Name = "Timeline Photos", p.Date = "2021-10-08T06:25:05.000+0000", p.Link = "https://www.facebook.com/958164574314945/posts/2353424418122280#channels""
                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 144 (offset: 143))
"MATCH (c:Post), (o:Post) WHERE c.Link = "https://www.facebook.com/2353424418122280#channels_comment_2369534949844560" AND c.Type = "facebook"Reply" AND o.ID = "2353424418122280" AND o.Type = "facebookOriginal" CREATE (c)-[r:REPLIED_TO]->(o)"
                                                                                                                                                ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 210 (offset: 209))
"MATCH (e:Entity), (c:Post) WHERE e.Name = "Cihampelas Pancing" AND e.Type = "FacebookAuthor" AND c.Link = "https://www.facebook.com/2353424418122280#channels_comment_2369534949844560" AND c.Type = "facebook"Reply" CREATE (e)-[r:AUTHORED]->(c)"
                                                                                                                                                                                                                  ^}
7529
Regular
7530
7531
7532
Retweeted
7533
Regular
7534
Regular
7535
7536
Regular
7537
Quote tweet
7538
Regular
7539
Retweeted
7540
7541
7542
7543
7544
7545
7546
7547
7548
7549
7550
7551
7552
7553
7554
7555
Regular
7556
7557
7558
7559
7560
7561
7562
Regular
7563
Retweeted
7564
Regular
7565
7566
7567
7568
Regular
7569
7570
7571
7572
Quote tweet

7573
7574
7575
7576
7577
7578
7579
7580
7581
7582
7583
7584
7585
7586
7587
7588
7589
Retweeted
7590
7591
7592
Regular
7593
7594
7595
7596
7597
7598
Regular
7599
Regular
7600
7601
Retweeted
7602
7603
Regular
7604
Reply
7605
7606
7607
Regular
7608
7609
7610
7611
Retweeted
7612
Regular
7613
7614
7615
7616
Regular
7617
Retweeted
7618
7619
Regular
7620
Retweeted
7621
Quote tweet
7622
Regular
7623
7624
7625
Regular
7626
Regular
7627
7628
Quote tweet
7629
7630
7631
Retweeted
7632
7633
7634
7635
Regular
7636
7637
7638
Regular
7639
7640
7641
7642
Regular
7643
Quote tweet
7644
Quote tweet
7645
7646
7647
Regular
7648
7649
7650
7651
7652
7653
7654
7655
7656
7657
Regular
7658
Regular
7659
Regular
7660
7661
Reply
7662
7663
Regular
7664
Retweeted
7665
7666
7667
7668
7669
7670
Retweeted
7671
Regular
7672
7673
Retweeted
7674
7675
7676
7677
7678
7679
Reply
7680
Reply
7681
7682
Retweeted
7683
7684
Regular
7685
7686
7687
7688
7689
7690
7691
Regular
7692
7693
Regular
7694
Retweeted
7695
7696
Retweeted
7697
7698
7699
Quote tweet
7700
Quote tweet
7701
7702
Retweeted
7703
7704
7705
7706
7707
Regular
7708
Reply
7709
7710
7711
7712
7713
7714
7715
7716
Regular
7717
7718
Regular
7719
7720
7721
7722
7723
7724
7725
7726
7727
7728
7729
7730
7731
7732
7733
7734
7735
7736
7737
Regular
7738
7739
7740
7741
Regular
7742
7743
Retweeted
7744
Regular
7745
Retweeted
7746
Regular
7747
Reply
7748
Regular
7749
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Land O'Lakes Nutreco'})"
                                              ^}
7750
Regular
7751
7752
Regular
7753
Regular
7754
Retweeted
7755
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'm': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 78 (offset: 77))
"MERGE (p:Post {Type:"news", Name:"Ám ảnh phim mới về cậu bé bị bắt cóc được "ma đưa lối, quỷ dẫn đường" quá lạ: Chẳng cần máu me, điểm ra mắt cao chạm đỉnh!", Date:"2021-10-27T10:18:05.000+0000", Link:"https://nguoi-noi-tieng.com/van-hoa/am-anh-phim-moi-ve-cau-be-bi-bat-coc-duoc-ma-dua-loi-quy-dan-duong-qua-la-chang-can-mau-me-diem-ra-mat-cao-cham-dinh-1297058", Language:"vi", Text:"..., nhưng đôi khi bạn có thể tìm thấy sự cứu cánh trong những giờ phút tối tăm nhất nếu biết lắng nghe, trang IndieWire bình luận. Đạo diễn Derrickson và biên kịch Cargill làm sống lại những đặc điểm và cấu trúc tương tự của bộ phimSinister, biến truyện ngắn của Joe Hill thành cơn ác mộng kéo dài với những đứa trẻ ma quái, bạo lực, nỗi sợ và diễn xuất..."})"
                                                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 265 (offset: 264))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://nguoi-noi-tieng.com/van-hoa/am-anh-phim-moi-ve-cau-be-bi-bat-coc-duoc-ma-dua-loi-quy-dan-duong-qua-la-chang-can-mau-me-diem-ra-mat-cao-cham-dinh-1297058" AND p.Name = "Ám ảnh phim mới về cậu bé bị bắt cóc được "ma đưa lối, quỷ dẫn đường" quá lạ: Chẳng cần máu me, điểm ra mắt cao chạm đỉnh!" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                                         ^}
7756
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'm': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 78 (offset: 77))
"MERGE (p:Post {Type:"news", Name:"Ám ảnh phim mới về cậu bé bị bắt cóc được "ma đưa lối, quỷ dẫn đường" quá lạ: Chẳng cần máu me, điểm ra mắt cao chạm đỉnh!", Date:"2021-10-27T10:17:42.000+0000", Link:"https://tinmoi247.net/dien-anh/am-anh-phim-moi-ve-cau-be-bi-bat-coc-duoc-ma-dua-loi-quy-dan-duong-qua-la-chang-can-mau-me-diem-ra-mat-cao-cham-dinh-944821", Language:"vi", Text:"..., nhưng đôi khi bạn có thể tìm thấy sự cứu cánh trong những giờ phút tối tăm nhất nếu biết lắng nghe, trang IndieWire bình luận. Đạo diễn Derrickson và biên kịch Cargill làm sống lại những đặc điểm và cấu trúc tương tự của bộ phimSinister, biến truyện ngắn của Joe Hill thành cơn ác mộng kéo dài với những đứa trẻ ma quái, bạo lực, nỗi sợ và diễn xuất..."})"
                                                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 259 (offset: 258))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://tinmoi247.net/dien-anh/am-anh-phim-moi-ve-cau-be-bi-bat-coc-duoc-ma-dua-loi-quy-dan-duong-qua-la-chang-can-mau-me-diem-ra-mat-cao-cham-dinh-944821" AND p.Name = "Ám ảnh phim mới về cậu bé bị bắt cóc được "ma đưa lối, quỷ dẫn đường" quá lạ: Chẳng cần máu me, điểm ra mắt cao chạm đỉnh!" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                                   ^}
7757
Regular
7758
7759
Regular
7760
7761
Regular
7762
7763
7764
Regular
7765
7766
7767
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'm': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 78 (offset: 77))
"MERGE (p:Post {Type:"news", Name:"Ám ảnh phim mới về cậu bé bị bắt cóc được "ma đưa lối, quỷ dẫn đường" quá lạ: Chẳng cần máu me, điểm ra mắt cao chạm đỉnh!", Date:"2021-10-27T10:08:37.000+0000", Link:"https://tonghopbao.com/am-anh-phim-moi-ve-cau-be-bi-bat-coc-duoc-ma-dua-loi-quy-dan-duong-qua-la-chang-can-mau-me-diem-ra-mat-cao-cham-dinh/r/1063728", Language:"vi", Text:"..., nhưng đôi khi bạn có thể tìm thấy sự cứu cánh trong những giờ phút tối tăm nhất nếu biết lắng nghe, trang IndieWire bình luận. Đạo diễn Derrickson và biên kịch Cargill làm sống lại những đặc điểm và cấu trúc tương tự của bộ phimSinister, biến truyện ngắn của Joe Hill thành cơn ác mộng kéo dài với những đứa trẻ ma quái, bạo lực, nỗi sợ và diễn xuất..."})"
                                                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 254 (offset: 253))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://tonghopbao.com/am-anh-phim-moi-ve-cau-be-bi-bat-coc-duoc-ma-dua-loi-quy-dan-duong-qua-la-chang-can-mau-me-diem-ra-mat-cao-cham-dinh/r/1063728" AND p.Name = "Ám ảnh phim mới về cậu bé bị bắt cóc được "ma đưa lối, quỷ dẫn đường" quá lạ: Chẳng cần máu me, điểm ra mắt cao chạm đỉnh!" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                              ^}
7768

7769
Regular
7770
7771
Regular
7772
7773
7774
7775
7776
7777
7778
7779
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'm': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 78 (offset: 77))
"MERGE (p:Post {Type:"news", Name:"Ám ảnh phim mới về cậu bé bị bắt cóc được "ma đưa lối, quỷ dẫn đường" quá lạ: Chẳng cần máu me, điểm ra mắt cao chạm đỉnh!", Date:"2021-10-27T10:01:40.000+0000", Link:"https://kenh14.vn/am-anh-phim-moi-ve-cau-be-bi-bat-coc-duoc-ma-dua-loi-quy-dan-duong-qua-la-chang-can-mau-me-diem-ra-mat-cao-cham-dinh-20211027152044488.chn", Language:"vi", Text:"...thấy sự cứu cánh trong những giờ phút tối tăm nhất nếu biết lắng nghe, trang IndieWire bình luận. Đạo diễn Derrickson và biên kịch Cargill làm sống lại những đặc điểm và cấu trúc tương tự của bộ phimSinister, biến truyện ngắn của Joe Hill thành cơn ác mộng kéo dài với những đứa trẻ ma quái, bạo lực, nỗi sợ và diễn xuất khó quên, trang Bloody..."})"
                                                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 261 (offset: 260))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://kenh14.vn/am-anh-phim-moi-ve-cau-be-bi-bat-coc-duoc-ma-dua-loi-quy-dan-duong-qua-la-chang-can-mau-me-diem-ra-mat-cao-cham-dinh-20211027152044488.chn" AND p.Name = "Ám ảnh phim mới về cậu bé bị bắt cóc được "ma đưa lối, quỷ dẫn đường" quá lạ: Chẳng cần máu me, điểm ra mắt cao chạm đỉnh!" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                                     ^}
7780
7781
Retweeted
7782
7783
7784
7785
7786
7787
Regular
7788
7789
Regular
7790
Regular
7791
Regular
7792
7793
7794
Retweeted
7795
7796
Regular
7797
Retweeted
7798
7799
7800
Retweeted
7801
7802
Retweeted
7803
7804
7805
Regular
7806
7807
7808
7809
Regular
7810
7811
7812
Regular
7813
Regular
7814
7815
7816
Regular
7817
Retweeted
7818
7819
Regular
7820
7821
7822
Retweeted
7823
7824
7825
7826
Regular
7827
Regular
7828
7829
Retweeted
7830
Retweeted
7831
7832
Regular
7833
7834
Reply
7835
Regular
7836
Regular
7837
Regular
7838
7839
Regular
7840
7841
7842
Regular
7843
7844
7845
7846
Regular
7847
7848
7849
Regular
7850
7851
7852
Regular
7853
Regular
7854
Regular
7855
7856
7857
Regular
7858
Regular
7859
7860
Regular
7861
7862
7863
7864
7865
Regular
7866
7867
7868
Regular
7869
Regular
7870
7871
7872
Regular
7873
7874
7875
7876
7877
7878
Regular
7879
7880
Regular
7881
7882
Retweeted
7883
Regular
7884
Regular
7885
Regular
7886
7887
Regular
7888
7889
7890
Regular
7891
Reply
7892
7893
Retweeted
7894
7895
7896
7897
Regular
7898
7899
7900
Regular
7901
7902
7903
7904
7905
7906
7907
7908
7909
Regular
7910
7911
7912
7913
Regular
7914
Regular
7915
Retweeted
7916
Retweeted
7917
Regular
7918
Regular
7919
Regular
7920
7921
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 62 (offset: 61))
"MERGE (p:Post {Type:"news", Name:"Today in the Guardian UK: "The dirty dozen: meet America's top climate villains" - Mike Wirth Chairman of the board and CEO of Chevron - Darren Woods Chairman of the board and CEO of Exxon - Jamie Dimon CEO of Chase Bank - Larry Finko CEO of BlackRock - Ch...", Date:"2021-10-27T07:33:44.000+0000", Link:"https://abcnews.go.com/Politics/manchin-speaks-tough-bargaining-biden-fellow-democrats/story?id=80794097#comment-5586180464", Language:"en", Text:"...- Joe Manchin US senator - Mark Zuckerberg Facebook founder and CEO - Rupert Murdoch Founder of News Corp - David MacLennan CEO of Cargill - Richard Edelman CEO of Edelman PR - Ted Boutrous Partner of Gibson Dunn law firm In the UK they know better where the planet destroyers are than in the USA"})"
                                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 210 (offset: 209))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://abcnews.go.com/Politics/manchin-speaks-tough-bargaining-biden-fellow-democrats/story?id=80794097#comment-5586180464" AND p.Name = "Today in the Guardian UK: "The dirty dozen: meet America's top climate villains" - Mike Wirth Chairman of the board and CEO of Chevron - Darren Woods Chairman of the board and CEO of Exxon - Jamie Dimon CEO of Chase Bank - Larry Finko CEO of BlackRock - Ch..." AND e.Type = "autoID" AND e.Name ="Koch" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                  ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 210 (offset: 209))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://abcnews.go.com/Politics/manchin-speaks-tough-bargaining-biden-fellow-democrats/story?id=80794097#comment-5586180464" AND p.Name = "Today in the Guardian UK: "The dirty dozen: meet America's top climate villains" - Mike Wirth Chairman of the board and CEO of Chevron - Darren Woods Chairman of the board and CEO of Exxon - Jamie Dimon CEO of Chase Bank - Larry Finko CEO of BlackRock - Ch..." AND e.Type = "autoID" AND e.Name ="Chevron" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                  ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 210 (offset: 209))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://abcnews.go.com/Politics/manchin-speaks-tough-bargaining-biden-fellow-democrats/story?id=80794097#comment-5586180464" AND p.Name = "Today in the Guardian UK: "The dirty dozen: meet America's top climate villains" - Mike Wirth Chairman of the board and CEO of Chevron - Darren Woods Chairman of the board and CEO of Exxon - Jamie Dimon CEO of Chase Bank - Larry Finko CEO of BlackRock - Ch..." AND e.Type = "autoID" AND e.Name ="Mitch McConnell" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                  ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 210 (offset: 209))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://abcnews.go.com/Politics/manchin-speaks-tough-bargaining-biden-fellow-democrats/story?id=80794097#comment-5586180464" AND p.Name = "Today in the Guardian UK: "The dirty dozen: meet America's top climate villains" - Mike Wirth Chairman of the board and CEO of Chevron - Darren Woods Chairman of the board and CEO of Exxon - Jamie Dimon CEO of Chase Bank - Larry Finko CEO of BlackRock - Ch..." AND e.Type = "autoID" AND e.Name ="Blackstone" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                  ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 210 (offset: 209))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://abcnews.go.com/Politics/manchin-speaks-tough-bargaining-biden-fellow-democrats/story?id=80794097#comment-5586180464" AND p.Name = "Today in the Guardian UK: "The dirty dozen: meet America's top climate villains" - Mike Wirth Chairman of the board and CEO of Chevron - Darren Woods Chairman of the board and CEO of Exxon - Jamie Dimon CEO of Chase Bank - Larry Finko CEO of BlackRock - Ch..." AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                  ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 210 (offset: 209))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://abcnews.go.com/Politics/manchin-speaks-tough-bargaining-biden-fellow-democrats/story?id=80794097#comment-5586180464" AND p.Name = "Today in the Guardian UK: "The dirty dozen: meet America's top climate villains" - Mike Wirth Chairman of the board and CEO of Chevron - Darren Woods Chairman of the board and CEO of Exxon - Jamie Dimon CEO of Chase Bank - Larry Finko CEO of BlackRock - Ch..." AND e.Type = "autoID" AND e.Name ="Facebook" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                  ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 210 (offset: 209))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://abcnews.go.com/Politics/manchin-speaks-tough-bargaining-biden-fellow-democrats/story?id=80794097#comment-5586180464" AND p.Name = "Today in the Guardian UK: "The dirty dozen: meet America's top climate villains" - Mike Wirth Chairman of the board and CEO of Chevron - Darren Woods Chairman of the board and CEO of Exxon - Jamie Dimon CEO of Chase Bank - Larry Finko CEO of BlackRock - Ch..." AND e.Type = "autoID" AND e.Name ="DMac" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                  ^}

Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 210 (offset: 209))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://abcnews.go.com/Politics/manchin-speaks-tough-bargaining-biden-fellow-democrats/story?id=80794097#comment-5586180464" AND p.Name = "Today in the Guardian UK: "The dirty dozen: meet America's top climate villains" - Mike Wirth Chairman of the board and CEO of Chevron - Darren Woods Chairman of the board and CEO of Exxon - Jamie Dimon CEO of Chase Bank - Larry Finko CEO of BlackRock - Ch..." AND e.Type = "autoID" AND e.Name ="Mark Zuckerberg Facebook" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                  ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 210 (offset: 209))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://abcnews.go.com/Politics/manchin-speaks-tough-bargaining-biden-fellow-democrats/story?id=80794097#comment-5586180464" AND p.Name = "Today in the Guardian UK: "The dirty dozen: meet America's top climate villains" - Mike Wirth Chairman of the board and CEO of Chevron - Darren Woods Chairman of the board and CEO of Exxon - Jamie Dimon CEO of Chase Bank - Larry Finko CEO of BlackRock - Ch..." AND e.Type = "autoID" AND e.Name ="Rupert Murdoch Founder" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                  ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 210 (offset: 209))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://abcnews.go.com/Politics/manchin-speaks-tough-bargaining-biden-fellow-democrats/story?id=80794097#comment-5586180464" AND p.Name = "Today in the Guardian UK: "The dirty dozen: meet America's top climate villains" - Mike Wirth Chairman of the board and CEO of Chevron - Darren Woods Chairman of the board and CEO of Exxon - Jamie Dimon CEO of Chase Bank - Larry Finko CEO of BlackRock - Ch..." AND e.Type = "autoID" AND e.Name ="David MacLennan" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                  ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 210 (offset: 209))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://abcnews.go.com/Politics/manchin-speaks-tough-bargaining-biden-fellow-democrats/story?id=80794097#comment-5586180464" AND p.Name = "Today in the Guardian UK: "The dirty dozen: meet America's top climate villains" - Mike Wirth Chairman of the board and CEO of Chevron - Darren Woods Chairman of the board and CEO of Exxon - Jamie Dimon CEO of Chase Bank - Larry Finko CEO of BlackRock - Ch..." AND e.Type = "autoID" AND e.Name ="Cargill - Richard Edelman" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                  ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 210 (offset: 209))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://abcnews.go.com/Politics/manchin-speaks-tough-bargaining-biden-fellow-democrats/story?id=80794097#comment-5586180464" AND p.Name = "Today in the Guardian UK: "The dirty dozen: meet America's top climate villains" - Mike Wirth Chairman of the board and CEO of Chevron - Darren Woods Chairman of the board and CEO of Exxon - Jamie Dimon CEO of Chase Bank - Larry Finko CEO of BlackRock - Ch..." AND e.Type = "autoID" AND e.Name ="Edelman PR - Ted Boutrous Partner" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                  ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 210 (offset: 209))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://abcnews.go.com/Politics/manchin-speaks-tough-bargaining-biden-fellow-democrats/story?id=80794097#comment-5586180464" AND p.Name = "Today in the Guardian UK: "The dirty dozen: meet America's top climate villains" - Mike Wirth Chairman of the board and CEO of Chevron - Darren Woods Chairman of the board and CEO of Exxon - Jamie Dimon CEO of Chase Bank - Larry Finko CEO of BlackRock - Ch..." AND e.Type = "autoID" AND e.Name ="Gibson Dunn" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                  ^}
7922
7923
Regular
7924
Regular
7925
Regular
7926
7927
7928
Regular
7929
7930
Regular
7931
7932
Retweeted
7933
Regular
7934
7935
Quote tweet
7936
Regular
7937
Regular
7938
Retweeted
7939
Retweeted
7940
7941
Retweeted
7942
7943
7944
7945
Retweeted
7946
Regular
7947
7948
7949
Regular
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'é': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',', FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 167 (offset: 166))
"MATCH (e:Entity {ID:"1358604272", Type:"TwitterAccount", Name:'chantalattia'}) SET e.Description = "Une physicienne pour la Santé et la Réalisation de Soi.  Santé : "état de bien-être complet, mental, physique et social (pas seulement l'absence de maladie)".", e.Followers =2823, e.Location = "Paris", e.Verified = False"
                                                                                                                                                                       ^}

7950
Retweeted
7951
Regular
7952
Regular
7953
7954
7955
7956
7957
Regular
7958
7959
Regular
7960
7961
Quote tweet
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'l': expected 'n/N' (line 1, column 78 (offset: 77))
"MERGE (e:Entity {Type:"autoID", Name:'Organisation des Nations unies pour l'alimentation et l'agriculture'})"
                                                                              ^}
7962
7963
Regular
7964
Regular
7965
7966
Regular
7967
7968
Regular
7969
7970
7971
Regular
7972
7973
7974
Regular
7975
7976
Regular
7977
7978
Regular
7979
7980
Regular
7981
Regular
7982
Regular
7983
7984
Regular
7985
7986
7987
7988
7989
Regular
7990
Retweeted
7991
7992
7993
Regular
7994
7995
7996
7997
Regular
7998
7999
Regular
8000
8001
Regular
8002
8003
Regular
8004
Regular
8005
Retweeted
8006
8007
8008
Regular
8009
8010
Retweeted
8011
8012
Reply
8013
8014
8015
8016
8017
8018
8019
8020
8021
8022
8023
8024
8025
8026
8027
8028
8029
8030
8031
Retweeted
8032
8033
8034
8035
8036
8037
Reply
8038
Retweeted
8039
8040
8041
8042
8043
8044
Retweeted
8045
8046
8047
8048
8049
8050
8051
8052
8053
8054
8055
8056
8057
8058
8059
8060
8061
8062
8063
Reply
8064
8065
8066
8067
8068
8069
8070
8071
8072
Retweeted
8073
Regular
8074
Reply
8075
8076
8077
8078
8079
8080
8081
8082
8083
8084
Retweeted
8085
8086
8087
8088
8089
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 48 (offset: 47))
"MERGE (e:Entity {Type:"autoID", Name:'Pilgrim's Pride'})"
                                                ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 48 (offset: 47))
"MERGE (e:Entity {Type:"autoID", Name:'Pilgrim's Pride Corp.'})"
                                                ^}
8090
8091
8092
8093
8094
8095
Retweeted
8096
Retweeted
8097
Regular
8098
8099
8100
8101
8102
8103
8104
8105
8106
8107
8108
8109
8110
8111
8112
8113
8114
8115
8116
8117
8118
Regular
8119
8120
8121
8122
Retweeted
8123
8124
8125
8126
8127
8128
8129
8130
8131
8132
8133
Reply
8134
8135
8136
8137
8138
8139
8140
8141
8142
8143
8144
8145
Retweeted
8146
8147
8148
Regular
8149
8150
8151
8152
8153
8154
8155
8156
8157
Reply
8158
8159
8160
8161
Regular
8162
8163
Reply
8164
8165
8166
8167
8168
8169
8170
8171
8172
8173
Regular
8174
8175
8176
8177
Retweeted
8178
8179
8180
8181
8182
8183
8184
8185
Retweeted
8186
8187
8188
8189
8190
8191
8192
8193
8194
8195
8196
8197
8198
8199
8200
8201
8202
8203
8204
8205
8206
8207
8208
Retweeted
8209
8210
8211
8212
8213
Retweeted
8214
8215
8216
8217
8218
8219
8220
8221
8222
8223
8224
8225
8226
8227
8228
Query failed: {code: Neo.DatabaseError.General.UnknownError} {message: Lexical error at line 1, column 67.  Encountered: <EOF> after : ""}
8229
8230
8231
8232
8233
8234
8235
8236
8237
Quote tweet
8238
8239
8240
8241
8242
8243
8244
8245
Regular
8246
8247
8248
Retweeted
8249
8250
8251
8252
8253
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
8254
8255
8256
8257
8258
8259
8260
8261
8262
8263
8264
8265
8266
8267
8268
8269
8270
Regular
8271
8272
Reply
8273
8274
8275
8276
8277
8278
8279
8280
8281
8282
8283
8284
8285
8286
8287
Retweeted
8288
8289
8290
8291
8292
8293
8294
8295
8296
8297
8298
8299
8300
8301
8302
8303
Regular
8304
8305
8306
8307
8308
8309
8310
8311
8312
8313
8314
8315
8316
Retweeted
8317
8318
8319
8320
8321
8322
Quote tweet
8323
Retweeted
8324
8325
8326
8327
8328
Quote tweet
8329
8330
Quote tweet
8331
8332
8333
8334
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
8335
8336
8337
Retweeted
8338
8339
8340
8341
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
8342
8343
8344
8345
Retweeted
8346
8347
8348
Retweeted
8349
8350
8351
8352
Regular
8353
8354
8355
Retweeted
8356
8357
8358
8359
Retweeted
8360
8361
Retweeted
8362
8363
8364
Retweeted
8365
Retweeted
8366
Quote tweet
8367
Regular
8368
Retweeted
8369
8370
Regular
8371
8372
8373
8374
Quote tweet
8375
Retweeted
8376
8377
Reply
8378
Retweeted
8379
8380
8381
8382
8383
8384
8385
8386
8387
8388
Retweeted
8389
8390
Retweeted
8391
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
8392
Regular
8393
8394
8395
Retweeted
8396
Retweeted
8397
8398
8399
8400
8401
8402
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 82 (offset: 81))
"MERGE (e:Entity {Type:"autoID", Name:'the Minnesota State Horticultural Society's'})"
                                                                                  ^}
8403
8404
Retweeted
8405
8406
8407
8408
8409
8410
8411
8412
8413
8414
Reply
8415
8416
Retweeted
8417
8418
8419
8420
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'c': expected 'n/N' (line 1, column 59 (offset: 58))
"MERGE (p:Post {Type:"news", Name:"La fiscalía consideró "acreditado" que los problemas financieros de la empresa que en realidad calificó como "grupo" no fueron súbitos sino que se arrastraba desde hacía unos dos años y fueron ocultados a acreedores financieros y granarios Conglomerado de empresas Acreedores granarios", Date:"2021-10-26T20:35:59.000+0000", Link:"http://examedia.com.ar/post.php?id=40477722", Language:"es", Text:"...suma a otros eventos denunciados, como el caso de ING que fue cobrarse la deuda con activos que Vicentin había cedido a Cargill y que se encontró con que ya habían cedido al fondo de inversión BAF, cercano a la cerealera. Pero las maniobras relacionadas con los contratos de compra venta de granos afectaron directamente a los acreedores comerciales..."})"
                                                           ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'c': expected 'n/N' (line 1, column 127 (offset: 126))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://examedia.com.ar/post.php?id=40477722" AND p.Name = "La fiscalía consideró "acreditado" que los problemas financieros de la empresa que en realidad calificó como "grupo" no fueron súbitos sino que se arrastraba desde hacía unos dos años y fueron ocultados a acreedores financieros y granarios Conglomerado de empresas Acreedores granarios" AND e.Type = "autoID" AND e.Name ="Glencore" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                               ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'c': expected 'n/N' (line 1, column 127 (offset: 126))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://examedia.com.ar/post.php?id=40477722" AND p.Name = "La fiscalía consideró "acreditado" que los problemas financieros de la empresa que en realidad calificó como "grupo" no fueron súbitos sino que se arrastraba desde hacía unos dos años y fueron ocultados a acreedores financieros y granarios Conglomerado de empresas Acreedores granarios" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                               ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'c': expected 'n/N' (line 1, column 127 (offset: 126))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://examedia.com.ar/post.php?id=40477722" AND p.Name = "La fiscalía consideró "acreditado" que los problemas financieros de la empresa que en realidad calificó como "grupo" no fueron súbitos sino que se arrastraba desde hacía unos dos años y fueron ocultados a acreedores financieros y granarios Conglomerado de empresas Acreedores granarios" AND e.Type = "autoID" AND e.Name ="ING" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                               ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'c': expected 'n/N' (line 1, column 127 (offset: 126))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://examedia.com.ar/post.php?id=40477722" AND p.Name = "La fiscalía consideró "acreditado" que los problemas financieros de la empresa que en realidad calificó como "grupo" no fueron súbitos sino que se arrastraba desde hacía unos dos años y fueron ocultados a acreedores financieros y granarios Conglomerado de empresas Acreedores granarios" AND e.Type = "autoID" AND e.Name ="BAF" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                               ^}
8421

8422
8423
8424
8425
8426
Regular
8427
8428
Retweeted
8429
8430
8431
Retweeted
8432
8433
8434
Retweeted
8435
Regular
8436
8437
8438
8439
8440
8441
8442
Regular
8443
8444
8445
8446
8447
Retweeted
8448
8449
Retweeted
8450
Retweeted
8451
Retweeted
8452
8453
8454
8455
8456
8457
8458
8459
8460
8461
8462
8463
8464
8465
8466
8467
8468
8469
Reply
8470
Regular
8471
8472
8473
8474
Retweeted
8475
8476
8477
Retweeted
8478
8479
8480
8481
8482
Retweeted
8483
Retweeted
8484
8485
8486
8487
8488
Retweeted
8489
8490
Regular
8491
8492
8493
8494
8495
8496
8497
8498
8499
8500
Retweeted
8501
Regular
8502
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
8503
8504
8505
Retweeted
8506
8507
8508
8509
8510
8511
Retweeted
8512
8513
8514
8515
8516
8517
8518
8519
8520
8521
Quote tweet
8522
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
8523
8524
8525
Reply
8526
8527
Retweeted
8528
8529
Retweeted
8530
8531
Retweeted
8532
8533
8534
8535
8536
8537
8538
8539
8540
8541
8542
8543
8544
8545
8546
8547
8548
8549
8550
8551
8552
8553
8554
8555
8556
8557
8558
8559
8560
Retweeted
8561
8562
8563
8564
8565
8566
8567
8568
8569
8570
8571
8572
8573
8574
8575
Retweeted
8576
Retweeted
8577
8578
Retweeted
8579
8580
8581
Retweeted
8582
8583
8584
Retweeted
8585
Retweeted
8586
8587
8588
8589
8590
8591
8592
8593
8594
8595
8596
8597
8598
Quote tweet
8599
8600
8601
8602
8603
8604
8605
8606
8607
8608
8609
8610
8611
Retweeted
8612
8613
8614
8615
Retweeted
8616
Regular
8617
8618
8619
8620
8621
8622
8623
8624
8625
8626
8627
8628
8629
8630
8631
8632
8633
8634
Retweeted
8635
8636
8637
8638
8639
Retweeted
8640
8641
Retweeted
8642
8643
Retweeted
8644
8645
8646
8647
Regular
8648
8649
8650
8651
8652
8653
8654
8655
8656
8657
8658
8659
8660
8661
8662
Regular
8663
8664
8665
8666
8667
8668
8669
8670
8671
8672
8673
8674
8675
8676
8677
8678
8679
8680
8681
8682
8683
8684
8685
8686
8687
8688
8689
8690
8691
8692
8693
8694
8695
8696
8697
8698
8699
8700
8701
8702
8703
8704
8705
Retweeted
8706
8707
8708
8709
8710
8711
8712
8713
8714
8715
8716
8717
8718
8719
Retweeted
8720
8721
8722
Regular
8723
8724
8725
8726
8727
8728
8729
8730
8731
8732
8733
8734
8735
8736
8737
8738
8739
8740
8741
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 95 (offset: 94))
"MERGE (p:Post {Type:"news", Name:"Grandes players do agronegócio trazem discussões ao espaço "Time for a Break" do 6º CNMA", Date:"2021-10-26T17:40:57.000+0000", Link:"https://www.portaldoagronegocio.com.br/gestao-rural/gestao/noticias/grandes-players-do-agronegocio-trazem-discussoes-ao-espaco-time-for-a-break-do-6o-cnma", Language:"pt", Text:"Grandes empresas do agronegócio estarão no 6º Congresso Nacional das Mulheres do Agronegócio - CNMA, que ocorre nos dias 25, 26 e 27 de outubro, das 9h às 13h30, em Digital Experience, trazendo temas e cases pertinentes ao setor. As empresas participantes do espaço chamado “Time for a Break” são: Bayer, Horiens, Caterpillar, Bradesco, Cargill..."})"
                                                                                               ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 274 (offset: 273))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.portaldoagronegocio.com.br/gestao-rural/gestao/noticias/grandes-players-do-agronegocio-trazem-discussoes-ao-espaco-time-for-a-break-do-6o-cnma" AND p.Name = "Grandes players do agronegócio trazem discussões ao espaço "Time for a Break" do 6º CNMA" AND e.Type = "autoID" AND e.Name ="Bayer" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                                                  ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 274 (offset: 273))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.portaldoagronegocio.com.br/gestao-rural/gestao/noticias/grandes-players-do-agronegocio-trazem-discussoes-ao-espaco-time-for-a-break-do-6o-cnma" AND p.Name = "Grandes players do agronegócio trazem discussões ao espaço "Time for a Break" do 6º CNMA" AND e.Type = "autoID" AND e.Name ="Caterpillar" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                                                  ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 274 (offset: 273))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.portaldoagronegocio.com.br/gestao-rural/gestao/noticias/grandes-players-do-agronegocio-trazem-discussoes-ao-espaco-time-for-a-break-do-6o-cnma" AND p.Name = "Grandes players do agronegócio trazem discussões ao espaço "Time for a Break" do 6º CNMA" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                                                  ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 274 (offset: 273))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.portaldoagronegocio.com.br/gestao-rural/gestao/noticias/grandes-players-do-agronegocio-trazem-discussoes-ao-espaco-time-for-a-break-do-6o-cnma" AND p.Name = "Grandes players do agronegócio trazem discussões ao espaço "Time for a Break" do 6º CNMA" AND e.Type = "autoID" AND e.Name ="Congresso Nacional das Mulheres do Agronegócio" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                                                  ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 274 (offset: 273))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.portaldoagronegocio.com.br/gestao-rural/gestao/noticias/grandes-players-do-agronegocio-trazem-discussoes-ao-espaco-time-for-a-break-do-6o-cnma" AND p.Name = "Grandes players do agronegócio trazem discussões ao espaço "Time for a Break" do 6º CNMA" AND e.Type = "autoID" AND e.Name ="CNMA" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                                                  ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 274 (offset: 273))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.portaldoagronegocio.com.br/gestao-rural/gestao/noticias/grandes-players-do-agronegocio-trazem-discussoes-ao-espaco-time-for-a-break-do-6o-cnma" AND p.Name = "Grandes players do agronegócio trazem discussões ao espaço "Time for a Break" do 6º CNMA" AND e.Type = "autoID" AND e.Name ="Digital Experience" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                                                  ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 274 (offset: 273))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.portaldoagronegocio.com.br/gestao-rural/gestao/noticias/grandes-players-do-agronegocio-trazem-discussoes-ao-espaco-time-for-a-break-do-6o-cnma" AND p.Name = "Grandes players do agronegócio trazem discussões ao espaço "Time for a Break" do 6º CNMA" AND e.Type = "autoID" AND e.Name ="Horiens" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                                                  ^}

Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'T': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 274 (offset: 273))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.portaldoagronegocio.com.br/gestao-rural/gestao/noticias/grandes-players-do-agronegocio-trazem-discussoes-ao-espaco-time-for-a-break-do-6o-cnma" AND p.Name = "Grandes players do agronegócio trazem discussões ao espaço "Time for a Break" do 6º CNMA" AND e.Type = "autoID" AND e.Name ="Bradesco" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                                                  ^}
8742
8743
8744
8745
Retweeted
8746
8747
8748
8749
8750
8751
8752
8753
8754
8755
8756
8757
8758
8759
8760
8761
8762
Retweeted
8763
8764
8765
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 48 (offset: 47))
"MERGE (e:Entity {Type:"autoID", Name:'Pilgrim's Pride'})"
                                                ^}
8766
8767
8768
8769
8770
8771
8772
8773
8774
8775
8776
8777
Retweeted
8778
8779
8780
8781
8782
8783
Retweeted
8784
8785
8786
8787
8788
Retweeted
8789
8790
8791
8792
8793
8794
8795
8796
8797
8798
8799
8800
8801
8802
8803
8804
8805
8806
8807
8808
8809
8810
8811
8812
8813
8814
8815
8816
8817
8818
8819
8820
8821
8822
8823
8824
8825
8826
8827
8828
8829
8830
8831
8832
8833
8834
8835
8836
8837
Regular
8838
8839
8840
8841
8842
8843
8844
8845
8846
8847
8848
8849
8850
8851
8852
8853
8854
8855
8856
8857
8858
8859
8860
8861
8862
8863
8864
8865
8866
8867
8868
8869
8870
8871
8872
8873
8874
8875
8876
8877
8878
8879
8880
8881
8882
Retweeted
8883
8884
8885
8886
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 48 (offset: 47))
"MERGE (e:Entity {Type:"autoID", Name:'Pilgrim's Pride'})"
                                                ^}
8887
8888
8889
8890
8891
8892
8893
8894
8895
8896
8897
8898
8899
8900
8901
8902
8903
8904
8905
8906
8907
8908
8909
8910
8911
8912
8913
8914
8915
8916
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 48 (offset: 47))
"MERGE (e:Entity {Type:"autoID", Name:'Pilgrim's Pride'})"
                                                ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 48 (offset: 47))
"MERGE (e:Entity {Type:"autoID", Name:'Pilgrim's Pride Corp.'})"
                                                ^}
8917
8918
8919
8920
8921
8922
8923
8924
8925
8926
Reply
8927
8928
8929
8930
8931
8932
8933
8934
8935
8936
8937
8938
Regular
8939
8940
8941
8942
8943
Retweeted
8944
8945
Retweeted
8946
8947
Retweeted
8948
Retweeted
8949
8950
8951
8952
Retweeted
8953
8954
8955
8956
8957
Retweeted
8958
8959
8960
8961
8962
8963
8964
Retweeted
8965
8966
8967
Regular
8968
Retweeted
8969
Regular
8970
8971
Retweeted
8972
8973
8974
8975
8976
Retweeted
8977
8978
8979
8980
Retweeted
8981
8982
Retweeted
8983
8984
8985
8986
8987
8988
Regular
8989
8990
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 78 (offset: 77))
"MERGE (e:Entity {Type:"autoID", Name:'Bloomberg Philanthropies Bloomingdale's'})"
                                                                              ^}
8991
8992
Retweeted
8993
8994
Regular
8995
8996
8997
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ',': expected '\', ''', '"', 'b', 'f', 'n', 'r', 't', UTF16 or UTF32 (line 1, column 37 (offset: 36))
"MATCH (p:Post {ID:"2360759957388726\, Type:"facebookOriginal"}) SET p.Name = "World Food Day", p.Date = "2021-10-16T15:01:17.000+0000", p.Link = "https://www.facebook.com/958164574314945/posts/2360759957388726#channels""
                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 144 (offset: 143))
"MATCH (c:Post), (o:Post) WHERE c.Link = "https://www.facebook.com/2360759957388726#channels_comment_2368704699927585" AND c.Type = "facebook"Reply" AND o.ID = "2360759957388726" AND o.Type = "facebookOriginal" CREATE (c)-[r:REPLIED_TO]->(o)"
                                                                                                                                                ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 199 (offset: 198))
"MATCH (e:Entity), (c:Post) WHERE e.Name = "Cargill" AND e.Type = "FacebookAuthor" AND c.Link = "https://www.facebook.com/2360759957388726#channels_comment_2368704699927585" AND c.Type = "facebook"Reply" CREATE (e)-[r:AUTHORED]->(c)"
                                                                                                                                                                                                       ^}
8998
Retweeted
8999
9000
Retweeted
9001
9002
9003
Retweeted
9004
9005
9006
Regular
9007
9008
9009
9010
Retweeted
9011
9012
9013
9014
9015
9016
9017
9018
9019
9020
Retweeted
9021
9022
9023
Retweeted
9024
9025
Regular
9026
9027
Retweeted
9028
Retweeted
9029
9030
9031
9032
9033
9034
9035
Retweeted
9036
Retweeted
9037
Retweeted
9038
Retweeted
9039
Regular
9040
Regular
9041
Regular
9042
9043
Retweeted
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'H': expected 't/T' or 'e/E' (line 1, column 120 (offset: 119))
"MATCH (e:Entity {ID:"882841492422873088", Type:"TwitterAccount", Name:'FlagBlyth'}) SET e.Description = "1950's born "SHOULD-BE" pensioner   Democratic Socialist 🌹 #IstandWithCorbyn", e.Followers =7053, e.Location = "Northumberland, England", e.Verified = False"
                                                                                                                        ^}
9044
Regular
9045
Retweeted
9046
9047
9048
Regular
9049
9050
9051
9052
Regular
9053
9054
9055
9056
9057
9058
9059
Reply
9060
9061
9062
9063
9064
Retweeted
9065
9066
9067
9068
9069
9070
9071
Retweeted
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'o': expected 't/T' or 'e/E' (line 1, column 110 (offset: 109))
"MATCH (e:Entity {ID:"1194273301377568769", Type:"TwitterAccount", Name:'ricercata1'}) SET e.Description = ""So far as I am concerned they (the Tories) are lower than vermin.""
                                                                                                              ^}
9072
9073
9074
9075
9076
Regular
9077
9078
9079
Retweeted
9080
Retweeted
9081
9082
9083
Retweeted
9084
9085
Regular
9086
Quote tweet
9087
9088
9089
9090
Retweeted
9091
9092
Retweeted
9093
9094
Reply
9095
9096
Retweeted
9097
9098
9099
Retweeted
9100
9101
9102
9103
9104
9105
Retweeted
9106
Retweeted
9107
Retweeted
9108
Regular
9109
9110
9111
Retweeted
9112
Retweeted
9113
Regular
9114
Retweeted
9115
Regular
9116
Retweeted
9117
Retweeted
9118
9119
Retweeted
9120
Retweeted
9121
Regular
9122
Regular
9123
9124
Reply
9125
9126
9127
9128
9129
9130
Regular
9131
Regular
9132
9133
9134
9135
9136
9137
9138
9139
9140
9141
9142
9143
9144
9145
9146
9147
9148
9149
9150
9151
9152
9153
9154
9155
9156
9157
9158
Regular
9159
9160
9161
9162
9163
Reply
9164
9165
9166
9167
Regular
9168
9169
Retweeted
9170
9171
9172
9173
9174
9175
9176
9177
9178
9179
Retweeted
9180
Regular
9181
9182
9183
9184
9185
9186
9187
9188
9189
Retweeted
9190
9191
9192
9193
Retweeted
9194
Retweeted
9195
9196
9197
9198
Regular
9199
9200
9201
9202
9203
9204
9205
9206
9207
9208
9209
9210
9211
9212
9213
9214
Regular
9215
9216
9217
9218

9219
Regular
9220
9221
9222
9223
9224
9225
9226
9227
9228
9229
Reply
9230
Retweeted
9231
9232
9233
9234
9235
Reply
9236
Retweeted
9237
9238
9239
Regular
9240
9241
9242
9243
Reply
9244
9245
9246
9247
9248
Retweeted
9249
9250
9251
9252
9253
9254
9255
Regular
9256
9257
9258
9259
9260
9261
Regular
9262
9263
9264
9265
9266
9267
9268
9269
9270
9271
9272
Retweeted
9273
9274
9275
Reply
9276
Retweeted
9277
9278
9279
9280
9281
9282
9283
9284
9285
9286
9287
9288
9289
9290
9291
9292
Regular
9293
Retweeted
9294
9295
9296
9297
9298
9299
9300
9301
9302
9303
9304
9305
9306
9307
9308
9309
9310
9311
9312
Regular
9313
9314
9315
9316
9317
Retweeted
9318
Regular
9319
9320
9321
9322
9323
9324
9325
9326
9327
9328
9329
9330
9331
9332
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 44 (offset: 43))
"MERGE (e:Entity {Type:"autoID", Name:'Bob's Red Mill Natural Foods'})"
                                            ^}
9333
9334
9335
9336
9337
9338
Retweeted
9339
9340
9341
9342
9343
9344
9345
9346
9347
9348
9349
9350
Reply
9351
9352
Regular
9353
Regular
9354
9355
9356
9357
9358
9359
9360
9361
Retweeted
9362
9363
9364
9365
9366
9367
9368
9369
9370
9371
9372
9373
9374
Regular
9375
9376
9377
9378
9379
Reply
9380
Regular
9381
Quote tweet
9382
9383
9384
9385
9386
9387
9388
Quote tweet
9389
9390
Retweeted
9391
9392
Regular
9393
9394
9395
9396
9397
9398
9399
9400
9401
9402
Reply
9403
Reply
9404
9405
9406
9407
9408
Retweeted
9409
9410
9411
9412
9413
9414
9415
9416
9417
Retweeted
9418
9419
9420
9421
9422
9423
Retweeted
9424
9425
Regular
9426
9427
9428
9429
9430
9431
9432
9433
9434
9435
9436
9437
9438
9439
9440
9441
9442
9443
9444
9445
Reply
9446
9447
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ',': expected '\', ''', '"', 'b', 'f', 'n', 'r', 't', UTF16 or UTF32 (line 1, column 37 (offset: 36))
"MATCH (p:Post {ID:"2360759957388726\, Type:"facebookOriginal"}) SET p.Name = "World Food Day", p.Date = "2021-10-16T15:01:17.000+0000", p.Link = "https://www.facebook.com/958164574314945/posts/2360759957388726#channels""
                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 144 (offset: 143))
"MATCH (c:Post), (o:Post) WHERE c.Link = "https://www.facebook.com/2360759957388726#channels_comment_2368264176638304" AND c.Type = "facebook"Reply" AND o.ID = "2360759957388726" AND o.Type = "facebookOriginal" CREATE (c)-[r:REPLIED_TO]->(o)"
                                                                                                                                                ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 203 (offset: 202))
"MATCH (e:Entity), (c:Post) WHERE e.Name = "Masum Ahmed" AND e.Type = "FacebookAuthor" AND c.Link = "https://www.facebook.com/2360759957388726#channels_comment_2368264176638304" AND c.Type = "facebook"Reply" CREATE (e)-[r:AUTHORED]->(c)"
                                                                                                                                                                                                           ^}
9448
9449
9450
9451
9452
9453
9454
9455
9456
9457
9458
9459
9460
9461
9462
Retweeted
9463
9464
9465
Reply
9466
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ',': expected '\', ''', '"', 'b', 'f', 'n', 'r', 't', UTF16 or UTF32 (line 1, column 37 (offset: 36))
"MATCH (p:Post {ID:"2344965022301553\, Type:"facebookOriginal"}) SET p.Name = "Timeline Photos", p.Date = "2021-09-27T09:26:03.000+0000", p.Link = "https://www.facebook.com/958164574314945/posts/2344965022301553#channels""
                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 144 (offset: 143))
"MATCH (c:Post), (o:Post) WHERE c.Link = "https://www.facebook.com/2344965022301553#channels_comment_2368234029974652" AND c.Type = "facebook"Reply" AND o.ID = "2344965022301553" AND o.Type = "facebookOriginal" CREATE (c)-[r:REPLIED_TO]->(o)"
                                                                                                                                                ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 196 (offset: 195))
"MATCH (e:Entity), (c:Post) WHERE e.Name = "Tris" AND e.Type = "FacebookAuthor" AND c.Link = "https://www.facebook.com/2344965022301553#channels_comment_2368234029974652" AND c.Type = "facebook"Reply" CREATE (e)-[r:AUTHORED]->(c)"
                                                                                                                                                                                                    ^}
9467
9468
9469
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ',': expected '\', ''', '"', 'b', 'f', 'n', 'r', 't', UTF16 or UTF32 (line 1, column 37 (offset: 36))
"MATCH (p:Post {ID:"2345095938955128\, Type:"facebookOriginal"}) SET p.Name = "Timeline Photos", p.Date = "2021-09-27T13:00:04.000+0000", p.Link = "https://www.facebook.com/958164574314945/posts/2345095938955128#channels""
                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 144 (offset: 143))
"MATCH (c:Post), (o:Post) WHERE c.Link = "https://www.facebook.com/2345095938955128#channels_comment_2368232559974799" AND c.Type = "facebook"Reply" AND o.ID = "2345095938955128" AND o.Type = "facebookOriginal" CREATE (c)-[r:REPLIED_TO]->(o)"
                                                                                                                                                ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 196 (offset: 195))
"MATCH (e:Entity), (c:Post) WHERE e.Name = "Tris" AND e.Type = "FacebookAuthor" AND c.Link = "https://www.facebook.com/2345095938955128#channels_comment_2368232559974799" AND c.Type = "facebook"Reply" CREATE (e)-[r:AUTHORED]->(c)"
                                                                                                                                                                                                    ^}
9470
9471
9472
9473
9474
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 52 (offset: 51))
"MERGE (e:Entity {Type:"autoID", Name:'PST Warwick's'})"
                                                    ^}
9475
9476
9477
9478
9479
Retweeted
9480
9481
9482
9483
9484
9485
Regular
9486
Reply
9487
Regular
9488
9489
9490
9491
9492
9493
9494
9495
Quote tweet
9496
Reply
9497
Regular
9498
Regular
9499
Regular
9500
Retweeted
9501
Reply
9502
9503
9504
9505
Quote tweet
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'é': expected 'a/A' or 'e/E' (line 1, column 235 (offset: 234))
"MATCH (e:Entity {ID:"1861363302", Type:"TwitterAccount", Name:'CheMendele'}) SET e.Description = "Prof. de Historia (ISP JVG-CABA) | Mg. en Historia (UNSAM). Trabajo en secundaria, form. docente y universidad. Opiniones personales. "Méndele" es esdrújula.", e.Followers =28809, e.Location = "Fronteras", e.Verified = False"
                                                                                                                                                                                                                                           ^}
9506
Regular
9507
9508
9509
9510
9511
9512
9513
Regular
9514
Quote tweet
9515
9516
9517
9518
9519
9520
Regular
9521
9522
9523
9524
9525
9526
Regular
9527
9528
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}

Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'l': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Land O'lakes Inc'})"
                                              ^}
9529
9530
Regular
9531
9532
9533
Regular
9534
9535
9536
9537
9538
9539
9540
9541
9542
9543
9544
9545
9546
Retweeted
9547
Regular
9548
Retweeted
9549
Reply
9550
Reply
9551
9552
9553
9554
Regular
9555
Reply
9556
Reply
9557
9558
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'N': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 68 (offset: 67))
"MERGE (p:Post {Type:"news", Name:"Cargill Việt Nam được vinh danh "Nơi làm việc tốt nhất Châu Á 2021"", Date:"2021-10-26T00:38:24.000+0000", Link:"https://kinhtethitruong.vn/cargill-viet-nam-duoc-vinh-danh-noi-lam-viec-tot-nhat-chau-a-2021-a87244.html", Language:"vi", Text:"...Thành tựu đến từ những nỗ lực Lấy con người làm trọng Giải thưởng này là sự công nhận cho những thành quả mà Cargill đã phấn đấu nỗ lực hết mình vì nhân viên. Là doanh nghiệp hoạt động trong ngành nông nghiệp, lĩnh vực chiếm tỷ trọng rất lớn trong lực lượng lao động tại Việt Nam, do đó việc được bình chọn là nơi làm việc tốt nhất trong ngành cho..."})"
                                                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'N': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 197 (offset: 196))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://kinhtethitruong.vn/cargill-viet-nam-duoc-vinh-danh-noi-lam-viec-tot-nhat-chau-a-2021-a87244.html" AND p.Name = "Cargill Việt Nam được vinh danh "Nơi làm việc tốt nhất Châu Á 2021"" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                     ^}
9559
9560
9561
9562
9563
9564
9565
9566
Regular
9567
9568
9569
9570
9571
9572
9573
9574
9575
9576
9577
9578
9579
Reply
9580
9581
9582
9583
9584
9585
9586
9587
9588
9589
Reply
9590
9591
9592
9593
Retweeted
9594
Retweeted
9595
Retweeted
9596
9597
9598
Regular
9599
9600
9601
9602
9603
9604
Regular
9605
9606
9607
Reply
9608
9609
9610
Retweeted
9611
9612
9613
Retweeted
9614
9615
9616
9617
9618
9619
9620
Retweeted
9621
9622
9623
9624
9625
9626
9627
9628
9629
Reply
9630
9631
9632
9633
9634
Reply
9635
9636
9637
9638
9639
9640
9641
9642
9643
9644
9645
9646
Regular
9647
9648
9649
9650
9651
9652
Regular
9653
9654
9655
9656
9657
9658
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 48 (offset: 47))
"MERGE (e:Entity {Type:"autoID", Name:'Pilgrim's Pride'})"
                                                ^}
9659
9660
9661
9662
Retweeted
9663
Regular
9664
Regular
9665
Regular
9666
9667
9668
9669
9670
9671
9672
9673
9674
9675
9676
9677
Regular
9678
Retweeted
9679
Reply
9680
Regular
9681
9682
9683
Retweeted
9684
9685
9686
Query failed: {code: Neo.DatabaseError.General.UnknownError} {message: Lexical error at line 1, column 47.  Encountered: <EOF> after : ""}
9687
9688
Reply
9689
9690
9691
9692
9693
Retweeted
9694
9695
9696
9697
Reply
9698
9699
9700
Reply
9701
9702
Retweeted
9703
Regular
9704
9705
9706
9707
Reply
9708
9709
9710
9711
9712
9713
9714
Quote tweet
9715
9716
9717
9718
Regular
9719
9720
9721
9722
Regular
9723
9724
Regular
9725
Regular
9726
Regular
9727
9728
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 51 (offset: 50))
"MERGE (e:Entity {Type:"autoID", Name:'John Deere's'})"
                                                   ^}
9729
Regular
9730
Regular
9731
9732
9733
9734
Regular
9735
9736
9737
9738
Regular
9739
9740
9741
9742
9743
Retweeted
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'h': expected 'i/I' (line 1, column 103 (offset: 102))
"MATCH (e:Entity {ID:"411046193", Type:"TwitterAccount", Name:'whasshappenss'}) SET e.Description = ""When dealing with people,let's remember we're not dealing with creatures of logic.We're dealing with creatures of emotion,prejudices&motivated by pride&vanity"", e.Followers =3874, e.Location = "", e.Verified = False"
                                                                                                       ^}
9744
Retweeted
9745
Retweeted
9746
9747
9748
9749
9750
9751
9752
9753
9754
9755
Retweeted
9756
9757
9758
9759
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 75 (offset: 74))
"MERGE (e:Entity {Type:"autoID", Name:'The Maersk Mc-Kinney Moller Center's'})"
                                                                           ^}
9760
9761
9762
9763
9764
9765
9766
9767
9768
9769
Reply
9770
Retweeted
9771
Quote tweet
9772
9773
9774
Regular
9775
9776
9777
9778
9779
Reply
9780
Reply
9781
Reply
9782
Regular
9783
Regular
9784
9785
Retweeted
9786
9787
9788
Reply
9789
9790
9791
Quote tweet
9792
9793
Regular
9794
Regular
9795
9796
Regular
9797
9798
Retweeted
9799
Regular
9800
9801
Retweeted
9802
9803
9804
9805
Retweeted
9806
9807
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 48 (offset: 47))
"MERGE (e:Entity {Type:"autoID", Name:'Inc Amy's Kitchen'})"
                                                ^}
9808
9809
Retweeted
9810
9811
9812
Regular
9813
9814
9815
9816
9817
9818
9819
9820
9821
Quote tweet
9822
9823
9824
9825
9826
Retweeted
9827
9828
9829
9830
9831
Reply
9832
Reply
9833
Reply
9834
Regular
9835
Reply
9836
9837
Regular
9838
Regular
9839
Regular
9840
9841
9842
9843
9844
9845
9846
9847
9848
9849
9850
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 63 (offset: 62))
"MERGE (e:Entity {Type:"autoID", Name:'Cargill Aqua Nutrition's'})"
                                                               ^}
9851
9852
9853
9854
9855
9856
9857
Retweeted
9858
Regular
9859
9860
9861
Regular
9862
9863
9864
Retweeted
9865
9866
Retweeted
9867
9868
9869
9870
Reply
9871
Reply
9872
9873
Regular
9874
9875
9876
9877
9878
9879
9880
9881
9882
9883
9884
Regular
9885
Reply
9886
Regular
9887
9888
Reply
9889
Retweeted
9890
Regular
9891
Reply
9892
9893
9894
Reply
9895
Reply
9896
Reply
9897
9898
Regular
9899
9900
9901
9902
Reply
9903
Reply
9904
Reply
9905
Reply
9906
Reply
9907
Reply
9908
9909
9910
Reply
9911
Regular
9912
Reply
9913
Retweeted
9914
9915
9916
9917
9918
9919
9920
9921
9922
Reply
9923
9924
9925
9926
Quote tweet
9927
Regular
9928
9929
9930
Retweeted
9931
9932
9933
9934
Retweeted
9935
9936
9937
9938
9939
9940
9941
9942
9943
9944
9945
9946
9947
9948
9949
9950
Regular
9951
9952
9953
Regular
9954
9955
9956
9957
Regular
9958
Regular
9959
9960
9961
Reply
9962
9963
9964
Retweeted
9965
9966
9967
9968
9969
9970
9971
9972
9973
9974
Reply
9975
9976
9977
9978
9979
9980
9981
Retweeted
9982
9983
Retweeted
9984
9985
9986
Retweeted
9987
9988
Retweeted
9989
9990
9991
9992
Regular
9993
9994
9995
9996
Retweeted
9997
9998
Regular
9999
10000
Retweeted
10001
Retweeted
10002
Regular
10003
10004
10005
10006
Retweeted
10007
10008
10009
10010
10011
10012
10013
Retweeted
10014
10015
10016
10017
Quote tweet
10018
10019
Reply
10020
Retweeted
10021
10022
10023
10024
10025
10026
Retweeted
10027
10028
10029
Retweeted
10030
Retweeted
10031
10032
10033
10034

Retweeted
10035
Regular
10036
10037
10038
10039
10040
Retweeted
10041
10042
10043
10044
10045
10046
10047
Retweeted
10048
10049
10050
10051
Retweeted
10052
10053
10054
Retweeted
10055
Reply
10056
Regular
10057
Retweeted
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'v': expected 'n/N' (line 1, column 106 (offset: 105))
"MATCH (e:Entity {ID:"1303805623", Type:"TwitterAccount", Name:'SoybeanTrader88'}) SET e.Description = ""Every now and then say 'What the F*ck'. 'What the F*ck' gives you freedom. Freedom brings opportunity. Opportunity makes your future." Carpe Diem.", e.Followers =205, e.Location = "", e.Verified = False"
                                                                                                          ^}
10058
10059
10060
10061
10062
10063
Retweeted
10064
10065
10066
Regular
10067
Retweeted
10068
Retweeted
10069
Retweeted
10070
10071
10072
10073
10074
10075
10076
10077
10078
10079
Regular
10080
Retweeted
10081
Regular
10082
10083
10084
10085
10086
10087
10088
10089
10090
10091
Reply
10092
Reply
10093
Reply
10094
10095
10096
Retweeted
10097
10098
10099
10100
10101
10102
10103
10104
10105
10106
Regular
10107
Regular
10108
Regular
10109
10110
10111
10112
10113
10114
Quote tweet
10115
Regular
10116
10117
10118
Retweeted
10119
10120
10121
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'e' (line 1, column 56 (offset: 55))
"MERGE (e:Entity {Type:"autoID", Name:'Ingredients L'Andersons Inc'})"
                                                        ^}
10122
10123
10124
Regular
10125
10126
10127
10128
10129
10130
10131
10132
Retweeted
10133
10134
10135
10136
10137
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'Ч': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 66 (offset: 65))
"MERGE (p:Post {Type:"news", Name:"Премьера нового фильма ужасов "Черный телефон"…", Date:"2021-10-25T11:38:42.000+0000", Link:"http://megaobzor.com/Premera-novogo-filma-uzhasov-Chernii-telefon.html", Language:"ru", Text:"Премьера нового фильма ужасов Черный телефон Blumhouse и Universal Pictures выпустили новый трейлер сверхъестественного фильма ужасов «Черный телефон», премьера которого состоится в кинотеатрах по всему миру в начале следующего года с 4 февраля 2022 года. Автор сценария - Дерриксон и К. Роберт Каргилл. Одноименный рассказ Джо Хилла 2004 года. В..."})"
                                                                  ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'Ч': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 161 (offset: 160))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://megaobzor.com/Premera-novogo-filma-uzhasov-Chernii-telefon.html" AND p.Name = "Премьера нового фильма ужасов "Черный телефон"…" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                 ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'Ч': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 161 (offset: 160))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://megaobzor.com/Premera-novogo-filma-uzhasov-Chernii-telefon.html" AND p.Name = "Премьера нового фильма ужасов "Черный телефон"…" AND e.Type = "autoID" AND e.Name ="Blumhouse" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                 ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'Ч': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 161 (offset: 160))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://megaobzor.com/Premera-novogo-filma-uzhasov-Chernii-telefon.html" AND p.Name = "Премьера нового фильма ужасов "Черный телефон"…" AND e.Type = "autoID" AND e.Name ="Universal Pictures" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                 ^}
10138
10139
10140
10141
10142
Regular
10143
Regular
10144
Regular
10145
Regular
10146
Retweeted
10147
Regular
10148
10149
Regular
10150
Regular
10151
10152
10153
Regular
10154
Regular
10155
Regular
10156
Regular
10157
Regular
10158
Retweeted
10159
Regular
10160
10161
Regular
10162
10163
Regular
10164
Regular
10165
Regular
10166
Regular
10167
Regular
10168
Regular
10169
Regular
10170
Regular
10171
10172
Retweeted
10173
Regular
10174
Regular
10175
Regular
10176
10177
10178
Regular
10179
Reply
10180
Regular
10181
Regular
10182
10183
10184
Regular
10185
10186
10187
10188
Regular
10189
Regular
10190
Regular
10191
10192
10193
10194
10195
10196
10197
10198
10199
10200
10201
10202
10203
10204
10205
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 224 (offset: 223))
"MATCH (e:Entity), (c:Post) WHERE e.Name = "Nasir MAHMOOD" AND e.Type = "YouTubeAuthor" AND c.Link = "https://www.youtube.com/watch?v=KprCvjiu14s&lc=UgyiTb3ZZ1QXtRrpn114AaABAg.9TleFwy8w_C9TvGTUNGCrw" AND c.Type = "youtube"Reply" CREATE (e)-[r:AUTHORED]->(c)"
                                                                                                                                                                                                                                ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 50 (offset: 49))
"MERGE (e:Entity {Type:"autoID", Name:'GD Bakshi's'})"
                                                  ^}
10206
Retweeted
10207
10208
10209
10210
10211
10212
10213
Quote tweet
10214
10215
10216
10217
10218
10219
10220
10221
10222
10223
10224
10225
10226
10227
10228
10229
10230
10231
10232
10233
10234
10235
10236
10237
10238
10239
10240
10241
10242
10243
10244
10245
10246
10247
10248
10249
10250
10251
10252
10253
Quote tweet
10254
Retweeted
10255
10256
10257
10258
10259
10260
10261
10262
10263
10264
10265
10266
10267
10268
Retweeted
10269
10270
10271
10272
10273
10274
10275
10276
10277
10278
Retweeted
10279
10280
10281
10282
10283
10284
10285
10286
Regular
10287
Retweeted
10288
10289
10290
10291
10292
10293
10294
10295
10296
10297
Regular
10298
10299
10300
10301
Retweeted
10302
10303
10304
10305
10306
Retweeted
10307
10308
10309
10310
Retweeted
10311
10312
10313
10314
10315
Retweeted
10316
Retweeted
10317
Retweeted
10318
10319
10320
10321
10322
10323
10324
10325
10326
Retweeted
10327
Retweeted
10328
10329
10330
Regular
10331
10332
10333
10334
10335
10336
10337
10338
10339
10340
10341
10342
Reply
10343
10344
10345
Regular
10346
10347
Retweeted
10348
10349
10350
10351
10352
Retweeted
10353
Retweeted
10354
Regular
10355
10356
Retweeted
10357
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 82 (offset: 81))
"MERGE (e:Entity {Type:"autoID", Name:'the Minnesota State Horticultural Society's'})"
                                                                                  ^}

10358
10359
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 82 (offset: 81))
"MERGE (e:Entity {Type:"autoID", Name:'the Minnesota State Horticultural Society's'})"
                                                                                  ^}
10360
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 82 (offset: 81))
"MERGE (e:Entity {Type:"autoID", Name:'the Minnesota State Horticultural Society's'})"
                                                                                  ^}
10361
Retweeted
10362
Retweeted
10363
Retweeted
10364
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 82 (offset: 81))
"MERGE (e:Entity {Type:"autoID", Name:'the Minnesota State Horticultural Society's'})"
                                                                                  ^}
10365
10366
10367
Retweeted
10368
10369
10370
10371
10372
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 82 (offset: 81))
"MERGE (e:Entity {Type:"autoID", Name:'the Minnesota State Horticultural Society's'})"
                                                                                  ^}
10373
10374
10375
Regular
10376
[{'code': 179, 'message': 'Sorry, you are not authorized to see this status.'}]
twitter
failed
10377
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 82 (offset: 81))
"MERGE (e:Entity {Type:"autoID", Name:'the Minnesota State Horticultural Society's'})"
                                                                                  ^}
10378
10379
10380
10381
10382
10383
10384
10385
10386
10387
10388
Regular
10389
10390
10391
10392
10393
10394
10395
10396
10397
10398
10399
10400
Regular
10401
10402
10403
10404
Regular
10405
Regular
10406
10407
10408
Reply
10409
10410
10411
Regular
10412
10413
10414
10415
Retweeted
10416
10417
10418
10419
10420
10421
10422
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 49 (offset: 48))
"MERGE (e:Entity {Type:"autoID", Name:'Children's Health Defense'})"
                                                 ^}
10423
10424
10425
10426
10427
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
10428
Regular
10429
Reply
10430
10431
10432
10433
10434
10435
Reply
10436
10437
10438
Retweeted
10439
10440
10441
Regular
10442
10443
10444
10445
10446
10447
10448
10449
10450
10451
Retweeted
10452
Retweeted
10453
10454
10455
10456
10457
Retweeted
10458
10459
Retweeted
10460
10461
10462
10463
10464
10465
10466
10467
10468
10469
10470
10471
10472
Retweeted
10473
10474
10475
10476
10477
10478
10479
10480
10481
10482
10483
10484
10485
10486
Regular
10487
Reply
10488
10489
10490
Regular
10491
10492
10493
10494
10495
10496
10497
10498
10499
10500
10501
Regular
10502
10503
Reply
10504
10505
10506
Retweeted
10507
10508
10509
10510
10511
10512
Reply
10513
10514
10515
10516
Regular
10517
10518
10519
10520
10521
10522
10523
10524
10525
10526
10527
10528
10529
10530
10531
10532
10533
Regular
10534
10535
10536
10537
10538
10539
10540
10541
10542
10543
10544
10545
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'K': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Eric O'Keefe'})"
                                              ^}
10546
10547
Retweeted
10548
Retweeted
10549
10550
Retweeted
10551
10552
10553
Regular
10554
10555
10556
10557
10558
10559
Reply
10560
10561
10562
Regular
10563
10564
10565
10566
10567
10568
10569
10570
10571
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
10572
10573
10574
10575
10576
10577
10578
10579
10580
10581
10582
10583
Retweeted
10584
10585
10586
Reply
10587
Regular
10588
10589
Retweeted
10590
10591
10592
10593
10594
10595
10596
Regular
10597
Regular
10598
10599
10600
10601
Regular
10602
10603
10604
Reply
10605
10606
10607
10608
10609
Reply
10610
10611
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 49 (offset: 48))
"MERGE (e:Entity {Type:"autoID", Name:'Children's Health Defense'})"
                                                 ^}
10612
Reply
10613
10614
10615
10616
10617
10618
10619
10620
10621
10622
[{'code': 63, 'message': 'User has been suspended.'}]
twitter
failed
10623
10624
10625
10626
Reply
10627
Reply
10628
10629
10630
10631
10632
10633
10634
10635
10636
10637
10638
10639
Retweeted
10640
Regular
10641
10642
Retweeted
10643
10644
Regular
10645
10646
10647
10648
10649
10650
10651
10652
10653
10654
10655
Retweeted
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'P': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',', FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 179 (offset: 178))
"MATCH (e:Entity {ID:"1216489546231304195", Type:"TwitterAccount", Name:'patriciahache1'}) SET e.Description = "Habito la Patria Grande. Soy antimperialista. Lo dijo José Martí: "Patria es Humanidad".", e.Followers =779, e.Location = "", e.Verified = False"
                                                                                                                                                                                   ^}
10656
Quote tweet
10657
Reply
10658
10659
10660
Quote tweet
10661
10662
Quote tweet
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'l': expected 'n/N' (line 2, column 13 (offset: 148))
"Unidas en "el ASILO de la IGNORANCIA"", e.Followers =2046, e.Location = "General Villegas", e.Verified = False"
             ^}
10663
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
10664
10665
10666
10667
10668
10669
10670
Retweeted
10671
10672
10673
10674
Reply
10675
10676
10677
10678
10679
10680
10681
10682
10683
Retweeted
10684
10685
10686
10687
Retweeted
10688
Regular
10689
10690
10691
10692
10693
10694
10695
10696
10697
Regular
10698
Regular
10699
10700
10701
10702
10703
10704
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'K': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Eric O'Keefe'})"
                                              ^}
10705
10706

10707
10708
Reply
10709
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 49 (offset: 48))
"MERGE (e:Entity {Type:"autoID", Name:'HELATONY'S SAC LECHE'})"
                                                 ^}
10710
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'GOYOS'S SRL'})"
                                              ^}
10711
10712
10713
10714
10715
10716
Retweeted
10717
Regular
10718
Retweeted
10719
10720
10721
Quote tweet
10722
Reply
10723
10724
Reply
10725
Regular
10726
10727
10728
10729
10730
10731
10732
Reply
10733
10734
10735
Reply
10736
Retweeted
10737
10738
Retweeted
10739
Retweeted
10740
Retweeted
10741
Reply
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'l': expected 'n/N' (line 1, column 110 (offset: 109))
"MATCH (e:Entity {ID:"984037573810155520", Type:"TwitterAccount", Name:'RiegoPineda'}) SET e.Description = ""El ojo que ves no es"
                                                                                                              ^}
10742
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 44 (offset: 43))
"MERGE (e:Entity {Type:"autoID", Name:'ASW's'})"
                                            ^}
10743
Regular
10744
10745
10746
10747
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 50 (offset: 49))
"MERGE (e:Entity {Type:"autoID", Name:'Win Dixie's'})"
                                                  ^}
10748
10749
10750
10751
10752
10753
10754
Regular
10755
10756
Retweeted
10757
Retweeted
10758
10759
10760
10761
10762
10763
10764
10765
Retweeted
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',', FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 116 (offset: 115))
"MATCH (e:Entity {ID:"155023985", Type:"TwitterAccount", Name:'carlosetchepare'}) SET e.Description = "No quiero q "pienses como yo", solo pretendo q PIENSES y no t dejes llevar por las opiniones d otros, ni el fanatismo. Con eso seremos una sociedad mejor", e.Followers =28526, e.Location = "Acá", e.Verified = False"
                                                                                                                    ^}
10766
10767
10768
10769
Regular
10770
10771
10772
10773
10774
10775
10776
10777
10778
Retweeted
10779
10780
10781
10782
10783
10784
10785
10786
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'B': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 135 (offset: 134))
"MERGE (p:Post {Type:"news", Name:"Punjab Kesari helo PunjabKesari.in हमें खेद हैं कि आप opt-out कर चुके हैं। लेकिन, अगर आपने गलती से "Block" सिलेक्ट", Date:"2021-10-24T19:01:15.000+0000", Link:"https://himachal.punjabkesari.in/himachal-pradesh/news/himachal-mountains-covered-with-snow-cover-rohtang-pass-closed-for-tourists-1478942", Language:"hi", Text:"...पहाड़ियों, मयाड़ घाटी, घेपन पीक, लेड़ी आफ केलंग, कुंजुम जोत, दारचा की पहाड़ियों, शिला पीक, बढ़ा व छोटा शिंगरी ग्लेशियर व नील कंठ जोत सहित समस्त ऊंची चोटियों में बर्फ के फाहे गिर रहे हैं। लाहुल स्पीति में समय से पहले की बर्फबारी से सेब की फसल को नुकसान होने की आशंका बढ़ गई है। कई सड़कें अभी भी अवरुद्ध है। मनाली-लेह मार्ग सहित मनाली काजा, मनाली शिंकुला कारगिल..."})"
                                                                                                                                       ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'B': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 298 (offset: 297))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://himachal.punjabkesari.in/himachal-pradesh/news/himachal-mountains-covered-with-snow-cover-rohtang-pass-closed-for-tourists-1478942" AND p.Name = "Punjab Kesari helo PunjabKesari.in हमें खेद हैं कि आप opt-out कर चुके हैं। लेकिन, अगर आपने गलती से "Block" सिलेक्ट" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                                                                          ^}
10787
10788
10789
10790
Reply
10791
10792
Regular
10793
10794
10795
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
10796
10797
Retweeted
10798
10799
10800
10801
10802
Retweeted
10803
10804
10805
Reply
10806
10807
Retweeted
10808
Reply
10809
10810
10811
10812
Regular
10813
10814
10815
Reply
10816
10817
Reply
10818
10819
10820
10821
10822
10823
10824
10825
10826
10827
Reply
10828
10829
10830
10831
10832
10833
10834
10835
10836
10837
Regular
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 60 (offset: 59))
"MERGE (e:Entity {Type:"autoID", Name:'Cargill Corporation's'})"
                                                            ^}
10838
10839
10840
10841
10842
10843
10844
10845
10846
10847
Regular
10848
10849
10850
10851
10852
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 50 (offset: 49))
"MERGE (e:Entity {Type:"autoID", Name:'W. Barker's'})"
                                                  ^}
10853
10854
10855
10856
10857
10858
10859
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
10860
10861
10862
10863
10864
10865
10866
10867
Retweeted
10868
10869
10870
10871
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 48 (offset: 47))
"MERGE (e:Entity {Type:"autoID", Name:'Pilgrim's Pride'})"
                                                ^}
10872
Retweeted
10873
Retweeted
10874
10875
10876
10877
10878
10879
10880
10881
10882
10883
10884
Reply
10885
10886
10887
Reply
10888
Reply
10889
Retweeted
10890
Regular
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 49 (offset: 48))
"MERGE (e:Entity {Type:"autoID", Name:'McDonald's'})"
                                                 ^}
10891
10892
10893
10894
10895
Regular
10896
10897
10898
10899
Quote tweet
10900
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'm': expected 'n/N' or 's/S' (line 1, column 71 (offset: 70))
"MERGE (p:Post {Type:"news", Name:"Diligent Holdings: Πούλησε όλα τα "Imabari 28" bulk carriers του στόλου της - maritimes.gr", Date:"2021-10-24T14:38:21.000+0000", Link:"http://www.maritimes.gr/el/nautilia/pontoporos/42485-diligent-holdings-poylhse-ola-ta-imabari-28-bulk-carriers-toy-stoloy-ths", Language:"el", Text:"...Norden, Cargill ämp; Bunge. Εκτός των άλλων, η ναυτιλιακή εταιρεία τους τελευταίους 18 μήνες έκανε μια προσπάθεια προσλήψεων στα κεντρικά γραφεία της εταιρείας και πλέον διαθέτει νέο προσωπικό από τη Γερμανία και τη Σιγκαπούρη, το καθένα ξεχωριστά επιλεγμένο για να καλύψει την αυξανόμενη παρουσία της εταιρείας στον κλάδο του χύδην ξηρού φορτίου..."})"
                                                                       ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'm': expected 'n/N' or 's/S' (line 1, column 221 (offset: 220))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.maritimes.gr/el/nautilia/pontoporos/42485-diligent-holdings-poylhse-ola-ta-imabari-28-bulk-carriers-toy-stoloy-ths" AND p.Name = "Diligent Holdings: Πούλησε όλα τα "Imabari 28" bulk carriers του στόλου της - maritimes.gr" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                             ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'm': expected 'n/N' or 's/S' (line 1, column 221 (offset: 220))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.maritimes.gr/el/nautilia/pontoporos/42485-diligent-holdings-poylhse-ola-ta-imabari-28-bulk-carriers-toy-stoloy-ths" AND p.Name = "Diligent Holdings: Πούλησε όλα τα "Imabari 28" bulk carriers του στόλου της - maritimes.gr" AND e.Type = "autoID" AND e.Name ="Bunge" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                             ^}
10901

10902
10903
10904
Retweeted
10905
10906
10907
10908
10909
10910
Retweeted
10911
Retweeted
10912
10913
Retweeted
10914
Retweeted
10915
Reply
10916
Quote tweet
10917
10918
10919
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 58 (offset: 57))
"MERGE (p:Post {Type:"news", Name:"El narcosecuestro que "Guille" Cantero organizó desde la cárcel y que puede ampliar su condena de 86 años y medio de prisión", Date:"2021-10-24T13:46:48.000+0000", Link:"http://www.clarin.com/policiales/narcosecuestro-guille-cantero-organizo-carcel-puede-ampliar-condena-86-anos-medio-prision_0_xE0KqARFl.html", Language:"es", Text:"...trabajaron para concretar el secuestro, que finalmente materializaron cuatro personas. Franco M. estuvo retenido dos horas en una vivienda de la localidad de Villa Gobernador Gálvez, al sur del Gran Rosario. El rescate se pagó en inmediaciones del Puente Cargill, de esa localidad. Durante la negociación con los captores el ministerio de Seguridad de Santa..."})"
                                                          ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 222 (offset: 221))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.clarin.com/policiales/narcosecuestro-guille-cantero-organizo-carcel-puede-ampliar-condena-86-anos-medio-prision_0_xE0KqARFl.html" AND p.Name = "El narcosecuestro que "Guille" Cantero organizó desde la cárcel y que puede ampliar su condena de 86 años y medio de prisión" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 222 (offset: 221))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.clarin.com/policiales/narcosecuestro-guille-cantero-organizo-carcel-puede-ampliar-condena-86-anos-medio-prision_0_xE0KqARFl.html" AND p.Name = "El narcosecuestro que "Guille" Cantero organizó desde la cárcel y que puede ampliar su condena de 86 años y medio de prisión" AND e.Type = "autoID" AND e.Name ="Facebook" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                              ^}
10920
10921
10922
10923
Retweeted
10924
Retweeted
10925
Reply
10926
10927
10928
10929
10930
Regular
10931
10932
10933
10934
10935
Regular
10936
Regular
10937
Reply
10938
Regular
10939
10940
10941
10942
Regular
10943
10944
10945
Regular
10946
Retweeted
10947
Regular
10948
10949
Reply
10950
10951
10952
10953
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'f': expected 'n/N' or 's/S' (line 1, column 87 (offset: 86))
"MERGE (p:Post {Type:"forum", Name:"(11862601) You know that line about racists, how "if this is what they say in public, imagine what they say in private?" Well, it looks like we may soon be finding out", Date:"2021-10-24T12:27:00.000+0000", Link:"https://www.fark.com/comments/11862601/143082139#c143082139#f0d3beedf9fd4e0f22bf5a8fcec979cc", Language:"en", Text:"Mr. Shabooboo : roddikinsathome: So a Reverse Butina. That involves a bowling ball, a 5lb block of Swiss cheese, and three badgers right? You forgot the rabid squirrel and 2 chipmunks wearing clown shoes."
                                                                                       ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 52 (offset: 51))
"MERGE (e:Entity {Type:"autoID", Name:'Troy Aikman's'})"
                                                    ^}
10954
10955
10956
10957
Regular
10958
10959
Regular
10960
Regular
10961
Retweeted
10962
10963
10964
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'f': expected 'n/N' or 's/S' (line 1, column 87 (offset: 86))
"MERGE (p:Post {Type:"forum", Name:"(11862601) You know that line about racists, how "if this is what they say in public, imagine what they say in private?" Well, it looks like we may soon be finding out", Date:"2021-10-24T11:56:00.000+0000", Link:"https://www.fark.com/comments/11862601/143081206#c143081206#5d2d330ac030fc8468b7088ae01a06b3", Language:"en", Text:"Mr. Shabooboo : roddikinsathome: So a Reverse Butina. That involves a bowling ball, a 5lb block of Swiss cheese, and three badgers right? You forgot the rabid squirrel and 2 chipmunks wearing clown shoes."
                                                                                       ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 37 (offset: 36))
"MERGE (e:Entity {Name:'Troy Aikman's Giant Thumbs', Type:"ForumAuthor"})"
                                     ^}
10965
10966
10967
Reply
10968
10969
10970
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
10971
10972
10973
10974
Query failed: {code: Neo.DatabaseError.General.UnknownError} {message: Lexical error at line 1, column 44.  Encountered: <EOF> after : ""}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '相': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 43 (offset: 42))
"MERGE (e:Entity {Type:"autoID", Name:'九二四'相'})"
                                           ^}
10975
10976
10977
10978
10979
Retweeted
10980
10981
Retweeted
10982
10983
Regular
10984
10985
10986
Retweeted
10987
Regular
10988
10989
10990
10991
10992
10993
10994
10995
Regular
10996
10997
10998
Reply
10999
11000
Regular
11001
11002
Regular
11003
11004
11005
11006
Retweeted
11007
11008
11009
Retweeted
11010
11011
Retweeted
11012
11013
Retweeted
11014
11015
11016
11017
Retweeted
11018
11019
Retweeted
11020
11021
11022
11023
Retweeted
11024
11025
11026
Retweeted
11027
11028
Regular
11029
11030
11031
11032
11033
11034
Regular
11035
11036
11037
11038
11039
Retweeted
11040
11041
11042
11043
11044
Regular
11045
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'm': expected 'n/N' or 's/S' (line 1, column 71 (offset: 70))
"MERGE (p:Post {Type:"news", Name:"Diligent Holdings: Πούλησε όλα τα "Imabari 28" bulk carriers του στόλου της", Date:"2021-10-24T07:58:07.000+0000", Link:"https://www.maritimes.gr/el/nautilia/pontoporos/42485-diligent-holdings-poylhse-ola-ta-imabari-28-bulk-carriers-toy-stoloy-ths", Language:"el", Text:"...Λονδίνου, τους αποκλειστικούς πλέον μεσίτες της DΗ. Ενώ να σημειωθεί ότι η DΗ συνεργάζεται τώρα με ναυλωτές όπως οι Norden, Cargill & Bunge. Εκτός των άλλων, η ναυτιλιακή εταιρεία τους τελευταίους 18 μήνες έκανε μια προσπάθεια προσλήψεων στα κεντρικά γραφεία της εταιρείας και πλέον διαθέτει νέο προσωπικό από τη Γερμανία και τη Σιγκαπούρη, το καθένα..."})"
                                                                       ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'm': expected 'n/N' or 's/S' (line 1, column 222 (offset: 221))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.maritimes.gr/el/nautilia/pontoporos/42485-diligent-holdings-poylhse-ola-ta-imabari-28-bulk-carriers-toy-stoloy-ths" AND p.Name = "Diligent Holdings: Πούλησε όλα τα "Imabari 28" bulk carriers του στόλου της" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'm': expected 'n/N' or 's/S' (line 1, column 222 (offset: 221))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.maritimes.gr/el/nautilia/pontoporos/42485-diligent-holdings-poylhse-ola-ta-imabari-28-bulk-carriers-toy-stoloy-ths" AND p.Name = "Diligent Holdings: Πούλησε όλα τα "Imabari 28" bulk carriers του στόλου της" AND e.Type = "autoID" AND e.Name ="Bunge" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                              ^}
11046

11047
11048
11049
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 54 (offset: 53))
"MERGE (e:Entity {Type:"autoID", Name:'Green & Black's – Cargill – Cadbury'})"
                                                      ^}
11050
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
11051
Regular
11052
Retweeted
11053
11054
11055
11056
11057
11058
11059
11060
11061
Retweeted
11062
Reply
11063
Retweeted
11064
11065
Regular
11066
11067
Regular
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'N': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',', FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 146 (offset: 145))
"MATCH (e:Entity {ID:"1408156132527329280", Type:"TwitterAccount", Name:'Nuts_and_Star_'}) SET e.Description = "JR蒲田駅西口 徒歩5分 Amusement Poker Bar "Nuts&Star"🃏 営業時間18:00~24:00 03-6428-6553 中の人→ @xkotasanx @shooohey", e.Followers =1098, e.Location = "東京都大田区西蒲田5-27-17 陳ビル2F", e.Verified = False"
                                                                                                                                                  ^}
11068
11069
Retweeted
11070
Retweeted
11071
11072
11073
11074
Retweeted
11075
11076
11077
Retweeted
11078
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
11079
11080
11081
Retweeted
11082
11083
11084
11085
11086
Retweeted
11087
11088
Reply
11089
11090
Retweeted
11091
11092
11093
11094
11095
Reply
11096
11097
11098
11099
11100
11101
11102
11103
Reply
11104
11105
11106
Retweeted
11107
Retweeted
11108
11109
11110
11111
11112
11113
11114
11115
11116
Retweeted
11117
Reply
11118
11119
11120
Regular
11121
11122
11123
11124
Reply
11125
11126
11127
11128
Reply
11129
11130
Retweeted
11131
11132
Retweeted
11133
11134
Reply
11135
11136
Retweeted
11137
11138
Retweeted
11139
11140
11141
11142
11143
11144
11145
Regular
11146
11147
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'd' (line 1, column 130 (offset: 129))
"MERGE (p:Post {Type:"blog", Name:"Industrial jobs often pay higher wages than service jobs. I just used the job search spider "Indeed" to list jobs in several areas in Minnesota and Iowa. There are plenty of assembler, operator, material handler and other positions with established compani...", Date:"2021-10-24T02:58:44.000+0000", Link:"https://www.powerlineblog.com/archives/2021/10/help-wanted-4.php#comment-5582324596", Language:"en", Text:"Industrial jobs often pay higher wages than service jobs. I just used the job search spider Indeed to list jobs in several areas in Minnesota and Iowa. There are plenty of assembler, operator, material handler and other positions with established companies such as Marvin, Polaris, AGCO and Toro in outstate Minnesota. Across the border in Iowa, large companies such as Polaris, Cargill, Kraft Heinz, Assa Abloy, Land O'Lakes and others are hiring. Posted wages range from $17 to $23 or so per hour for these jobs. Cost of living, particularly housing, can be quite reasonable in outstate Minnesota and in Iowa. I wish your son good luck with moving up the wage and job responsibility totem pole!"})"
                                                                                                                                  ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'd' (line 1, column 238 (offset: 237))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.powerlineblog.com/archives/2021/10/help-wanted-4.php#comment-5582324596" AND p.Name = "Industrial jobs often pay higher wages than service jobs. I just used the job search spider "Indeed" to list jobs in several areas in Minnesota and Iowa. There are plenty of assembler, operator, material handler and other positions with established compani..." AND e.Type = "autoID" AND e.Name ="Kraft Heinz" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'd' (line 1, column 238 (offset: 237))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.powerlineblog.com/archives/2021/10/help-wanted-4.php#comment-5582324596" AND p.Name = "Industrial jobs often pay higher wages than service jobs. I just used the job search spider "Indeed" to list jobs in several areas in Minnesota and Iowa. There are plenty of assembler, operator, material handler and other positions with established compani..." AND e.Type = "autoID" AND e.Name ="AGCO" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'd' (line 1, column 238 (offset: 237))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.powerlineblog.com/archives/2021/10/help-wanted-4.php#comment-5582324596" AND p.Name = "Industrial jobs often pay higher wages than service jobs. I just used the job search spider "Indeed" to list jobs in several areas in Minnesota and Iowa. There are plenty of assembler, operator, material handler and other positions with established compani..." AND e.Type = "autoID" AND e.Name ="Land O' Lakes" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'd' (line 1, column 238 (offset: 237))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.powerlineblog.com/archives/2021/10/help-wanted-4.php#comment-5582324596" AND p.Name = "Industrial jobs often pay higher wages than service jobs. I just used the job search spider "Indeed" to list jobs in several areas in Minnesota and Iowa. There are plenty of assembler, operator, material handler and other positions with established compani..." AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'd' (line 1, column 238 (offset: 237))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.powerlineblog.com/archives/2021/10/help-wanted-4.php#comment-5582324596" AND p.Name = "Industrial jobs often pay higher wages than service jobs. I just used the job search spider "Indeed" to list jobs in several areas in Minnesota and Iowa. There are plenty of assembler, operator, material handler and other positions with established compani..." AND e.Type = "autoID" AND e.Name ="Marvin" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'd' (line 1, column 238 (offset: 237))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.powerlineblog.com/archives/2021/10/help-wanted-4.php#comment-5582324596" AND p.Name = "Industrial jobs often pay higher wages than service jobs. I just used the job search spider "Indeed" to list jobs in several areas in Minnesota and Iowa. There are plenty of assembler, operator, material handler and other positions with established compani..." AND e.Type = "autoID" AND e.Name ="Polaris" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'd' (line 1, column 238 (offset: 237))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.powerlineblog.com/archives/2021/10/help-wanted-4.php#comment-5582324596" AND p.Name = "Industrial jobs often pay higher wages than service jobs. I just used the job search spider "Indeed" to list jobs in several areas in Minnesota and Iowa. There are plenty of assembler, operator, material handler and other positions with established compani..." AND e.Type = "autoID" AND e.Name ="Toro" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                              ^}

Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'd' (line 1, column 238 (offset: 237))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.powerlineblog.com/archives/2021/10/help-wanted-4.php#comment-5582324596" AND p.Name = "Industrial jobs often pay higher wages than service jobs. I just used the job search spider "Indeed" to list jobs in several areas in Minnesota and Iowa. There are plenty of assembler, operator, material handler and other positions with established compani..." AND e.Type = "autoID" AND e.Name ="Assa Abloy" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Land O'Lakes'})"
                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'd' (line 1, column 238 (offset: 237))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.powerlineblog.com/archives/2021/10/help-wanted-4.php#comment-5582324596" AND p.Name = "Industrial jobs often pay higher wages than service jobs. I just used the job search spider "Indeed" to list jobs in several areas in Minnesota and Iowa. There are plenty of assembler, operator, material handler and other positions with established compani..." AND e.Type = "autoID" AND e.Name ="Land O'Lakes" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                              ^}
11148
11149
11150
Reply
11151
Retweeted
11152
11153
Quote tweet
11154
11155
Quote tweet
11156
11157
11158
11159
11160
Retweeted
11161
11162
11163
Regular
11164
Retweeted
11165
11166
Retweeted
11167
11168
11169
11170
11171
Reply
11172
11173
Regular
11174
Reply
11175
11176
11177
Reply
11178
Retweeted
11179
Reply
11180
Retweeted
11181
11182
11183
11184
11185
11186
11187
Regular
11188
11189
11190
11191
11192
11193
Retweeted
11194
11195
11196
Reply
11197
11198
11199
Regular
11200
Reply
11201
11202
11203
11204
11205
11206
Regular
11207
11208
Regular
11209
11210
11211
11212
Retweeted
11213
11214
11215
11216
Regular
11217
11218
Retweeted
11219
11220
11221
11222
11223
11224
Regular
11225
11226
11227
11228
11229
11230
Retweeted
11231
11232
11233
11234
11235
11236
11237
11238
11239
Retweeted
11240
11241
11242
11243
Reply
11244
11245
11246
11247
Retweeted
11248
11249
11250
11251
11252
Regular
11253
11254
Reply
11255
11256
11257
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 63 (offset: 62))
"MERGE (p:Post {Type:"news", Name:"Piden procesar al líder de "Los Monos" por el secuestro del hijo de un empresario | EL TERRITORIO noticias de Misiones.", Date:"2021-10-23T21:46:48.000+0000", Link:"http://www.elterritorio.com.ar/noticias/2021/10/23/724858-piden-procesar-al-lider-de-los-monos-por-el-secuestro-del-hijo-de-un-empresario", Language:"es", Text:"...inmediaciones del Puente Cargill, de esa localidad, el joven fue liberado con algunos cortes y fracturas que le provocaron durante el cautiverio. En base a la pesquisa, los fiscales requirieron para Cantero, nueve hombres y tres mujeres el procesamiento por los delitos de secuestro extorsivo agravado por haberse cobrado el rescate exigido, por haberle..."})"
                                                               ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 's': expected 'a/A' (line 1, column 227 (offset: 226))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.elterritorio.com.ar/noticias/2021/10/23/724858-piden-procesar-al-lider-de-los-monos-por-el-secuestro-del-hijo-de-un-empresario" AND p.Name = "Piden procesar al líder de "Los Monos" por el secuestro del hijo de un empresario | EL TERRITORIO noticias de Misiones." AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                   ^}
11258
11259
11260
11261
11262
Regular
11263
11264
11265
11266
11267
11268
11269
11270
11271
11272
11273
11274
11275
11276
11277
11278
11279
Retweeted
11280
11281
11282
11283
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
11284
Regular
11285
11286
11287
11288
11289
11290
Reply
11291
Regular
11292
11293
11294
11295
11296
11297
11298
11299
11300
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'd': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 44 (offset: 43))
"MERGE (e:Entity {Type:"autoID", Name:'FIRE'd'})"
                                            ^}
11301
11302
11303
11304
11305
11306
11307
Retweeted
11308
11309
11310
11311
Retweeted
11312
11313
11314
11315
11316
Retweeted
11317
11318
11319
11320
11321
11322
11323
11324
11325
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 225 (offset: 224))
"MATCH (e:Entity), (c:Post) WHERE e.Name = "Lyonel Laverde" AND e.Type = "YouTubeAuthor" AND c.Link = "https://www.youtube.com/watch?v=WAUUgxQPwM0&lc=UgwDt0syLN-AaR0HhEJ4AaABAg.9TpQU1_OsPZ9Tqzf3EVB0J" AND c.Type = "youtube"Reply" CREATE (e)-[r:AUTHORED]->(c)"
                                                                                                                                                                                                                                 ^}
11326
11327
Reply
11328
Retweeted
11329
11330
11331
Regular
11332
Regular
11333
11334
11335
11336
11337
Retweeted
11338
Regular
11339
Retweeted
11340
11341
Retweeted
11342
Reply
11343
11344
Retweeted
11345
11346
11347
Regular
11348
11349
Regular
11350
11351
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 46 (offset: 45))
"MERGE (e:Entity {Type:"autoID", Name:'Merya's Lecithin'})"
                                              ^}
11352
11353
11354
Regular
11355
11356
11357
11358
11359
11360
Reply
11361
Regular
11362
11363
11364
11365
11366
Retweeted
11367
Quote tweet
11368
11369
11370
11371
11372
11373
Regular
11374
11375
11376
11377
11378
Regular
11379
11380
11381
11382
11383
11384
Regular
11385
11386
11387
11388
Reply
11389
11390
11391
11392
11393
11394
11395
Regular
11396
Retweeted
11397
11398
11399
11400
11401
11402
Reply
11403
Regular
11404
11405
11406
11407
11408
11409
11410
11411
11412
11413
11414
Retweeted
11415
Regular
11416
11417
11418
11419
11420
Retweeted
11421
Regular
11422
Regular
11423
Regular
11424
11425
11426
Regular
11427
Regular
11428
Retweeted
11429
11430
11431
11432
11433
11434
11435
11436
11437
11438
11439
Regular
11440
11441
11442
11443
11444
11445
Retweeted
11446
11447
11448
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 41 (offset: 40))
"MERGE (e:Entity {Type:"autoID", Name:'A'Lisa'})"
                                         ^}
11449
11450

11451
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 26 (offset: 25))
"MERGE (e:Entity {Name:'A'Lisa', Type:"ForumAuthor"})"
                          ^}
11452
11453
11454
11455
11456
11457
Regular
11458
11459
11460
11461
11462
Regular
11463
11464
11465
11466
11467
Reply
11468
11469
11470
11471
11472
11473
Regular
11474
Regular
11475
11476
11477
11478
11479
11480
Retweeted
11481
11482
11483
11484
11485
11486
11487
Retweeted
11488
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 63 (offset: 62))
"MERGE (p:Post {Type:"news", Name:"Piden procesar al líder de "Los Monos" por el secuestro del hijo de un empresario", Date:"2021-10-23T14:29:37.000+0000", Link:"http://www.santafeactual.com/2021/10/piden-procesar-al-lider-de-los-monos.html", Language:"es", Text:"..., viste la foto que te mandé, le voy a mandar un dedo”, la amenazaron después. Tras el pago de 10 mil dólares y joyas que fueron entregadas en inmediaciones del Puente Cargill, de esa localidad, el joven fue liberado con algunos cortes y fracturas que le provocaron durante el cautiverio. En base a la pesquisa, los fiscales requirieron para Cantero..."})"
                                                               ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 's': expected 'a/A' (line 1, column 168 (offset: 167))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.santafeactual.com/2021/10/piden-procesar-al-lider-de-los-monos.html" AND p.Name = "Piden procesar al líder de "Los Monos" por el secuestro del hijo de un empresario" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                        ^}
11489
11490
11491
Quote tweet
11492
Quote tweet
11493
Regular
11494
11495
Regular
11496
Retweeted
11497
11498
11499
Regular
11500
11501
Regular
11502
11503
Regular
11504
11505
11506
11507
11508
11509
Regular
11510
11511
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 63 (offset: 62))
"MERGE (p:Post {Type:"news", Name:"Piden procesar al líder de "Los Monos" por el secuestro del hijo de un empresario", Date:"2021-10-23T13:53:40.000+0000", Link:"https://www.elterritorio.com.ar/noticias/2021/10/23/724858-piden-procesar-al-lider-de-los-monos-por-el-secuestro-del-hijo-de-un-empresario", Language:"es", Text:"...hijo, viste la foto que te mandé, le voy a mandar un dedo”, la amenazaron después. Tras el pago de 10 mil dólares y joyas que fueron entregadas en inmediaciones del Puente Cargill, de esa localidad, el joven fue liberado con algunos cortes y fracturas que le provocaron durante el cautiverio. En base a la pesquisa, los fiscales requirieron para..."})"
                                                               ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 's': expected 'a/A' (line 1, column 228 (offset: 227))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.elterritorio.com.ar/noticias/2021/10/23/724858-piden-procesar-al-lider-de-los-monos-por-el-secuestro-del-hijo-de-un-empresario" AND p.Name = "Piden procesar al líder de "Los Monos" por el secuestro del hijo de un empresario" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                    ^}
11512
11513
11514
11515
Retweeted
11516
11517
11518
Reply
11519
Regular
11520
Retweeted
11521
11522
Retweeted
11523
Regular
11524
11525
Retweeted
11526
Retweeted
11527
11528
11529
11530
Retweeted
11531
Retweeted
11532
11533
11534
11535
Regular
11536
11537
11538
Retweeted
11539
11540
Regular
11541
11542
11543
11544
Reply
11545
11546
11547
11548
11549
11550
11551
Regular
11552
Retweeted
11553
Regular
11554
Retweeted
11555
11556
11557
Retweeted
11558
Quote tweet
11559
11560
11561
11562
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'd': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 44 (offset: 43))
"MERGE (e:Entity {Type:"autoID", Name:'FIRE'd'})"
                                            ^}
11563
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 56 (offset: 55))
"MERGE (p:Post {Type:"news", Name:"Pidieron procesar a "Guille" Cantero por secuestrar al hijo de un empresario cuando fue a comprar drogas", Date:"2021-10-23T12:29:31.000+0000", Link:"https://sinmordaza.com/noticia/237190-pidieron-procesar-a-guille-cantero-por-secuestrar-al-hijo-de-un-empresario-cuando-fue-a-comprar-drogas.html", Language:"es", Text:"...voy a mandar un dedo”, la amenazaron después. Tras el pago de 10 mil dólares y joyas que fueron entregadas en inmediaciones del Puente Cargill, de esa localidad, el joven fue liberado con algunos cortes y fracturas que le provocaron durante el cautiverio. En base a la pesquisa, los fiscales requirieron para Cantero, nueve hombres y tres mujeres el..."})"
                                                        ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 226 (offset: 225))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://sinmordaza.com/noticia/237190-pidieron-procesar-a-guille-cantero-por-secuestrar-al-hijo-de-un-empresario-cuando-fue-a-comprar-drogas.html" AND p.Name = "Pidieron procesar a "Guille" Cantero por secuestrar al hijo de un empresario cuando fue a comprar drogas" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                  ^}
11564
11565
11566
11567
11568
Regular
11569
11570
Retweeted
11571
11572
Reply
11573
11574
Regular
11575
11576
11577
11578
11579
11580
Retweeted
11581
[{'code': 179, 'message': 'Sorry, you are not authorized to see this status.'}]
twitter
failed
11582
Reply
11583
Retweeted
11584
11585
11586
11587
11588
Reply
11589
11590
11591
11592
11593
11594
Reply
11595
Retweeted
11596
Regular
11597
11598
11599
Reply
11600
Reply
11601
Reply
11602
Reply
11603
Reply
11604
Reply
11605
Reply
11606
Retweeted
11607
11608
Regular
11609
11610
Retweeted
11611
11612
Retweeted
11613
Regular
11614
11615
Retweeted
11616
11617
Reply
11618
11619
11620
Reply
11621
11622
Retweeted
11623
Retweeted
11624
Retweeted
11625
Retweeted
11626
11627
11628
Retweeted
11629
Retweeted
11630
Reply
11631
11632
11633
11634
Retweeted
11635

11636
Retweeted
11637
11638
11639
11640
Retweeted
11641
11642
11643
Retweeted
11644
11645
Retweeted
11646
11647
11648
11649
11650
11651
11652
Retweeted
11653
11654
11655
Regular
11656
11657
11658
Retweeted
11659
11660
11661
11662
11663
11664
11665
11666
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 63 (offset: 62))
"MERGE (p:Post {Type:"news", Name:"Piden procesar al líder de "Los Monos" por el secuestro del hijo de un empresario", Date:"2021-10-23T09:38:48.000+0000", Link:"https://noticianorte.com/piden-procesar-al-lider-de-los-monos-por-el-secuestro-del-hijo-de-un-empresario/", Language:"es", Text:"...inmediaciones del Puente Cargill, de esa localidad, el joven fue liberado con algunos cortes y fracturas que le provocaron durante el cautiverio. En base a la pesquisa, los fiscales requirieron para Cantero, nueve hombres y tres mujeres el procesamiento por los delitos de «secuestro extorsivo agravado por haberse cobrado el rescate exigido, por..."})"
                                                               ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 's': expected 'a/A' (line 1, column 195 (offset: 194))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://noticianorte.com/piden-procesar-al-lider-de-los-monos-por-el-secuestro-del-hijo-de-un-empresario/" AND p.Name = "Piden procesar al líder de "Los Monos" por el secuestro del hijo de un empresario" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                   ^}
11667
11668
11669
Retweeted
11670
11671
11672
11673
Regular
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'i': expected 'e/E' (line 1, column 112 (offset: 111))
"MATCH (e:Entity {ID:"43358159", Type:"TwitterAccount", Name:'gerardfwynn'}) SET e.Description = "LFC fan and "disgrace to cycling"", e.Followers =762, e.Location = "", e.Verified = False"
                                                                                                                ^}
11674
Retweeted
11675
11676
Regular
11677
11678
11679
11680
Quote tweet
11681
11682
11683
Retweeted
11684
11685
11686
11687
11688
Regular
11689
Retweeted
11690
Retweeted
11691
Regular
11692
11693
Retweeted
11694
11695
11696
11697
11698
11699
11700
Regular
11701
11702
Retweeted
11703
11704
11705
11706
11707
Retweeted
11708
11709
11710
11711
11712
Regular
11713
Regular
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 49 (offset: 48))
"MERGE (e:Entity {Type:"autoID", Name:'JDE Peet's'})"
                                                 ^}
11714
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 49 (offset: 48))
"MERGE (e:Entity {Type:"autoID", Name:'JDE Peet's'})"
                                                 ^}
11715
11716
11717
Reply
11718
11719
Retweeted
11720
11721
11722
11723
11724
11725
Retweeted
11726
11727
Retweeted
11728
11729
11730
Retweeted
11731
11732
Regular
11733
11734
Retweeted
11735
11736
11737
Regular
11738
11739
11740
11741
11742
11743
Retweeted
11744
11745
Retweeted
11746
Regular
11747
11748
11749
Regular
11750
Regular
11751
Retweeted
11752
Reply
11753
11754
11755
11756
Retweeted
11757
11758
11759
11760
Retweeted
11761
Retweeted
11762
11763
11764
11765
11766
11767
Retweeted
11768
11769
Retweeted
11770
Retweeted
11771
11772
Retweeted
11773
11774
11775
11776
11777
11778
11779
Retweeted
11780
11781
Retweeted
11782
11783
Quote tweet
11784
11785
Regular
11786
11787
Reply
11788
11789
11790
11791
11792
Retweeted
11793
11794
Retweeted
11795
Reply
11796
11797
Retweeted
11798
11799
11800
11801
11802
Retweeted
11803
11804
11805
11806
11807
Retweeted
11808
11809
Retweeted
11810
11811
Retweeted
11812
Retweeted
11813
Regular
11814
Retweeted
11815
Retweeted
11816
Retweeted
11817
Retweeted
11818
Retweeted
11819
11820
11821
11822
11823
Regular
11824
11825
11826
Regular
11827
11828
11829
Reply
11830
Retweeted
11831
11832
Retweeted
11833
Retweeted
11834
Retweeted
11835
11836
11837
Retweeted
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'l': expected 'n/N' (line 2, column 3 (offset: 167))
""El tigre y el león pueden ser los más fuertes, pero el lobo no trabaja para el circo".", e.Followers =1426, e.Location = "Córdoba, Argentina", e.Verified = False"
   ^}
11838
Retweeted
11839
Reply
11840
11841
11842
Reply
11843
Retweeted
11844
11845
11846
11847
11848
Regular
11849
11850
11851
Retweeted
11852
11853
Reply
11854
Regular
11855
Reply
11856
11857
11858
11859
11860
Reply
11861
Regular
11862
Retweeted
11863
Reply
11864
Reply
11865
Regular
11866
11867
Reply
11868
Regular
11869
Reply
11870
11871
11872
11873
Retweeted
11874
Retweeted
11875
Reply
11876
Quote tweet
11877
Reply
11878
11879
Reply
11880
11881
Quote tweet
11882
Reply
11883
Reply
11884
11885
11886
11887
11888
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
11889
Regular
11890
11891
11892
11893
11894
Retweeted
11895
Retweeted
11896
11897
Retweeted
11898
11899
11900
Retweeted
11901
Retweeted
11902
Retweeted
11903
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 63 (offset: 62))
"MERGE (p:Post {Type:"news", Name:"Piden procesar al líder de "Los Monos" por el secuestro del hijo de un empresario", Date:"2021-10-23T01:49:45.000+0000", Link:"https://www.telam.com.ar/notas/202110/572574-lider--los-monos-secuestro--hijo-empresario.html", Language:"es", Text:"...pago de 10 mil dólares y joyas que fueron entregadas en inmediaciones del Puente Cargill, de esa localidad, el joven fue liberado con algunos cortes y fracturas que le provocaron durante el cautiverio. En base a la pesquisa, los fiscales requirieron para Cantero, nueve hombres y tres mujeres el procesamiento por los delitos de secuestro extorsivo..."})"
                                                               ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 's': expected 'a/A' (line 1, column 183 (offset: 182))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.telam.com.ar/notas/202110/572574-lider--los-monos-secuestro--hijo-empresario.html" AND p.Name = "Piden procesar al líder de "Los Monos" por el secuestro del hijo de un empresario" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                       ^}
11904
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 63 (offset: 62))
"MERGE (p:Post {Type:"news", Name:"Piden procesar al líder de "Los Monos" por el secuestro del hijo de un empresario", Date:"2021-10-23T01:49:38.000+0000", Link:"https://ahora.com.ar/piden-procesar-al-lider-los-monos-el-secuestro-del-hijo-un-empresario-n4248831", Language:"es", Text:"...hijo, viste la foto que te mandé, le voy a mandar un dedo”, la amenazaron después. Tras el pago de 10 mil dólares y joyas que fueron entregadas en inmediaciones del Puente Cargill, de esa localidad, el joven fue liberado con algunos cortes y fracturas que le provocaron durante el cautiverio. En base a la pesquisa, los fiscales requirieron para..."})"
                                                               ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 's': expected 'a/A' (line 1, column 189 (offset: 188))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://ahora.com.ar/piden-procesar-al-lider-los-monos-el-secuestro-del-hijo-un-empresario-n4248831" AND p.Name = "Piden procesar al líder de "Los Monos" por el secuestro del hijo de un empresario" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                             ^}
11905
11906

Retweeted
11907
11908
11909
11910
11911
11912
Reply
11913
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 63 (offset: 62))
"MERGE (p:Post {Type:"news", Name:"Piden procesar al líder de "Los Monos" por el secuestro del hijo de un empresario", Date:"2021-10-23T01:39:11.000+0000", Link:"https://www.radiolavoz.com.ar/policiales/2021/10/22/piden-procesar-al-lider-de-los-monos-por-el-secuestro-del-hijo-de-un-empresario-19120.html", Language:"es", Text:"..., viste la foto que te mandé, le voy a mandar un dedo”, la amenazaron después. Tras el pago de 10 mil dólares y joyas que fueron entregadas en inmediaciones del Puente Cargill, de esa localidad, el joven fue liberado con algunos cortes y fracturas que le provocaron durante el cautiverio. En base a la pesquisa, los fiscales requirieron para Cantero..."})"
                                                               ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 's': expected 'a/A' (line 1, column 232 (offset: 231))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.radiolavoz.com.ar/policiales/2021/10/22/piden-procesar-al-lider-de-los-monos-por-el-secuestro-del-hijo-de-un-empresario-19120.html" AND p.Name = "Piden procesar al líder de "Los Monos" por el secuestro del hijo de un empresario" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                        ^}
11914
Retweeted
11915
Retweeted
11916
11917
11918
11919
11920
11921
11922
11923
11924
11925
11926
Retweeted
11927
11928
11929
11930
11931
11932
Retweeted
11933
11934
11935
11936
11937
11938
Retweeted
11939
Retweeted
11940
11941
11942
11943
Retweeted
11944
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 63 (offset: 62))
"MERGE (p:Post {Type:"news", Name:"Piden procesar al líder de "Los Monos" por el secuestro del hijo de un empresario", Date:"2021-10-23T00:32:10.000+0000", Link:"https://www.corrienteshoy.com/policiales/piden-procesar-al-lider-de-los-monos-por-el-secuestro-del-hijo-de-un-empresario.htm", Language:"es", Text:"..., viste la foto que te mandé, le voy a mandar un dedo”, la amenazaron después. Tras el pago de 10 mil dólares y joyas que fueron entregadas en inmediaciones del Puente Cargill, de esa localidad, el joven fue liberado con algunos cortes y fracturas que le provocaron durante el cautiverio. En base a la pesquisa, los fiscales requirieron para Cantero..."})"
                                                               ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 's': expected 'a/A' (line 1, column 214 (offset: 213))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.corrienteshoy.com/policiales/piden-procesar-al-lider-de-los-monos-por-el-secuestro-del-hijo-de-un-empresario.htm" AND p.Name = "Piden procesar al líder de "Los Monos" por el secuestro del hijo de un empresario" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                      ^}
11945
Retweeted
11946
11947
11948
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 53 (offset: 52))
"MERGE (p:Post {Type:"news", Name:"Piden procesar a "Guille" Cantero por el secuestro del hijo de un empresario", Date:"2021-10-23T00:21:40.000+0000", Link:"https://www.airedesantafe.com.ar/policiales/piden-procesar-guille-cantero-el-secuestro-del-hijo-un-empresario-n227279", Language:"es", Text:"...porque voy a empezar a verduguear a tu hijo, viste la foto que te mandé, le voy a mandar un dedo”, la amenazaron después. Tras el pago de 10 mil dólares y joyas que fueron entregadas en inmediaciones del Puente Cargill, de esa localidad, el joven fue liberado con algunos cortes y fracturas que le provocaron durante el cautiverio. En base a la..."})"
                                                     ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'G': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 195 (offset: 194))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.airedesantafe.com.ar/policiales/piden-procesar-guille-cantero-el-secuestro-del-hijo-un-empresario-n227279" AND p.Name = "Piden procesar a "Guille" Cantero por el secuestro del hijo de un empresario" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                   ^}
11949
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '메': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 36 (offset: 35))
"MERGE (p:Post {Type:"news", Name:""메타버스+AI=???"", Date:"2021-10-23T00:18:45.000+0000", Link:"https://www.smartcitytoday.co.kr/news/articleView.html?idxno=21728", Language:"ko", Text:"...(Star Labs) 대표가 ‘AI가 이끄는 메타버스의 세계'라는 제목으로 강연을 할 예정으로 관심을 모으고 있다. ▷특정 산업군에 적용된 AI 기술 사례를 들여다보는 시간도 마련되어 있다. △농업 분야에서는 세계 최대 곡물 기업 가운데 하나이자 애그리테크 AI를 선도하는 카길 애그리퓨리나 코리아 이일석 이사가 축산의 패러다임을 바꾸는 AI 기술과 활용 노하우를 공유한다. △제약 분야에서는 아스트라제네카 바이바브 베르단(Vaibhav Verdhan) 리더가 코로나19 시대에 AI가 어떻게 의료 현장에 사용되고 있는지를 소개할 예정이다. 이 밖에 세계적인 운송 기업 DHL의 디지털 트랜스포메이션 및 AI 적용 사례 등 게임..."})"
                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input '메': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 127 (offset: 126))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.smartcitytoday.co.kr/news/articleView.html?idxno=21728" AND p.Name = ""메타버스+AI=???"" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                               ^}
11950
11951
11952
Retweeted
11953
11954
11955
11956
11957
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 73 (offset: 72))
"MERGE (p:Post {Type:"news", Name:"Santa Fe: piden procesar al líder de "Los Monos" por el secuestro del hijo de un empresario", Date:"2021-10-23T00:06:07.000+0000", Link:"http://carmendearecodigital.com.ar/contenido/12183/santa-fe-piden-procesar-al-lider-de-los-monos-por-el-secuestro-del-hijo-de-un-em", Language:"es", Text:"...calles Simöacute;n Bolívar y Bomberos Voluntarios, de Villa Gobernador Gäacute;lvez-, donde permaneciöacute; cautiva unas dos horas, periodo en que los secuestradores se comunicaron con sus padres y les exigieron dinero por su liberaciöacute;n. Tras el pago de 10 mil döacute;lares y joyas que fueron entregadas en las inmediaciones del Puente Cargill, de..."})"
                                                                         ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 's': expected 'a/A' (line 1, column 231 (offset: 230))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://carmendearecodigital.com.ar/contenido/12183/santa-fe-piden-procesar-al-lider-de-los-monos-por-el-secuestro-del-hijo-de-un-em" AND p.Name = "Santa Fe: piden procesar al líder de "Los Monos" por el secuestro del hijo de un empresario" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                       ^}
11958

11959
11960
11961
11962
Regular
11963
11964
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 45 (offset: 44))
"MERGE (e:Entity {Type:"autoID", Name:'Divi's Laboratories Ltd.'})"
                                             ^}
11965
11966
Retweeted
11967
Regular
11968
Retweeted
11969
Reply
11970
11971
11972
11973
11974
Regular
11975
Retweeted
11976
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 58 (offset: 57))
"MERGE (e:Entity {Type:"autoID", Name:'Michael B. Jordan's'})"
                                                          ^}
11977
Reply
11978
11979
Retweeted
11980
Retweeted
11981
11982
11983
11984
11985
11986
Reply
11987
Retweeted
11988
Retweeted
11989
11990
11991
Regular
11992
11993
11994
11995
11996
Retweeted
11997
11998
11999
Retweeted
12000
Retweeted
12001
12002
12003
Retweeted
12004
12005
Reply
12006
12007
12008
12009
12010
Regular
12011
12012
Regular
12013
12014
Reply
12015
12016
12017
12018
Retweeted
12019
Retweeted
12020
12021
12022
12023
Quote tweet
12024
12025
12026
12027
12028
12029
12030
Retweeted
12031
12032
Regular
12033
12034
12035
Reply
12036
12037
12038
Regular
12039
12040
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 63 (offset: 62))
"MERGE (p:Post {Type:"news", Name:"Piden procesar al líder de "Los Monos" por el secuestro del hijo de un empresario", Date:"2021-10-22T21:47:15.000+0000", Link:"http://www.impactocorrientes.com/notix/noticia/203680_piden_procesar_al_l%C3%ADder_de_los_monos_por_el_secuestro_del_hijo_de_un_empresario.htm", Language:"es", Text:"...hijo, viste la foto que te mandé, le voy a mandar un dedo”, la amenazaron después. Tras el pago de 10 mil dólares y joyas que fueron entregadas en inmediaciones del Puente Cargill, de esa localidad, el joven fue liberado con algunos cortes y fracturas que le provocaron durante el cautiverio. En base a la pesquisa, los fiscales requirieron para..."})"
                                                               ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 's': expected 'a/A' (line 1, column 232 (offset: 231))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.impactocorrientes.com/notix/noticia/203680_piden_procesar_al_l%C3%ADder_de_los_monos_por_el_secuestro_del_hijo_de_un_empresario.htm" AND p.Name = "Piden procesar al líder de "Los Monos" por el secuestro del hijo de un empresario" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                        ^}
12041
12042
12043
12044
Retweeted
12045
12046
Retweeted
12047
12048
Retweeted
12049
12050
12051
Retweeted
12052
12053
Retweeted
12054
12055
12056
Retweeted
12057
12058
12059
12060
Quote tweet
12061
12062
12063
12064
12065
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 63 (offset: 62))
"MERGE (p:Post {Type:"news", Name:"Piden procesar al líder de "Los Monos" por el secuestro del hijo de un empresario", Date:"2021-10-22T21:27:01.000+0000", Link:"http://examedia.com.ar/post.php?id=40467599", Language:"es", Text:"...a los muchachos porque voy a empezar a verduguear a tu hijo, viste la foto que te mandé, le voy a mandar un dedo”, la amenazaron después. Tras el pago de 10 mil dólares y joyas que fueron entregadas en inmediaciones del Puente Cargill, de esa localidad, el joven fue liberado con algunos cortes y fracturas que le provocaron durante el cautiverio. En..."})"
                                                               ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 's': expected 'a/A' (line 1, column 133 (offset: 132))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://examedia.com.ar/post.php?id=40467599" AND p.Name = "Piden procesar al líder de "Los Monos" por el secuestro del hijo de un empresario" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                     ^}
12066
Reply
12067
12068
12069
12070
12071
Retweeted
12072
Retweeted
12073
Retweeted
12074
12075
12076
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 63 (offset: 62))
"MERGE (p:Post {Type:"news", Name:"Piden procesar al líder de "Los Monos" por el secuestro del hijo de un empresario", Date:"2021-10-22T21:18:14.000+0000", Link:"https://periodismovivo.com.ar/ultimas-noticias/piden-procesar-al-lider-de-los-monos-por-el-secuestro-del-hijo-de-un-empresario-00325939.html", Language:"es", Text:"...inmediaciones del Puente Cargill, de esa localidad, el joven fue liberado con algunos cortes y fracturas que le provocaron durante el cautiverio. En base a la pesquisa, los fiscales requirieron para Cantero, nueve hombres y tres mujeres el procesamiento por los delitos de “secuestro extorsivo agravado por haberse cobrado el rescate exigido, por haberle..."})"
                                                               ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 's': expected 'a/A' (line 1, column 230 (offset: 229))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://periodismovivo.com.ar/ultimas-noticias/piden-procesar-al-lider-de-los-monos-por-el-secuestro-del-hijo-de-un-empresario-00325939.html" AND p.Name = "Piden procesar al líder de "Los Monos" por el secuestro del hijo de un empresario" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                      ^}
12077
Retweeted
12078
12079
12080
12081
12082
12083
Retweeted
12084
12085
12086
12087
12088
12089
12090
12091
12092
12093
12094
12095
12096
12097
Retweeted
12098
12099
Retweeted
12100
Retweeted
12101
12102
12103
12104
12105
12106
12107
Retweeted
12108
Retweeted
12109
12110
Retweeted
12111
12112
12113
12114
12115
12116
12117
12118
Retweeted
12119
12120
12121
12122
Retweeted
12123
12124
12125
Regular
12126
12127
Regular
12128
12129
12130
12131
Retweeted
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'i': expected 't/T' or 'e/E' (line 1, column 114 (offset: 113))
"MATCH (e:Entity {ID:"979792017533423617", Type:"TwitterAccount", Name:'EriRodriguez111'}) SET e.Description = ""Si el mundo no comparte las vacunas, el virus compartirá el mundo”.  Gao Fu", e.Followers =105, e.Location = "", e.Verified = False"
                                                                                                                  ^}
12132
Retweeted
12133
Retweeted
12134
Retweeted
12135
Retweeted
12136
12137
12138
12139
Retweeted
12140
12141
Retweeted
12142
Retweeted
12143
Retweeted
12144
Quote tweet
12145
12146
12147
Regular
12148
Regular
12149
Retweeted
12150
Retweeted
12151
12152
12153
12154
12155
12156
12157
12158
12159
Retweeted
12160
12161
Retweeted
12162
Retweeted
12163
12164
12165
12166
12167
12168
12169
Retweeted
12170
12171
12172
12173
Regular
12174
Retweeted
12175
12176
Retweeted
12177
12178
Retweeted
12179
12180
Retweeted
12181
12182
12183
Retweeted
12184

12185
Reply
12186
Retweeted
12187
12188
12189
12190
Retweeted
12191
12192
Retweeted
12193
Retweeted
12194
12195
Regular
12196
12197
Retweeted
12198
12199
12200
12201
12202
Retweeted
12203
Retweeted
12204
12205
Regular
12206
12207
12208
Reply
12209
12210
Retweeted
12211
12212
Retweeted
12213
12214
12215
12216
12217
Retweeted
12218
12219
12220
Retweeted
12221
12222
Reply
12223
Retweeted
12224
12225
12226
12227
Retweeted
12228
12229
Retweeted
12230
Retweeted
12231
Retweeted
12232
12233
Retweeted
12234
12235
Retweeted
12236
12237
12238
Retweeted
12239
12240
Retweeted
12241
12242
12243
Retweeted
12244
12245
Retweeted
12246
Regular
12247
12248
12249
Retweeted
12250
Retweeted
12251
Retweeted
12252
12253
12254
12255
Quote tweet
12256
12257
12258
12259
12260
Retweeted
12261
12262
12263
Retweeted
12264
12265
12266
12267
12268
Retweeted
12269
Retweeted
12270
Retweeted
12271
12272
12273
12274
12275
12276
12277
12278
12279
Retweeted
12280
12281
12282
12283
12284
Retweeted
12285
12286
12287
Retweeted
12288
12289
Retweeted
12290
Retweeted
12291
12292
Retweeted
12293
Reply
12294
12295
Regular
12296
12297
12298
Retweeted
12299
12300
Regular
12301
12302
12303
12304
12305
12306
12307
12308
12309
12310
12311
12312
12313
12314
12315
12316
12317
12318
12319
12320
Regular
12321
12322
12323
12324
Retweeted
12325
12326
12327
12328
Retweeted
12329
Regular
12330
12331
12332
12333
12334
12335
12336
12337
Regular
12338
12339
12340
12341
12342
Regular
12343
12344
12345
12346
12347
12348
12349
12350
12351
12352
12353
12354
12355
Regular
12356
12357
Query failed: {code: Neo.DatabaseError.General.UnknownError} {message: Lexical error at line 1, column 54.  Encountered: <EOF> after : ""}
12358
12359
12360
Regular
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 50 (offset: 49))
"MERGE (e:Entity {Type:"autoID", Name:'Sainsbury's'})"
                                                  ^}
12361
12362
12363
12364
12365
12366
12367
12368
12369
12370
12371
12372
Regular
12373
12374
12375
12376
12377
12378
12379
12380
12381
12382
Regular
12383
Retweeted
12384
12385
12386
12387
12388
12389
Retweeted
12390
12391
Regular
12392
12393
Retweeted
12394
12395
12396
12397
12398
Retweeted
12399
12400
12401
12402
12403
Reply
12404
12405
12406
12407
12408
12409
Retweeted
12410
12411
12412
12413
Reply
12414
Quote tweet
12415
12416
Regular
12417
12418
12419
Regular
12420
Regular
12421
Quote tweet
12422
12423
12424
12425
12426
Retweeted
12427
Regular
12428
12429
12430
Retweeted
12431
12432
12433
12434
12435
12436
12437
12438
12439
12440
12441
Regular
12442
12443
12444
Regular
12445
12446
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 63 (offset: 62))
"MERGE (p:Post {Type:"news", Name:"Piden procesar al líder de "Los Monos" por el secuestro del hijo de un empresario", Date:"2021-10-22T15:16:54.000+0000", Link:"https://www.eldestapeweb.com/policiales/santa-fe/piden-procesar-al-lider-de-los-monos-por-el-secuestro-del-hijo-de-un-empresario-202110229530", Language:"es", Text:"..., de Villa Gobernador Gálvez-, donde permaneció cautiva unas dos horas, periodo en que los secuestradores se comunicaron con sus padres y les exigieron dinero por su liberación. Tras el pago de 10 mil dólares y joyas que fueron entregadas en las inmediaciones del Puente Cargill, de esa localidad, el joven fue liberado con algunos cortes y fracturas..."})"
                                                               ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 's': expected 'a/A' (line 1, column 231 (offset: 230))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.eldestapeweb.com/policiales/santa-fe/piden-procesar-al-lider-de-los-monos-por-el-secuestro-del-hijo-de-un-empresario-202110229530" AND p.Name = "Piden procesar al líder de "Los Monos" por el secuestro del hijo de un empresario" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                       ^}
12447
12448
12449
12450
12451
12452
Regular
12453
12454
12455
12456
12457
12458
12459
12460
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 73 (offset: 72))
"MERGE (p:Post {Type:"news", Name:"Solicitan el procesamiento de uno de "Los Monos" por un secuestro extorsivo : : El Litoral - Noticias - Santa Fe - Argentina - ellitoral.com : :", Date:"2021-10-22T15:05:53.000+0000", Link:"http://www.ellitoral.com/index.php/id_um/324807-solicitan-el-procesamiento-de-uno-de-los-monos-por-un-secuestro-extorsivo-rosario-sucesos-rosario.html", Language:"es", Text:"...mil döacute;lares y joyas, que fueron entregadas en las inmediaciones del Puente Cargill de la misma localidad, el joven fue liberado. Durante su cautiverio, la víctima fue cortada con un cuchillo y golpeada, lo que le provocöacute; fracturas en un dedo, una mano y un codo, y le robaron toda la indumentaria que vestía. En virtud de las pruebas..."})"
                                                                         ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 's': expected 'a/A' (line 1, column 250 (offset: 249))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.ellitoral.com/index.php/id_um/324807-solicitan-el-procesamiento-de-uno-de-los-monos-por-un-secuestro-extorsivo-rosario-sucesos-rosario.html" AND p.Name = "Solicitan el procesamiento de uno de "Los Monos" por un secuestro extorsivo : : El Litoral - Noticias - Santa Fe - Argentina - ellitoral.com : :" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                          ^}
12461
Quote tweet
12462
Regular
12463
Regular
12464
Reply
12465
Reply
12466
12467
Reply
12468
12469
12470
12471
Retweeted
12472
12473
12474
12475
12476
12477
Quote tweet
12478
12479
12480
12481
12482
Retweeted
12483
Retweeted
12484
12485
Quote tweet
12486
12487
Retweeted
12488
12489
Retweeted
12490
Retweeted
12491
12492
12493
Regular
12494
12495
12496
12497
Retweeted
12498
12499
12500
12501
12502
12503
12504
12505
unsupported operand type(s) for +: 'NoneType' and 'str'
review
failed
12506
12507
12508
Retweeted
12509
12510
Retweeted
12511
12512
12513
12514
12515
Regular
12516
12517
Retweeted
12518
Retweeted
12519
Retweeted
12520
12521
12522
12523
Reply
12524
12525
12526
Reply
12527
12528
Reply
12529
12530
12531
12532
12533
12534
12535
12536
12537
12538
12539
Regular
12540
12541
12542
12543
12544
12545
12546
12547
12548
12549
12550
Regular
12551
12552
12553
Regular
12554
12555
Retweeted
12556
Retweeted
12557
12558
Regular
12559
12560
Retweeted
12561
Retweeted
12562
Retweeted
12563
12564
12565
12566
12567
Regular
12568
Regular
12569
Regular
12570
Regular
12571
12572
Retweeted
12573
12574
12575
Retweeted
12576
12577
12578
Regular
12579
Quote tweet
12580
12581
12582
Retweeted
12583
Retweeted
12584
12585
12586
Retweeted
12587
Retweeted
12588
Regular
12589
12590
12591
12592
Quote tweet
12593
12594
12595
12596
Retweeted
12597
Reply
12598
12599
Regular
12600
12601
Regular
12602
Retweeted
12603
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'm': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 94 (offset: 93))
"MERGE (p:Post {Type:"redditPost", Name:"The Tyranids, if the current hive fleets really are "merely scouts" are a corner GW wrote itself in to; No possible pay off will work out.", Date:"2021-10-22T13:17:41.000+0000", Link:"https://www.reddit.com/r/40kLore/comments/qd5538/the_tyranids_if_the_current_hive_fleets_really/hhm769d/", Language:"en", Text:"What about other options? They are essentially two reflavours of a same concept, a doomed giant, but I'm still proud to share them: 1) Tyranids are really uncountable and they are really running from Anasurimbor Kellhus huehuehue something that managed to scare even them. But it is more like a fire survivors running into a cold forest in a winter night in a fatal panic. The reasons of their behaviour are no longer there, they are irrelevant. But in a bigger picture every conquest move they dare, every slightest step of cognition in their tremendous intelligence, every new efficiency achieved is just their equivalent of slowly freezing, curling under a tree and fading away while snow falls silently around. Or like a tsunami wave: they'll destroy a lot in their direct path, but they won't remain. 2) Tyranids are a food stash of deep Warp inhabitants (not Big Four or other upper Warp dwellers like lesser demons). A big larder of creatures fully capable of feeding Warp with emotions and other complex behaviours, but in a switched off state. Once in a while when they finally eat a lot of lesser life the switch activates (orcs2krorks much) and deep warp get's its exorbitant snack all while tyranids cull themselves to a more basic state. I mean, where Big Four are essentially primitive farmers cultivating their preferred versions of humanity/eldar/etc., there deep Warp is agricultural MNC like Cargill or Bayer-Monsanto which cultivates tyranids on a whole new level. Shadow in the Warp is just proprietary technology, a security measure to keep riff-raffs (like Knorne) from stealing food."})"
                                                                                              ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'e': expected 'g/G' (line 1, column 98 (offset: 97))
"MATCH (p:Post), (t:Post) WHERE p.Name = "The Tyranids, if the current hive fleets really are "merely scouts" are a corner GW wrote itself in to; No possible pay off will work out." AND p.Link = "https://www.reddit.com/r/40kLore/comments/qd5538/the_tyranids_if_the_current_hive_fleets_really/hhm769d/" AND p.Type = "redditPost" AND t.Name = "https://www.reddit.com/r/40kLore/comments/qd5538/the_tyranids_if_the_current_hive_fleets_really/" AND t.Type = "SubredditThread" CREATE (p)-[r:REPLIED_TO]->(t)"
                                                                                                  ^}

12604
Retweeted
12605
12606
Regular
12607
12608
12609
Retweeted
12610
Retweeted
12611
12612
12613
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 73 (offset: 72))
"MERGE (p:Post {Type:"news", Name:"Santa Fe: piden procesar al líder de "Los Monos" por el secuestro del hijo de un empresario", Date:"2021-10-22T13:05:43.000+0000", Link:"https://carmendearecodigital.com.ar/contenido/12183/santa-fe-piden-procesar-al-lider-de-los-monos-por-el-secuestro-del-hijo-de-un-em", Language:"es", Text:"..., de Villa Gobernador Gálvez-, donde permaneció cautiva unas dos horas, periodo en que los secuestradores se comunicaron con sus padres y les exigieron dinero por su liberación. Tras el pago de 10 mil dólares y joyas que fueron entregadas en las inmediaciones del Puente Cargill, de esa localidad, el joven fue liberado con algunos cortes y fracturas..."})"
                                                                         ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 's': expected 'a/A' (line 1, column 232 (offset: 231))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://carmendearecodigital.com.ar/contenido/12183/santa-fe-piden-procesar-al-lider-de-los-monos-por-el-secuestro-del-hijo-de-un-em" AND p.Name = "Santa Fe: piden procesar al líder de "Los Monos" por el secuestro del hijo de un empresario" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                        ^}
12614
12615
12616
Retweeted
12617
12618
Retweeted
12619
Regular
12620
Retweeted
12621
12622
12623
12624
12625
12626
Retweeted
12627
Retweeted
12628
Retweeted
12629
12630
Regular
12631
12632
12633
12634
Regular
12635
Retweeted
12636
[{'code': 34, 'message': 'Sorry, that page does not exist.'}]
twitter
failed
12637
Retweeted
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'a': expected 'r/R' or 'o/O' (line 2, column 3 (offset: 140))
""Fascism first causes, then thrives on, the chaos for which it presents itself as sole cure" - William Gibson", e.Followers =96, e.Location = "", e.Verified = False"
   ^}
12638
12639
Regular
12640
12641
12642
12643
Regular
12644
12645
Regular
12646
Retweeted
12647
12648
12649
12650
12651
Reply
12652
12653
12654
Retweeted
12655
12656
12657
12658
12659
12660
Reply
12661
12662
12663
12664
Retweeted
12665
12666
12667
Reply
12668
12669
12670
12671
Retweeted
12672
12673
12674
12675
12676
12677
12678
Regular
12679
12680
Regular
12681
12682
12683
12684
Retweeted
12685
12686
12687
12688
12689
12690
12691
12692
12693
12694
12695
Regular
12696
12697
12698
12699
12700
12701
12702
12703
12704
12705
Retweeted
12706
12707
12708
12709
12710
Regular
12711
12712
12713
12714
Retweeted
12715
12716
12717
Retweeted
12718
12719
Regular
12720
Reply
12721
12722
Retweeted
12723
12724
12725
Retweeted
12726
12727
12728
12729
12730
Retweeted
12731
Retweeted
12732
12733
12734
12735
12736
Quote tweet
12737
Quote tweet
12738
Retweeted
12739
Reply
12740
12741
12742
12743
Reply
12744
Regular
12745
12746
Retweeted
12747
Regular
12748
12749
Regular
12750
12751
Retweeted
12752
12753
12754
Retweeted
12755
12756
12757
12758
Reply
12759
Reply
12760
Retweeted
12761
Reply
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 52 (offset: 51))
"MERGE (e:Entity {Type:"autoID", Name:'Big Meat Co's'})"
                                                    ^}
12762
Retweeted
12763
12764
12765
12766
12767
12768
12769
12770
12771
Regular
12772
12773
12774
12775
12776
12777
12778
12779
Retweeted
12780
Reply
12781
Retweeted
12782
12783
12784
12785
12786
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'Ц': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 36 (offset: 35))
"MERGE (p:Post {Type:"news", Name:""Це злочин": зірки Голлівуду реагують на страшну звістку про загибель Галини Гатчінс", Date:"2021-10-22T10:30:04.000+0000", Link:"https://tabloid.pravda.com.ua/focus/61727ed27e9c1/", Language:"uk", Text:"...роботи Галини Гатчінс. Це трагічна втрата не лише для кіно, а і для багатьох із вас, хто працював із нею. Сьогодні я думаю про вас та про її родину. Моє серце крається через усіх вас, - сказав сценарист Крістофер Роберт Каргілл. Віднині у своїх фільмах я використовуватиму лише зброю для страйкболу та з гумовими кулями. Такого ніколи не мало би..."})"
                                    ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'Ц': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 111 (offset: 110))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://tabloid.pravda.com.ua/focus/61727ed27e9c1/" AND p.Name = ""Це злочин": зірки Голлівуду реагують на страшну звістку про загибель Галини Гатчінс" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                               ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'Ц': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 111 (offset: 110))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://tabloid.pravda.com.ua/focus/61727ed27e9c1/" AND p.Name = ""Це злочин": зірки Голлівуду реагують на страшну звістку про загибель Галини Гатчінс" AND e.Type = "autoID" AND e.Name ="Twitter" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                               ^}
12787
Regular
12788
12789
12790
12791
Retweeted
12792
12793
Regular
12794
12795
12796
12797
12798
Regular
12799
12800
12801
12802
12803
12804
12805
12806
12807
12808
12809
12810
12811
12812
12813
12814
12815
12816
12817
12818
12819
12820
12821
12822
Quote tweet
12823
12824
12825
12826
12827
12828
12829
12830
Retweeted
12831
12832
12833
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 73 (offset: 72))
"MERGE (p:Post {Type:"news", Name:"Solicitan el procesamiento de uno de "Los Monos" por un secuestro extorsivo", Date:"2021-10-22T09:59:13.000+0000", Link:"https://www.ellitoral.com/index.php/id_um/324807-solicitan-el-procesamiento-de-uno-de-los-monos-por-un-secuestro-extorsivo-rosario-sucesos-rosario.html", Language:"es", Text:"...permaneció cautiva unas dos horas, periodo en que los secuestradores se comunicaron con su padre y madre y les exigieron dinero por su liberación. Tras el pago de aproximadamente 10 mil dólares y joyas, que fueron entregadas en las inmediaciones del Puente Cargill de la misma localidad, el joven fue liberado. Durante su cautiverio, la víctima fue..."})"
                                                                         ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 's': expected 'a/A' (line 1, column 251 (offset: 250))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "https://www.ellitoral.com/index.php/id_um/324807-solicitan-el-procesamiento-de-uno-de-los-monos-por-un-secuestro-extorsivo-rosario-sucesos-rosario.html" AND p.Name = "Solicitan el procesamiento de uno de "Los Monos" por un secuestro extorsivo" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                                           ^}
12834

Regular
12835
12836
12837
12838
12839
12840
12841
12842
12843
12844
12845
Regular
12846
12847
12848
Regular
12849
Retweeted
12850
12851
Regular
12852
Retweeted
12853
Regular
12854
12855
12856
12857
12858
12859
12860
12861
12862
12863
Retweeted
12864
12865
Retweeted
12866
Regular
12867
12868
12869
12870
12871
12872
12873
Regular
12874
12875
12876
12877
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'L': expected whitespace, comment, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Land O' Lakes'})"
                                               ^}
12878
12879
Reply
12880
12881
12882
Regular
12883
Regular
12884
Retweeted
12885
Retweeted
12886
12887
Retweeted
12888
Retweeted
12889
Retweeted
12890
Retweeted
12891
Retweeted
12892
Retweeted
12893
Retweeted
12894
Retweeted
12895
Retweeted
12896
12897
12898
12899
12900
12901
12902
12903
12904
12905
12906
12907
12908
12909
12910
Retweeted
12911
12912
12913
Retweeted
12914
Regular
12915
Retweeted
12916
12917
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'p': expected 'm/M' or 't/T' (line 1, column 226 (offset: 225))
"MATCH (e:Entity), (c:Post) WHERE e.Name = "Add or Subtract" AND e.Type = "YouTubeAuthor" AND c.Link = "https://www.youtube.com/watch?v=WT7fqunE4Vk&lc=UgwxpuCk71mXmDTL6e94AaABAg.9Tm8GysqheH9TnBIdeoLzD" AND c.Type = "youtube"Reply" CREATE (e)-[r:AUTHORED]->(c)"
                                                                                                                                                                                                                                  ^}
12918
12919
12920
12921
12922
12923
12924
12925
12926
12927
12928
Regular
12929
12930
12931
12932
12933
12934
12935
Retweeted
12936
12937
Regular
12938
Regular
12939
12940
12941
Retweeted
12942
12943
12944
12945
12946
12947
Retweeted
12948
12949
Retweeted
12950
12951
12952
12953
12954
12955
12956
12957
Retweeted
12958
12959
12960
Regular
12961
12962
Retweeted
12963
12964
12965
12966
12967
12968
12969
12970
12971
Retweeted
12972
12973
12974
Retweeted
12975
12976
12977
Regular
12978
Regular
12979
12980
Regular
12981
12982
12983
Regular
12984
12985
12986
12987
12988
12989
12990
12991
12992
Reply
12993
12994
12995
12996
12997
12998
Regular
12999
Retweeted
13000
13001
13002
13003
13004
13005
13006
13007
13008
13009
13010
Regular
13011
13012
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 't/T' (line 1, column 48 (offset: 47))
"MERGE (e:Entity {Type:"autoID", Name:'Pilgrim's Pride'})"
                                                ^}
13013
13014
13015
13016
13017
13018
Retweeted
13019
13020
13021
Retweeted
13022
Regular
13023
13024
Retweeted
13025
13026
Quote tweet
13027
13028
13029
13030
Retweeted
13031
13032
13033
Reply
13034
Retweeted
13035
13036
13037
13038
13039
Retweeted
13040
13041
Regular
13042
13043
13044
13045
13046
13047
13048
13049
Retweeted
13050
Retweeted
13051
13052
13053
13054
Retweeted
13055
13056
13057
13058
Regular
13059
Reply
13060
Retweeted
13061
Regular
13062
Retweeted
13063
Retweeted
13064
Retweeted
13065
13066
Retweeted
13067
Retweeted
13068
Regular
13069
13070
13071
13072
13073
Reply
13074
Regular
13075
Retweeted
13076
Retweeted
13077
Retweeted
13078
Retweeted
13079
Regular
13080
13081
Retweeted
13082
Regular
13083
13084
13085
Retweeted
13086
13087
13088
13089
13090
Retweeted
13091
Quote tweet
13092
13093
13094
Retweeted
13095
13096
13097
13098
13099
13100
13101
13102
13103
Retweeted
13104
13105
13106
Reply
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'B': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',', FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 208 (offset: 207))
"MATCH (e:Entity {ID:"189365211", Type:"TwitterAccount", Name:'FarmingPathogen'}) SET e.Description = "Following agriculture, infections, evolution, dialectical biology, and the practice of science. Author, "Big Farms Make Big Flu" and "Dead Epidemiologists".", e.Followers =1714, e.Location = "", e.Verified = False"
                                                                                                                                                                                                                ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ''': expected 't/T' (line 1, column 47 (offset: 46))
"MERGE (e:Entity {Type:"autoID", Name:'Big Ag's'})"
                                               ^}
13107
13108
13109
13110
13111
13112
Retweeted
13113
Regular
13114
Regular
13115
13116
13117
13118
Reply
13119
Regular
13120
13121
13122
13123
13124
13125
13126
13127
Retweeted
13128
Retweeted
13129
Regular
13130
Retweeted
13131
13132
13133
13134
13135
Retweeted
13136
Retweeted
13137
13138
13139
Quote tweet
13140
Reply
13141
13142
13143
13144
13145
13146
13147
13148
13149
13150
Retweeted
13151
13152
13153
13154
13155
13156
Retweeted
13157
13158
Regular
13159
13160
Regular
13161
Reply
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'N': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',', FROM GRAPH, USE GRAPH, CONSTRUCT, LOAD CSV, START, MATCH, UNWIND, MERGE, CREATE UNIQUE, CREATE, SET, DELETE, REMOVE, FOREACH, WITH, CALL, RETURN, UNION, ';' or end of input (line 1, column 171 (offset: 170))
"MATCH (e:Entity {ID:"1410284252982300687", Type:"TwitterAccount", Name:'KutzKurt'}) SET e.Description = "Cabinetmaker, inventor, designer. MAGA, conservative. Author of "North Americhina."    https://t.co/H9fHXSuyFq", e.Followers =1623, e.Location = "Arkansas", e.Verified = False"
                                                                                                                                                                           ^}
13162
13163
13164
13165
Retweeted
13166
13167
13168
Retweeted
13169
Regular
13170
Regular
13171
13172
13173
13174
13175
13176
13177
13178
13179
13180
13181
13182
13183
13184
13185
Retweeted
13186
13187
13188
Retweeted
13189
13190
13191
13192
13193
13194
13195
13196
13197
Retweeted
13198
Quote tweet
13199
13200
13201
13202
Reply
13203
13204
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 'n/N' or 's/S' (line 1, column 70 (offset: 69))
"MERGE (p:Post {Type:"news", Name:"San Marino. Congresso FUCS-CSdL: "I diritti devono essere fruibili in tutti i settori!"", Date:"2021-10-22T00:09:24.000+0000", Link:"http://www.libertas.sm/notizie/2021/10/21/san-marino-il-lavoro-che-d-dignit-i-diritti-devono-essere-fruibili-in-tutti-i-settori.html", Language:"it", Text:"...della sanitägrave;. ÃƒË† emblematico il fatto che ci troviamo di fronte ad un Esecutivo che un anno fa ha impegnato il paese per i prossimi decenni, inaugurando la stagione del debito senza il minimo confronto e senza la dovuta trasparenza, ha rimarcato Colombari ricordando il prestito ponte con Cargill e i 340 milioni di titolo sul mercato..."})"
                                                                      ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 'n/N' or 's/S' (line 1, column 227 (offset: 226))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.libertas.sm/notizie/2021/10/21/san-marino-il-lavoro-che-d-dignit-i-diritti-devono-essere-fruibili-in-tutti-i-settori.html" AND p.Name = "San Marino. Congresso FUCS-CSdL: "I diritti devono essere fruibili in tutti i settori!"" AND e.Type = "autoID" AND e.Name ="Saputo" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                   ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 'n/N' or 's/S' (line 1, column 227 (offset: 226))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.libertas.sm/notizie/2021/10/21/san-marino-il-lavoro-che-d-dignit-i-diritti-devono-essere-fruibili-in-tutti-i-settori.html" AND p.Name = "San Marino. Congresso FUCS-CSdL: "I diritti devono essere fruibili in tutti i settori!"" AND e.Type = "autoID" AND e.Name ="PayPal" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                   ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 'n/N' or 's/S' (line 1, column 227 (offset: 226))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.libertas.sm/notizie/2021/10/21/san-marino-il-lavoro-che-d-dignit-i-diritti-devono-essere-fruibili-in-tutti-i-settori.html" AND p.Name = "San Marino. Congresso FUCS-CSdL: "I diritti devono essere fruibili in tutti i settori!"" AND e.Type = "autoID" AND e.Name ="Cargill" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                   ^}
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input ' ': expected 'n/N' or 's/S' (line 1, column 227 (offset: 226))
"MATCH (p:Post), (e:Entity) WHERE p.Link = "http://www.libertas.sm/notizie/2021/10/21/san-marino-il-lavoro-che-d-dignit-i-diritti-devono-essere-fruibili-in-tutti-i-settori.html" AND p.Name = "San Marino. Congresso FUCS-CSdL: "I diritti devono essere fruibili in tutti i settori!"" AND e.Type = "autoID" AND e.Name ="Esecutivo" CREATE (p)-[r:MENTIONED]->(e)"
                                                                                                                                                                                                                                   ^}
13205

Retweeted
13206
13207
13208
Regular
13209
Query failed: {code: Neo.ClientError.Statement.SyntaxError} {message: Invalid input 'F': expected whitespace, '.', node labels or rel types, '[', '^', '*', '/', '%', '+', '-', "=~", IN, STARTS, ENDS, CONTAINS, IS, '=', '~', "<>", "!=", '<', '>', "<=", ">=", AND, XOR, OR, ',' or '}' (line 1, column 68 (offset: 67))
"MERGE (p:Post {Type:"forum", Name:"So as I suspected, majority of "Farms" are just giant income and tax reduction shcemes.", Date:"2021-10-22T00:04:00.000+0000", Link:"https://www.ar15.com/forums/General/So-as-I-suspected-majority-of-Farms-are-just-giant-income-and-tax-reduction-shcemes-/5-2497675/?page=5#i95436890#9e030d5965bf44814b8f628e3e625a0c", Language:"en", Text:"Quote History Originally Posted By Miami_JBT: The most productive cow-calf ranch in the country is the Deseret Ranch in FL. They're corporate owned by the Mormon Church. View Quote Ok. Still waiting on the guy to cite that half of all cereal grains are produced by agribusiness corporations. ETA: People seem to think that ADM or Cargill is out here corporate farming the land. It's not happening."})"
                                                                    ^}
13210
13211
13212
13213
Retweeted
13214
13215
13216